Repository FOSSBilling/FOSSBilling, changes with the labels that .github/labeler.yml gives for each.
All labels: tests/CI, front-end, admin-panel, composer, installer, payments, server-manager, github-config, hosting

Updated logos and favicons
  src/bb-load.php
  src/bb-modules/System/icon.png
  src/bb-themes/admin_default/favicon.ico
  src/bb-themes/admin_default/html/_sidebar.html.twig
  src/bb-themes/admin_default/images/loginLogo.png
  src/bb-themes/bootstrap/assets/images/logo.png
  src/bb-themes/boxbilling/assets/favicon.ico
  src/bb-themes/boxbilling/assets/images/box.png
  src/bb-themes/boxbilling/assets/images/boxbilling-logo.png
  src/bb-themes/boxbilling/assets/images/fb_wallet.png
  src/bb-themes/boxbilling/assets/images/hostinger-logo.png
  src/bb-themes/boxbilling/assets/images/logo-white.png
  src/bb-themes/boxbilling/assets/images/logo.png
  src/bb-themes/huraga/assets/favicon.ico
  src/bb-themes/huraga/assets/img/boxbilling-logo.png
  src/bb-themes/huraga/assets/img/template_logo.png
Labels: none

Whole numbers, bigger circle
  src/bb-load.php
Labels: none

png -> svg
  src/bb-load.php
  src/bb-themes/bootstrap/assets/images/logo.svg
  src/bb-themes/bootstrap/html/layout_default.html.twig
  src/bb-themes/bootstrap/html/mod_invoice_invoice.html.twig
  src/bb-themes/boxbilling/assets/images/fb_wallet.png
  src/bb-themes/boxbilling/assets/images/fb_wallet.svg
  src/bb-themes/boxbilling/assets/images/logo.svg
  src/bb-themes/boxbilling/html/layout_default.html.twig
  src/bb-themes/boxbilling/html/mod_invoice_invoice.html.twig
  src/install/assets/layout.html.twig
  src/install/sql/content.sql
  src/install/sql/content_test.sql
Labels: none

Add 4 new events (#174)
  src/bb-modules/Extension/Api/Admin.php
  tests/bb-modules/Extension/Api/AdminTest.php
Labels: none

Update link and styling
  src/public/css/app.css
  src/resources/views/client/layouts/app.blade.php
Labels: none

Rename HomeController to Home
  src/app/Http/Controllers/Client/Home.php
  src/routes/web.php
Labels: none

Update sail
  src/package-lock.json
  src/package.json
Labels: none

Delete fossbilling-logo.php
  src/app/View/Components/fossbilling-logo.php
Labels: none

Hyphen notice
  src/install/assets/install.html.twig
Labels: none

Hyphen notice (#190)
  src/install/assets/install.html.twig
Labels: none

Remove Discord Iframe replace with simple link
  src/install/assets/install.html.twig
Labels: none

Fix bug "DB name can't contain hypen" #189
  src/install/install.php
Labels: installer

Also reverted rephrasing add those back again
  src/install/assets/install.html.twig
Labels: none

Don't send passwords in plain text
  src/install/install.php
Labels: installer

Change footer logo
  src/bb-themes/boxbilling/html/layout_default.html.twig
Labels: none

Removed the grayscale logo of BoxBilling
  src/bb-themes/boxbilling/assets/images/boxbilling-logo.png
Labels: none

Update branding manifest
  src/bb-modules/Branding/manifest.json
Labels: none

Updated the README of the example module
  src/bb-modules/Example/README.md
Labels: none

Set dimensions so Firefox doesn't randomly decide not to render it
  src/install/assets/layout.html.twig
Labels: none

Fixed broken closing tag
  src/install/assets/install.html.twig
Labels: none

Replace hardcoded values for admin cards
  src/bb-themes/admin_default/html/mod_index_dashboard.html.twig
Labels: none

Replace hardcoded values for admin cards (#199)
  src/bb-themes/admin_default/html/mod_index_dashboard.html.twig
Labels: none

Small styling change
  README.md
Labels: none

Fix for user menu
  src/bb-themes/bootstrap/assets/css/themes/theme-cosmo.min.css
Labels: none

Added Admin Login
  src/app/Http/Controllers/Admin/SettingsController.php
  src/app/Http/Controllers/Auth/AdminAuthController.php
  src/app/Http/Middleware/Authenticate.php
  src/app/Http/Requests/Auth/AdminLoginRequest.php
  src/app/Models/Admin.php
  src/app/Providers/RouteServiceProvider.php
  src/app/View/Components/AdminLayout.php
  src/config/auth.php
  src/database/migrations/2022_09_06_125746_drop_roles_permissions_columns_admin.php
  src/resources/views/admin/auth/login.blade.php
  src/routes/admin.php
  src/routes/auth.php
Labels: none

Changed Typo with dropping Column(role was roles)
  src/database/migrations/2022_09_06_125746_drop_roles_permissions_columns_admin.php
Labels: none

Fixed redirect for admin guard
  src/app/Http/Middleware/RedirectIfAuthenticated.php
Labels: none

Drop some Legacy Tables Forum/SupportPublic/Solusvm
  src/app/Models/Forum.php
  src/app/Models/ForumTopic.php
  src/app/Models/ForumTopicMessage.php
  src/app/Models/ServiceSolusvm.php
  src/app/Models/SupportPTicket.php
  src/app/Models/SupportPTicketMessage.php
  src/app/Models/SupportPr.php
  src/app/Models/SupportPrCategory.php
  src/database/migrations/2022_08_31_201708_create_forums_table.php
  src/database/migrations/2022_08_31_201911_create_forum_topics_table.php
  src/database/migrations/2022_08_31_202111_create_forum_topic_messages_table.php
  src/database/migrations/2022_09_02_164258_create_service_solusvms_table.php
  src/database/migrations/2022_09_02_164912_create_support_p_tickets_table.php
  src/database/migrations/2022_09_02_164938_create_support_p_ticket_messages_table.php
  src/database/migrations/2022_09_02_165038_create_support_prs_table.php
  src/database/migrations/2022_09_02_165112_create_support_pr_categories_table.php
Labels: none

Moved from webpack.js to Vite.JS
  src/composer.json
  src/composer.lock
  src/package-lock.json
  src/package.json
  src/postcss.config.js
  src/resources/css/app.css
  src/resources/js/app.js
  src/resources/js/bootstrap.js
  src/resources/views/layouts/app.blade.php
  src/tailwind.config.js
  src/vite.config.js
  src/webpack.mix.js
Labels: composer

Fixed admin typo in table. Updated auth Added some Components
  src/app/Console/Commands/SetUp.php
  src/app/Http/Controllers/Admin/SettingController.php
  src/app/Http/Controllers/Client/HomeController.php
  src/app/Http/Requests/Auth/LoginRequest.php
  src/app/Models/ActivityAdminHistory.php
  src/app/Models/ActivityClientEmail.php
  src/database/migrations/2022_05_22_063303_create_admins_table.php
  src/database/migrations/2022_09_06_125746_drop_roles_permissions_columns_admin.php
  src/modules_statuses.json
  src/resources/views/auth/confirm-password.blade.php
  src/resources/views/auth/forgot-password.blade.php
  src/resources/views/auth/login.blade.php
  src/resources/views/auth/register.blade.php
  src/resources/views/auth/reset-password.blade.php
  src/resources/views/auth/verify-email.blade.php
  src/resources/views/layouts/guest.blade.php
  src/resources/views/layouts/navigation.blade.php
  src/routes/admin.php
  src/routes/web.php
Labels: none

Added some components
  src/config/auth.php
  src/resources/views/components/input-label.blade.php
  src/resources/views/components/primary-button.blade.php
  src/resources/views/components/text-input.blade.php
  src/routes/auth.php
Labels: none

Rewritten the README
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Fix building themes
  bin/install.sh
Labels: none

Add information changeing url or ports
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Append changes at the end of the file
  src/bb-themes/bootstrap/assets/css/themes/theme-cerulean.min.css
  src/bb-themes/bootstrap/assets/css/themes/theme-cosmo.min.css
  src/bb-themes/bootstrap/assets/css/themes/theme-cyborg.min.css
  src/bb-themes/bootstrap/assets/css/themes/theme-darkly.min.css
  src/bb-themes/bootstrap/assets/css/themes/theme-flatly.min.css
  src/bb-themes/bootstrap/assets/css/themes/theme-journal.min.css
  src/bb-themes/bootstrap/assets/css/themes/theme-litera.min.css
  src/bb-themes/bootstrap/assets/css/themes/theme-lumen.min.css
  src/bb-themes/bootstrap/assets/css/themes/theme-lux.min.css
  src/bb-themes/bootstrap/assets/css/themes/theme-materia.min.css
  src/bb-themes/bootstrap/assets/css/themes/theme-minty.min.css
  src/bb-themes/bootstrap/assets/css/themes/theme-morph.min.css
  src/bb-themes/bootstrap/assets/css/themes/theme-pulse.min.css
  src/bb-themes/bootstrap/assets/css/themes/theme-quartz.min.css
  src/bb-themes/bootstrap/assets/css/themes/theme-sandstone.min.css
  src/bb-themes/bootstrap/assets/css/themes/theme-simplex.min.css
  src/bb-themes/bootstrap/assets/css/themes/theme-sketchy.min.css
  src/bb-themes/bootstrap/assets/css/themes/theme-slate.min.css
  src/bb-themes/bootstrap/assets/css/themes/theme-solar.min.css
  src/bb-themes/bootstrap/assets/css/themes/theme-spacelab.min.css
  src/bb-themes/bootstrap/assets/css/themes/theme-superhero.min.css
  src/bb-themes/bootstrap/assets/css/themes/theme-united.min.css
  src/bb-themes/bootstrap/assets/css/themes/theme-vapor.min.css
  src/bb-themes/bootstrap/assets/css/themes/theme-yeti.min.css
  src/bb-themes/bootstrap/assets/css/themes/theme-zephyr.min.css
Labels: none

Update comment
  src/bb-themes/bootstrap/assets/css/themes/theme-cerulean.min.css
  src/bb-themes/bootstrap/assets/css/themes/theme-cosmo.min.css
  src/bb-themes/bootstrap/assets/css/themes/theme-cyborg.min.css
  src/bb-themes/bootstrap/assets/css/themes/theme-darkly.min.css
  src/bb-themes/bootstrap/assets/css/themes/theme-flatly.min.css
  src/bb-themes/bootstrap/assets/css/themes/theme-journal.min.css
  src/bb-themes/bootstrap/assets/css/themes/theme-litera.min.css
  src/bb-themes/bootstrap/assets/css/themes/theme-lumen.min.css
  src/bb-themes/bootstrap/assets/css/themes/theme-lux.min.css
  src/bb-themes/bootstrap/assets/css/themes/theme-materia.min.css
  src/bb-themes/bootstrap/assets/css/themes/theme-minty.min.css
  src/bb-themes/bootstrap/assets/css/themes/theme-morph.min.css
  src/bb-themes/bootstrap/assets/css/themes/theme-pulse.min.css
  src/bb-themes/bootstrap/assets/css/themes/theme-quartz.min.css
  src/bb-themes/bootstrap/assets/css/themes/theme-sandstone.min.css
  src/bb-themes/bootstrap/assets/css/themes/theme-simplex.min.css
  src/bb-themes/bootstrap/assets/css/themes/theme-sketchy.min.css
  src/bb-themes/bootstrap/assets/css/themes/theme-slate.min.css
  src/bb-themes/bootstrap/assets/css/themes/theme-solar.min.css
  src/bb-themes/bootstrap/assets/css/themes/theme-spacelab.min.css
  src/bb-themes/bootstrap/assets/css/themes/theme-superhero.min.css
  src/bb-themes/bootstrap/assets/css/themes/theme-united.min.css
  src/bb-themes/bootstrap/assets/css/themes/theme-vapor.min.css
  src/bb-themes/bootstrap/assets/css/themes/theme-yeti.min.css
  src/bb-themes/bootstrap/assets/css/themes/theme-zephyr.min.css
Labels: none

Update last comment css
  src/bb-themes/bootstrap/assets/css/themes/theme-yeti.min.css
Labels: none

.github/labeler.yml:

tests/CI:
- tests/*

front-end:
- src/themes/*

admin-panel:
- src/themes/admin_*

composer:
- src/composer.json
- src/composer.lock

installer:
- src/install/*

payments:
- src/library/Payment*

server-manager:
- src/library/Server*

github-config:
- .github/*

hosting:
- src/library/Server/Manager/*
