Repository FOSSBilling/FOSSBilling, changes with the labels that .github/labeler.yml gives for each.
All labels: Laravel, tests/CI, composer, github-config, javascript, localization, databases, front-end

.github/labeler.yml:

Laravel:
- '*'

tests/CI:
- tests/*

composer:
- composer.*

github-config:
- .github/*

javascript:
- package.*

localization:
- lang/*

databases:
- database/*

front-end:
- resources/*

Add support and github workflow for larastan
  .github/workflows/laravel.yml
  composer.json
  composer.lock
  phpstan.neon
Labels: Laravel, composer

Added fixed for Larastan.
  app/Console/Commands/SetUp.php
  app/Events/AfterClientLogin.php
  app/Http/Controllers/Admin/ClientController.php
  app/Http/Controllers/Admin/ProductController.php
  app/Http/Controllers/Admin/SettingController.php
  app/Http/Controllers/Admin/UserController.php
  app/Http/Controllers/ProductController.php
  app/Http/Middleware/RedirectIfAuthenticated.php
  app/View/Components/AdminLayout.php
  config/permission.php
  resources/views/layouts/admin/app.blade.php
Labels: none

Update laravel.yml
  .github/workflows/laravel.yml
Labels: none

Ignore error PHPstan
  phpstan.neon
Labels: Laravel

Removed old font files & more CSS work
  src/bb-library/font/courier.php
  src/bb-library/font/courierb.php
  src/bb-library/font/courierbi.php
  src/bb-library/font/courieri.php
  src/bb-library/font/helvetica.php
  src/bb-library/font/helveticab.php
  src/bb-library/font/helveticabi.php
  src/bb-library/font/helveticai.php
  src/bb-library/font/symbol.php
  src/bb-library/font/times.php
  src/bb-library/font/timesb.php
  src/bb-library/font/timesbi.php
  src/bb-library/font/timesi.php
  src/bb-library/font/unifont/DejaVuSansCondensed-Bold.ttf
  src/bb-library/font/unifont/DejaVuSansCondensed-BoldOblique.ttf
  src/bb-library/font/unifont/DejaVuSansCondensed-Oblique.ttf
  src/bb-library/font/unifont/DejaVuSansCondensed.ttf
  src/bb-library/font/unifont/DejaVu_LICENSE.txt
  src/bb-library/font/unifont/ttfonts.php
  src/bb-library/font/zapfdingbats.php
  src/bb-modules/Invoice/Service.php
Labels: none

Format -$5 as -$5 instead of $-5
  src/bb-modules/Currency/Api/Guest.php
Labels: none

Always display quantity on the PDF invoice
  src/bb-modules/Invoice/Service.php
Labels: none

Is this an okay solution?
  src/bb-modules/Currency/Api/Guest.php
Labels: none

Replace usage of filter_var with htmlspecialchars
  src/bb-library/Box/App.php
Labels: none

Replace GetClass
  src/bb-modules/Hook/Service.php
Labels: none

Replace usage of filter_var with htmlspecialchars (#356)
  src/bb-library/Box/App.php
Labels: none

Replace GetClass (#342)
  src/bb-modules/Hook/Service.php
Labels: none

Added laravel pint
  .github/workflows/laravel-linter.yml
  composer.json
  composer.lock
Labels: Laravel, composer

Updated laravel-linter.yml name
  .github/workflows/laravel-linter.yml
Labels: none

Update laravel-linter.yml
  .github/workflows/laravel-linter.yml
Labels: none

Update laravel-linter.yml
  .github/workflows/laravel-linter.yml
Labels: none

Update laravel-linter.yml
  .github/workflows/laravel-linter.yml
Labels: none

Update laravel-linter.yml
  .github/workflows/laravel-linter.yml
Labels: none

Update laravel-linter.yml
  .github/workflows/laravel-linter.yml
Labels: none

Update laravel-linter.yml
  .github/workflows/laravel-linter.yml
Labels: none

Update laravel-linter.yml
  .github/workflows/laravel-linter.yml
Labels: none

Update laravel-linter.yml
  .github/workflows/laravel-linter.yml
Labels: none

Update laravel-linter.yml
  .github/workflows/laravel-linter.yml
Labels: none

WIP Added laravel pint (#357)
  .github/workflows/laravel-linter.yml
  composer.json
  composer.lock
Labels: Laravel, composer

Renamed Setup file To FossInstallCommand
  app/Console/Commands/FossInstallCommand.php
Labels: none

PHP Linting (Pint)
  app/Console/Commands/FossInstallCommand.php
Labels: none

New translations navigation.php (Romanian)
  lang/ro/navigation.php
Labels: none

New translations navigation.php (Swedish)
  lang/sv/navigation.php
Labels: none

New translations navigation.php (Bengali)
  lang/bn/navigation.php
Labels: none

New translations navigation.php (Portuguese, Brazilian)
  lang/pt/navigation.php
Labels: none

New translations navigation.php (Vietnamese)
  lang/vi/navigation.php
Labels: none

New translations navigation.php (Chinese Traditional)
  lang/zh_TW/navigation.php
Labels: none

New translations navigation.php (Ukrainian)
  lang/uk/navigation.php
Labels: none

New translations navigation.php (Turkish)
  lang/tr/navigation.php
Labels: none

New translations navigation.php (Russian)
  lang/ru/navigation.php
Labels: none

New translations navigation.php (French)
  lang/fr/navigation.php
Labels: none

New translations navigation.php (Polish)
  lang/pl/navigation.php
Labels: none

New translations navigation.php (Dutch)
  lang/nl/navigation.php
Labels: none

New translations navigation.php (Lithuanian)
  lang/lt/navigation.php
Labels: none

New translations navigation.php (Greek)
  lang/el/navigation.php
Labels: none
