Repository FOSSBilling/FOSSBilling, changes with the labels that .github/labeler.yml gives for each.
All labels: tests/CI, front-end, admin-panel, huraga, composer, installer, payments, server-manager, github-config, hosting, docker

.github/labeler.yml:

tests/CI:
- tests/*

front-end:
- src/themes/*

admin-panel:
- src/themes/admin_*

huraga:
- src/themes/huraga/*

composer:
- composer.json
- composer.lock

installer:
- src/install/*
- bin/install.sh

payments:
- src/library/Payment*

server-manager:
- src/library/Server*

github-config:
- .github/*

hosting:
- src/library/Server/Manager/*

docker:
- docker-compose.yaml
- bin/install.sh
- data/docker*

Fix the installer after the most recent commit
  src/install/install.php
Labels: installer

Fixed a duplicate
  src/library/Box/Log.php
Labels: none

Type hinting
  src/library/FOSSBilling/Monolog.php
Labels: none

This got lost in a merge commit
  src/library/Box/Log.php
Labels: none

Kind of distracted today. Good thing squash and merge exists.
  src/library/Box/Log.php
Labels: none

Remove outdated installation steps
  README.md
Labels: none

Excuse me. Formatting please?
  README.md
Labels: none

Implement a custom autoloader (#1194)
  README.md
  composer.json
  composer.lock
  cspell.json
  src/install/install.php
  src/library/Autoload.php
  src/load.php
Labels: composer, installer
