Repository FOSSBilling/FOSSBilling, changes with the labels that .github/labeler.yml gives for each.
All labels: tests/CI, front-end, admin-panel, composer, installer, payments, server-manager, github-config, hosting

.github/labeler.yml:

tests/CI:
- tests/*

front-end:
- src/themes/*

admin-panel:
- src/themes/admin_*

composer:
- src/composer.json
- src/composer.lock

installer:
- src/install/*

payments:
- src/library/Payment*

server-manager:
- src/library/Server*

github-config:
- .github/*

hosting:
- src/library/Server/Manager/*

🇺🇦 Added "#StandWithUkraine" badge
  README.md
Labels: none

Fix server selection bug in CentovaCast module
  src/bb-modules/Servicecentovacast/Service.php
  src/bb-modules/Servicecentovacast/html_admin/mod_servicecentovacast_config.html.twig
Labels: none

Create the configuration file automatically
  bin/install.sh
Labels: none

Fixes
  Makefile
Labels: none

Remove .SILENT
  Makefile
Labels: none

Include template macros to SolusVM admin page~
  src/bb-modules/Servicesolusvm/html_admin/mod_servicesolusvm_config.html.twig
Labels: none

Fix incorrect Plesk login URL
  src/bb-library/Server/Manager/Plesk.php
Labels: none

fix the public
  .gitignore
  src/public/.htaccess
  src/public/css/app.css
  src/public/favicon.ico
  src/public/index.php
  src/public/js/app.js
  src/public/mix-manifest.json
  src/public/robots.txt
Labels: none

Update some spaces and fix start command
  Makefile
Labels: none

Migrate currency table
  src/app/Console/Commands/SetUp.php
  src/app/Models/Currency.php
  src/composer.lock
  src/database/migrations/2022_05_22_023023_create_currencies_table.php
Labels: composer

Migrate tax table
  src/app/Console/Commands/SetUp.php
  src/app/Models/Tax.php
  src/database/migrations/2022_05_22_035534_create_taxes_table.php
Labels: none

Migrate pay_gateway table
  src/app/Console/Commands/SetUp.php
  src/app/Models/Pay_gateway.php
  src/database/migrations/2022_05_22_050349_create_pay_gateways_table.php
Labels: none

Migrate product_category
  src/app/Console/Commands/SetUp.php
  src/app/Models/Product_category.php
  src/database/migrations/2022_05_22_053846_create_product_categories_table.php
Labels: none

Add Discord
  README.md
Labels: none

We really need to move the most of this to the documentation
  README.md
Labels: none

Rename Pay_gateway and Product_category
  src/app/Console/Commands/SetUp.php
  src/app/Models/PaymentGateway.php
  src/app/Models/ProductCategory.php
  src/database/migrations/2022_05_22_050349_create_payment_gateways_table.php
Labels: none

Missed rename of Admin_group
  src/app/Console/Commands/SetUp.php
  src/app/Models/AdminGroup.php
Labels: none

Update README.md
  README.md
Labels: none

Fixed star history link
  README.md
Labels: none

Add Open Collective
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Create FUNDING.yml
  .github/FUNDING.yml
Labels: github-config

Update README.md
  README.md
Labels: none

Add Open Collective Badge (#76)
  README.md
Labels: none

Make the open collective badge function as a link
  README.md
Labels: none

Installer references
  src/bb-load.php
  src/install/assets/install.html.twig
  src/install/assets/layout.html.twig
  src/install/install.php
Labels: installer

Documentation references
  src/bb-themes/admin_default/html/mod_invoice_gateways.html.twig
  src/bb-themes/admin_default/html/mod_servicedomain_index.html.twig
Labels: none

Fixed sample + messages + some others
  bin/gettext_header.php
  src/bb-config-sample.php
  src/bb-library/Box/Extension.php
  src/bb-library/Box/Mod.php
  src/bb-locale/en_US/LC_MESSAGES/messages.po
  src/bb-locale/messages.pot
  src/bb-modules/Custompages/manifest.json
  src/bb-modules/Invoice/Service.php
  src/bb-modules/Order/Service.php
  src/bb-themes/admin_default/html/_sidebar.html.twig
  src/bb-themes/admin_default/html/layout_default.html.twig
  src/bb-themes/admin_default/html/mod_extension_index.html.twig
  src/bb-themes/admin_default/html/partial_extensions.html.twig
  src/install/sql/content_test.sql
  tests/bb-library/Payment/Adapter/Payment_Adapter_PayPalTest.php
Labels: none

Additional fix for the Discord widget
  src/install/assets/install.html.twig
Labels: none

Update install.html.twig
  src/install/assets/install.html.twig
Labels: none

Fixed wrongly edited copyright notices
  src/bb-locale/en_US/LC_MESSAGES/messages.po
  src/bb-locale/messages.pot
Labels: none

Removed "PRO" version references
  src/bb-locale/en_US/LC_MESSAGES/messages.po
  src/bb-locale/messages.pot
Labels: none

Fix modules
  src/bb-modules/Custompages/Service.php
  src/bb-modules/Massmailer/Service.php
  src/bb-modules/Queue/Service.php
  src/bb-modules/Servicecentovacast/Service.php
  src/bb-modules/Servicesolusvm/Service.php
Labels: none

Update migration script
  src/bb-update.php
Labels: none

#78 - Change storage engine to InnoDB
  src/install/sql/structure.sql
Labels: none

Remove PHP CS Fixer config
  src/.php-cs-fixer.dist.php
Labels: none

Update README.md
  README.md
Labels: none

Change storage engine to InnoDB (#80)
  src/.php-cs-fixer.dist.php
  src/bb-modules/Custompages/Service.php
  src/bb-modules/Massmailer/Service.php
  src/bb-modules/Queue/Service.php
  src/bb-modules/Servicecentovacast/Service.php
  src/bb-modules/Servicesolusvm/Service.php
  src/bb-update.php
  src/install/sql/structure.sql
Labels: none

Move Analytics tab to Custom code
  src/bb-themes/bootstrap/config/settings.html
Labels: none
