Repository FOSSBilling/FOSSBilling, changes with the labels that .github/labeler.yml gives for each.
All labels: Laravel, tests/CI, composer, github-config, javascript, localization, databases, front-end

Dropped jquery.collapsible
  src/bb-themes/admin_default/assets/js/fossbilling.js
  src/bb-themes/admin_default/assets/js/jquery.collapsible.min.js
  src/bb-themes/admin_default/gulpfile.babel.js
Labels: none

Dropped jquery.jeditable
  src/bb-themes/admin_default/assets/js/jquery.jeditable.min.js
Labels: none

This is related to the old admin theme
  src/bb-themes/admin_default/assets/js/fossbilling.js
Labels: none

Tabler port for the locale select
  src/bb-themes/admin_default/assets/js/fossbilling.js
  src/bb-themes/admin_default/html/layout_default.html.twig
Labels: none

Stuff from #113. Mainly pages rewritten with Tabler.
  src/bb-modules/Client/html_admin/mod_client_group.html.twig
  src/bb-modules/Cron/html_admin/mod_cron_settings.html.twig
  src/bb-modules/Currency/html_admin/mod_currency_manage.html.twig
  src/bb-modules/Currency/html_admin/mod_currency_settings.html.twig
  src/bb-modules/Invoice/html_admin/mod_invoice_settings.html.twig
  src/bb-modules/Order/html_admin/mod_order_settings.html.twig
  src/bb-modules/Queue/html_admin/mod_queue_settings.html.twig
  src/bb-modules/Redirect/html_admin/mod_redirect_settings.html.twig
  src/bb-modules/Support/html_admin/mod_support_helpdesk.html.twig
  src/bb-modules/Support/html_admin/mod_support_settings.html.twig
  src/bb-modules/Support/html_admin/modal/mod_support_new_helpdesk.html.twig
  src/bb-modules/System/html_admin/mod_system_settings.html.twig
  src/bb-modules/Wysiwyg/html_admin/mod_wysiwyg_settings.html.twig
Labels: none

Remainings of the SolusVM module.
  src/bb-di.php
  src/install/sql/content.sql
  src/install/sql/content_test.sql
  src/install/sql/structure.sql
  tests/bb-modules/Servicesolusvm/SolusVMTest.php
  tests/bootstrap.php
  tests/fixtures/extensions.xml
  tests/fixtures/mod_cart.xml
  tests/fixtures/mod_servicedomain.xml
  tests/fixtures/orders.xml
  tests/fixtures/services.xml
  tests/fixtures/servicesolusvm.xml
  tests/includes/Vps/SolusvmMock.php
  tests/integration/bb-modules/mod_cart/Api_GuestTest.php
  tests/integration/bb-modules/mod_servicesolusvm/Api_AdminTest.php
  tests/integration/bb-modules/mod_servicesolusvm/Api_ClientTest.php
  tests/integration/bb-modules/mod_servicesolusvm/Api_GuestTest.php
Labels: tests/CI

Rewritten mod_notification_index
  src/bb-modules/Notification/html_admin/mod_notification_index.html.twig
Labels: none

Syncing extension store work
  src/bb-library/Box/Extension.php
  src/bb-modules/Extension/Api/Admin.php
  src/bb-modules/Extension/Service.php
  src/bb-themes/admin_default/html/partial_extensions.html.twig
Labels: none

[CodeFactor] Apply fixes
  src/bb-themes/admin_default/assets/js/jquery-ui.js
  src/bb-themes/admin_default/assets/js/jquery.spectrum.js
  src/bb-themes/admin_default/assets/scss/bb-deprecated.scss
  src/bb-themes/admin_default/assets/scss/dataTable-deprecated.scss
  src/bb-themes/admin_default/assets/scss/jquery-ui.scss
  src/bb-themes/admin_default/assets/scss/main-deprecated.scss
  src/bb-themes/admin_default/assets/scss/select2.scss
  src/bb-themes/admin_default/assets/scss/ui_custom.scss
  src/bb-themes/huraga/assets/css/huraga-blue.css
  src/bb-themes/huraga/assets/css/huraga-dark.css
  src/bb-themes/huraga/assets/css/huraga-green.css
  src/bb-themes/huraga/assets/css/huraga-red.css
  src/bb-themes/huraga/assets/js/bb-jquery.js
  src/bb-themes/huraga/assets/js/plugins/bootstrapWizard/jquery.bootstrap.wizard.js
  src/bb-themes/huraga/assets/js/plugins/flot/jquery.flot.canvas.js
  src/bb-themes/huraga/assets/js/plugins/flot/jquery.flot.time.js
  src/bb-themes/huraga/assets/js/plugins/fullCalendar/jquery.fullcalendar.js
  src/bb-themes/huraga/assets/js/plugins/jGrowl/jquery.jgrowl.js
  src/bb-themes/huraga/assets/js/plugins/visualize/jquery.visualize.js
  src/install/assets/css/main.css
  src/install/assets/js/jquery.smartWizard.js
Labels: none

Fix typo
  src/bb-library/Server/Manager/Hestia.php
Labels: none

Update Vesta.php
  src/bb-library/Server/Manager/Vesta.php
Labels: none

Update Hestia.php
  src/bb-library/Server/Manager/Hestia.php
Labels: none

Update Vesta.php
  src/bb-library/Server/Manager/Vesta.php
Labels: none

these two can stay the same
  src/bb-modules/Extension/Service.php
  src/bb-themes/admin_default/html/partial_extensions.html.twig
Labels: none

Updates
  src/bb-modules/Extension/Service.php
Labels: none

Let the user activate it instead
  src/bb-modules/Extension/Api/Admin.php
Labels: none

Doing my best at tests
  tests/bb-modules/Extension/ServiceTest.php
Labels: none

Extension site -> Extension store
  src/bb-modules/Extension/Service.php
Labels: none

Extension site -> Extension store
  src/bb-modules/Extension/html_admin/mod_extension_index.html.twig
Labels: none

Update Service.php
  src/bb-modules/Extension/Service.php
Labels: none

Update ServiceTest.php
  tests/bb-modules/Extension/ServiceTest.php
Labels: none

Missed semicolon
  tests/bb-modules/Extension/ServiceTest.php
Labels: none

I'm trying
  tests/bb-modules/Extension/ServiceTest.php
Labels: none

Updated tests
  tests/bb-modules/Extension/Api/AdminTest.php
Labels: none

Tests
  tests/bb-modules/Extension/ServiceTest.php
Labels: none

Working on tests
  tests/bb-modules/Extension/ServiceTest.php
Labels: none

Update ServiceTest.php
  tests/bb-modules/Extension/ServiceTest.php
Labels: none

Removed tests related to Ne-Lexa/php-zip
  tests/bb-modules/Extension/ServiceTest.php
Labels: none

Special check for tests
  src/bb-modules/Extension/Service.php
Labels: none

Bring ZIP tests back, with a catch.
  tests/bb-modules/Extension/ServiceTest.php
Labels: none

Special test case
  src/bb-library/Box/Zip.php
Labels: none

Update ServiceTest.php
  tests/bb-modules/Extension/ServiceTest.php
Labels: none

We're close
  tests/bb-modules/Extension/ServiceTest.php
Labels: none

Update ServiceTest.php
  tests/bb-modules/Extension/ServiceTest.php
Labels: none

Fix spelling mistake
  cspell.json
  src/bb-modules/Currency/html_admin/mod_currency_settings.html.twig
Labels: Laravel

Fix Typos Hestia / Vesta plugin (#483)
  src/bb-library/Server/Manager/Hestia.php
  src/bb-library/Server/Manager/Vesta.php
Labels: none

Implementing the new extension store (#480)
  src/bb-library/Box/Extension.php
  src/bb-library/Box/Zip.php
  src/bb-modules/Extension/Api/Admin.php
  src/bb-modules/Extension/Service.php
  src/bb-modules/Extension/html_admin/mod_extension_index.html.twig
  src/bb-themes/admin_default/html/partial_extensions.html.twig
  tests/bb-modules/Extension/Api/AdminTest.php
  tests/bb-modules/Extension/ServiceTest.php
Labels: none

.github/labeler.yml:

Laravel:
- '*'

tests/CI:
- tests/*

composer:
- composer.*

github-config:
- .github/*

javascript:
- package.*

localization:
- lang/*

databases:
- database/*

front-end:
- resources/*
