Repository FOSSBilling/FOSSBilling, pull requests merged in 2022-09, with the labels that each got.

#257 Laravel update #2
  src/app/Console/Commands/SetUp.php
  src/app/Http/Controllers/Admin/SettingController.php
  src/app/Http/Controllers/Client/HomeController.php
  src/app/Http/Requests/Auth/LoginRequest.php
  src/app/Models/ActivityAdminHistory.php
  src/app/Models/ActivityClientEmail.php
  src/composer.json
  src/composer.lock
  src/config/auth.php
  src/database/migrations/2022_05_22_063303_create_admins_table.php
  src/database/migrations/2022_09_06_125746_drop_roles_permissions_columns_admin.php
  src/modules_statuses.json
  src/package-lock.json
  src/package.json
  src/postcss.config.js
  src/resources/css/app.css
  src/resources/js/app.js
  src/resources/js/bootstrap.js
  src/resources/views/auth/confirm-password.blade.php
  src/resources/views/auth/forgot-password.blade.php
  src/resources/views/auth/login.blade.php
  src/resources/views/auth/register.blade.php
  src/resources/views/auth/reset-password.blade.php
  src/resources/views/auth/verify-email.blade.php
  src/resources/views/components/input-label.blade.php
  src/resources/views/components/primary-button.blade.php
  src/resources/views/components/text-input.blade.php
  src/resources/views/layouts/app.blade.php
  src/resources/views/layouts/guest.blade.php
  src/resources/views/layouts/navigation.blade.php
  src/routes/admin.php
  src/routes/auth.php
  src/routes/web.php
  src/tailwind.config.js
  src/vite.config.js
  src/webpack.mix.js
Labels: bug, composer, dependencies, skip-changelog, rewrite

#268 Bug | Port in "Setup" not used caused "extra" log that is not needed
  src/install/install.php
Labels: installer

#287 Fixed a typo in the README.
  README.md
Labels: documentation

#292 Pointed to S4's S3 bucket
  .github/workflows/artifact.yml
Labels: skip-changelog
