Repository FOSSBilling/FOSSBilling, pull requests merged in 2022-07, with the labels that each got.

#165 Fix wrong path to the vendor folder
  .github/workflows/php.yml
  .php-cs-fixer.dist.php
  build.xml
Labels: tests/CI

#172 New events: onBeforeAdminClientCreate & onAfterAdminClientCreate
  src/bb-modules/Client/Api/Admin.php
  tests/bb-modules/Client/Api/AdminTest.php
Labels: hooks/events

#175 Added sponsor button to the admin panel
  src/bb-themes/admin_default/assets/icons/heart.svg
  src/bb-themes/admin_default/html/layout_default.html.twig
Labels: admin panel

#177 Test content updates
  bin/provision.sh
  src/install/sql/content_test.sql
  tests/bb-modules/Client/ServiceTest.php
  tests/bb-modules/Profile/Api/AdminTest.php
  tests/fixtures/admins.xml
  tests/fixtures/emails.xml
  tests/fixtures/example.xml
  tests/fixtures/gateway_Custom.xml
  tests/fixtures/gateway_PayPal.xml
  tests/fixtures/gateway_TwoCheckout.xml
  tests/fixtures/initial.xml
  tests/fixtures/licensing-server.xml
  tests/fixtures/mod_affiliate.xml
  tests/fixtures/mod_api.xml
  tests/fixtures/mod_cart.xml
  tests/fixtures/mod_client.xml
  tests/fixtures/mod_example.xml
  tests/fixtures/mod_hook.xml
  tests/fixtures/mod_invoice.xml
  tests/fixtures/mod_massmailer.xml
  tests/fixtures/mod_notification.xml
  tests/fixtures/mod_order.xml
  tests/fixtures/mod_page.xml
  tests/fixtures/mod_partner.xml
  tests/fixtures/mod_queue.xml
  tests/fixtures/mod_redirect.xml
  tests/fixtures/mod_servicedomain.xml
  tests/fixtures/mod_spamchecker.xml
  tests/fixtures/mod_support.xml
  tests/fixtures/mod_theme.xml
  tests/fixtures/orders.xml
  tests/fixtures/serviceboxbillinglicense.xml
  tests/fixtures/servicelicense.xml
  tests/fixtures/services.xml
  tests/fixtures/servicesolusvm.xml
  tests/fixtures/settings.xml
  tests/fixtures/transactions.xml
  tests/integration/bb-modules/mod_client/Api_GuestTest.php
  tests/integration/bb-modules/mod_email/Api_AdminTest.php
  tests/integration/bb-modules/mod_staff/Api_GuestTest.php
Labels: tests/CI

#181 Update logo in the README
  README.md
Labels: documentation

#174 Add 4 new events
  src/bb-modules/Extension/Api/Admin.php
  tests/bb-modules/Extension/Api/AdminTest.php
Labels: hooks/events

#191 Fix bug #189 "Database can't contain a hyphen"
  src/install/assets/install.html.twig
  src/install/install.php
Labels: installer

#192 Don't send plain text over email
  src/install/install.php
Labels: security, installer

#197 Fix the installation wizard being broken
  src/install/assets/install.html.twig
  src/install/assets/layout.html.twig
Labels: bug

#199 Replace hardcoded values for admin cards
  src/bb-themes/admin_default/html/mod_index_dashboard.html.twig
Labels: bug, admin panel

#182 Add a few things to rewrite
  src/app/Http/Controllers/Client/Home.php
  src/app/View/Components/ClientLayout.php
  src/composer.json
  src/composer.lock
  src/database/seeders/DatabaseSeeder.php
  src/database/seeders/UserSeeder.php
  src/docker-compose.yml
  src/package-lock.json
  src/package.json
  src/phpunit.xml
  src/public/css/app.css
  src/resources/views/client/index.blade.php
  src/resources/views/client/layouts/app.blade.php
  src/resources/views/components/fossbilling-logo.blade.php
  src/routes/web.php
  src/tailwind.config.js
Labels: composer
