Repository FOSSBilling/FOSSBilling, pull requests merged in 2022-10, with the labels that each got.

#311 Replaced PT Sans with IBM Plex Sans
  src/bb-themes/huraga/assets/css/huraga-blue.css
  src/bb-themes/huraga/assets/css/huraga-dark.css
  src/bb-themes/huraga/assets/css/huraga-green.css
  src/bb-themes/huraga/assets/css/huraga-red.css
  src/bb-themes/huraga/assets/css/ibm-plex-sans.css
  src/bb-themes/huraga/assets/fonts/IBM-Plex-Sans/LICENSE.txt
  src/bb-themes/huraga/assets/fonts/IBM-Plex-Sans/ibm-plex-sans-v14-latin-500.woff
  src/bb-themes/huraga/assets/fonts/IBM-Plex-Sans/ibm-plex-sans-v14-latin-500.woff2
  src/bb-themes/huraga/assets/fonts/IBM-Plex-Sans/ibm-plex-sans-v14-latin-500italic.woff
  src/bb-themes/huraga/assets/fonts/IBM-Plex-Sans/ibm-plex-sans-v14-latin-500italic.woff2
  src/bb-themes/huraga/assets/fonts/IBM-Plex-Sans/ibm-plex-sans-v14-latin-600.woff
  src/bb-themes/huraga/assets/fonts/IBM-Plex-Sans/ibm-plex-sans-v14-latin-600.woff2
  src/bb-themes/huraga/assets/fonts/IBM-Plex-Sans/ibm-plex-sans-v14-latin-600italic.woff
  src/bb-themes/huraga/assets/fonts/IBM-Plex-Sans/ibm-plex-sans-v14-latin-600italic.woff2
  src/bb-themes/huraga/assets/fonts/IBM-Plex-Sans/ibm-plex-sans-v14-latin-italic.woff
  src/bb-themes/huraga/assets/fonts/IBM-Plex-Sans/ibm-plex-sans-v14-latin-italic.woff2
  src/bb-themes/huraga/assets/fonts/IBM-Plex-Sans/ibm-plex-sans-v14-latin-regular.woff
  src/bb-themes/huraga/assets/fonts/IBM-Plex-Sans/ibm-plex-sans-v14-latin-regular.woff2
Labels: enhancement, front-end

#313 chore: Refactor OrderButton module to use more theme assets instead of overriding
  src/bb-modules/Orderbutton/assets/css/bootstrap.css
  src/bb-modules/Orderbutton/assets/css/huraga-blue.css
  src/bb-modules/Orderbutton/assets/css/huraga-dark.css
  src/bb-modules/Orderbutton/assets/css/huraga-green.css
  src/bb-modules/Orderbutton/assets/css/huraga-red.css
  src/bb-modules/Orderbutton/assets/css/plugins/jquery.jgrowl.css
  src/bb-modules/Orderbutton/assets/js/bb-jquery.js
  src/bb-modules/Orderbutton/assets/js/bootstrap/bootstrap.js
  src/bb-modules/Orderbutton/assets/js/bootstrap/bootstrap.min.js
  src/bb-modules/Orderbutton/assets/js/bootstrap/plugins/bootstrap-collapse.js
  src/bb-modules/Orderbutton/assets/js/bootstrap/plugins/bootstrap-tab.js
  src/bb-modules/Orderbutton/assets/js/jGrowl/jquery.jgrowl.js
  src/bb-modules/Orderbutton/assets/js/libs/jquery.js
  src/bb-modules/Orderbutton/html_client/mod_orderbutton_index.html.twig
Labels: enhancement, front-end, Huraga

#318 Huraga dependency cleanup
  .github/labeler.yml
  src/bb-config-sample.php
  src/bb-library/Box/Request.php
  src/bb-modules/Client/html_client/mod_client_profile.html.twig
  src/bb-modules/Currency/Service.php
  src/bb-modules/Orderbutton/html_client/mod_orderbutton_index.html.twig
  src/bb-themes/huraga/assets/css/bootstrap-responsive.css
  src/bb-themes/huraga/assets/css/bootstrap-responsive.min.css
  src/bb-themes/huraga/assets/css/bootstrap.css
  src/bb-themes/huraga/assets/css/bootstrap.min.css
  src/bb-themes/huraga/assets/css/font-awesome.css
  src/bb-themes/huraga/assets/css/huraga-blue.css
  src/bb-themes/huraga/assets/css/huraga-dark.css
  src/bb-themes/huraga/assets/css/huraga-green.css
  src/bb-themes/huraga/assets/css/huraga-red.css
  src/bb-themes/huraga/assets/js/bootstrap/bootstrap.js
  src/bb-themes/huraga/assets/js/bootstrap/bootstrap.min.js
  src/bb-themes/huraga/html/layout_default.html.twig
  src/bb-themes/huraga/html/layout_public.html.twig
  src/htaccess.txt
  src/robots.txt
Labels: github-config, dependencies, Huraga

#312 Improved code style by adding missing return types, replacing funcs w…
  src/bb-config-sample.php
  src/bb-cron.php
  src/bb-di.php
  src/bb-ipn.php
  src/bb-load.php
  src/bb-update.php
  src/index.php
  src/install/install.php
Labels: installer

#334 Labeler updates
  .github/labeler.yml
Labels: github-config

#339 Fixed typo
  src/bb-themes/huraga/config/settings.html
Labels: skip-changelog

#331 [Laravel] Introduced our first two events
  app/Events/AfterClientLogin.php
  app/Events/ClientLoginFailed.php
  app/Http/Requests/Auth/LoginRequest.php
  app/Listeners/LogFailedLogin.php
  app/Listeners/LogSuccessfulLogin.php
  app/Providers/EventServiceProvider.php
  resources/views/dashboard.blade.php
  tests/Feature/Auth/AuthenticationTest.php
Labels: skip-changelog, Laravel, hooks/events

#348 Use action secrets instead
  .github/workflows/artifact.yml
Labels: skip-changelog

#343 Various Changes to Defaults
  src/bb-config-sample.php
  src/install/install.php
  src/install/sql/content.sql
  src/install/sql/content_test.sql
Labels: installer

#354 Feature larastan
  .github/workflows/laravel.yml
  app/Console/Commands/SetUp.php
  app/Events/AfterClientLogin.php
  app/Http/Controllers/Admin/ClientController.php
  app/Http/Controllers/Admin/ProductController.php
  app/Http/Controllers/Admin/SettingController.php
  app/Http/Controllers/Admin/UserController.php
  app/Http/Controllers/ProductController.php
  app/Http/Middleware/RedirectIfAuthenticated.php
  app/View/Components/AdminLayout.php
  composer.json
  composer.lock
  config/permission.php
  phpstan.neon
  resources/views/layouts/admin/app.blade.php
Labels: composer, Laravel

#353 Use dompdf for PDF generation
  src/bb-di.php
  src/bb-library/PDF_ImageAlpha.php
  src/bb-library/font/courier.php
  src/bb-library/font/courierb.php
  src/bb-library/font/courierbi.php
  src/bb-library/font/courieri.php
  src/bb-library/font/helvetica.php
  src/bb-library/font/helveticab.php
  src/bb-library/font/helveticabi.php
  src/bb-library/font/helveticai.php
  src/bb-library/font/symbol.php
  src/bb-library/font/times.php
  src/bb-library/font/timesb.php
  src/bb-library/font/timesbi.php
  src/bb-library/font/timesi.php
  src/bb-library/font/unifont/DejaVuSansCondensed-Bold.ttf
  src/bb-library/font/unifont/DejaVuSansCondensed-BoldOblique.ttf
  src/bb-library/font/unifont/DejaVuSansCondensed-Oblique.ttf
  src/bb-library/font/unifont/DejaVuSansCondensed.ttf
  src/bb-library/font/unifont/DejaVu_LICENSE.txt
  src/bb-library/font/unifont/ttfonts.php
  src/bb-library/font/zapfdingbats.php
  src/bb-library/tfpdf.php
  src/bb-modules/Currency/Api/Guest.php
  src/bb-modules/Invoice/Service.php
  src/composer.json
  src/composer.lock
Labels: composer

#369 Adjust Password Requirements
  src/bb-library/Box/Tools.php
  src/bb-library/Box/Validate.php
  src/bb-modules/Client/Api/Admin.php
  src/bb-modules/Servicesolusvm/Service.php
  src/bb-modules/Staff/Api/Admin.php
  src/install/install.php
  tests/bb-modules/Profile/Api/AdminTest.php
Labels: installer

#377 Added toggles for the sidebar links of news and knowledge base
  bin/install.sh
  src/bb-themes/huraga/config/settings.html
  src/bb-themes/huraga/config/settings_data.json.example
  src/bb-themes/huraga/html/partial_menu.html.twig
Labels: enhancement, docker, Huraga

#380 Changed the position of blocks
  src/bb-themes/huraga/html/layout_default.html.twig
Labels: bug, Huraga

#385 More security changes
  src/bb-library/Box/Tools.php
  src/bb-library/Box/Validate.php
  src/bb-modules/Client/Api/Admin.php
  src/bb-modules/Client/Api/Client.php
  src/bb-modules/Client/Api/Guest.php
  src/bb-modules/Profile/Api/Admin.php
  src/bb-modules/Profile/Api/Client.php
  src/bb-modules/Servicesolusvm/Api/Admin.php
  src/bb-modules/Staff/Api/Admin.php
  src/bb-modules/Staff/Api/Guest.php
  src/bb-modules/Staff/Service.php
  tests/bb-modules/Client/Api/AdminTest.php
  tests/bb-modules/Client/Api/ClientTest.php
  tests/bb-modules/Client/Api/GuestTest.php
  tests/bb-modules/Staff/Api/AdminTest.php
  tests/bb-modules/Staff/Api/GuestTest.php
Labels: security

#387 Fix old references to _pagination.html.twig
  README.md
  src/bb-themes/admin_default/html/mod_activity_index.html.twig
  src/bb-themes/admin_default/html/mod_client_index.html.twig
  src/bb-themes/admin_default/html/mod_client_login_history.html.twig
  src/bb-themes/admin_default/html/mod_client_manage.html.twig
  src/bb-themes/admin_default/html/mod_email_history.html.twig
  src/bb-themes/admin_default/html/mod_invoice_index.html.twig
  src/bb-themes/admin_default/html/mod_invoice_subscriptions.html.twig
  src/bb-themes/admin_default/html/mod_invoice_transactions.html.twig
  src/bb-themes/admin_default/html/mod_kb_index.html.twig
  src/bb-themes/admin_default/html/mod_news_index.html.twig
  src/bb-themes/admin_default/html/mod_order_index.html.twig
  src/bb-themes/admin_default/html/mod_product_index.html.twig
  src/bb-themes/admin_default/html/mod_product_promos.html.twig
  src/bb-themes/admin_default/html/mod_staff_login_history.html.twig
  src/bb-themes/admin_default/html/mod_support_canned_responses.html.twig
  src/bb-themes/admin_default/html/mod_support_public_tickets.html.twig
  src/bb-themes/admin_default/html/mod_support_tickets.html.twig
Labels: bug

#386 Fix validateAndSanitizeEmail for international domains
  phpunit.xml.dist
  src/bb-library/Box/Tools.php
  src/composer.json
  src/composer.lock
  tests/bb-library/Box/FOSS_ToolsTest.php.disabled
Labels: composer

#391 Fix Breadcrumbs
  src/bb-modules/Cron/html_admin/mod_cron_settings.html.twig
  src/bb-modules/Currency/html_admin/mod_currency_manage.html.twig
  src/bb-modules/Currency/html_admin/mod_currency_settings.html.twig
  src/bb-modules/Invoice/html_admin/mod_invoice_settings.html.twig
  src/bb-modules/Order/html_admin/mod_order_settings.html.twig
  src/bb-modules/Orderbutton/html_admin/mod_orderbutton_settings.html.twig
  src/bb-modules/Paidsupport/html_admin/mod_paidsupport_settings.html.twig
  src/bb-modules/Queue/html_admin/mod_queue_settings.html.twig
  src/bb-modules/Redirect/html_admin/mod_redirect_settings.html.twig
  src/bb-modules/Seo/html_admin/mod_seo_settings.html.twig
  src/bb-modules/Servicecentovacast/html_admin/mod_servicecentovacast_settings.html.twig
  src/bb-modules/Servicesolusvm/html_admin/mod_servicesolusvm_settings.html.twig
  src/bb-modules/Spamchecker/html_admin/mod_spamchecker_settings.html.twig
  src/bb-modules/Support/html_admin/mod_support_settings.html.twig
  src/bb-modules/System/html_admin/mod_system_settings.html.twig
  src/bb-modules/Wysiwyg/html_admin/mod_wysiwyg_settings.html.twig
  src/bb-themes/admin_default/html/mod_system_index.html.twig
Labels: bug

#392 array_get : return null instead of an empty string
  src/bb-di.php
Labels: bug

#390 Fixed custom pages not working in nginx
  data/docker-nginx.conf
  data/nginx.conf
Labels: docker, nginx

#398 Fix port selection in Virtualmin manager
  src/bb-library/Server/Manager/Virtualmin.php
Labels: hosting

#402 Created config option to disable auto cron
  src/bb-config-sample.php
  src/bb-library/Box/Tools.php
  src/bb-modules/System/Service.php
  src/install/install.php
Labels: installer

#406 Box_Exception: log a backtrace when debug enabled
  src/bb-config-sample.php
  src/bb-library/Box/Exception.php
  src/bb-library/Box/Tools.php
  src/install/install.php
Labels: enhancement, installer

#394 Blocked direct access to Twig template files
  data/docker-nginx.conf
  data/lighttpd.conf
  data/nginx.conf
  src/htaccess.txt
  src/install/install.php
Labels: enhancement, security, installer, docker, nginx

#408 Cleanup admin theme JS files
  src/bb-themes/admin_default/assets/js/flot/excanvas.min.js
  src/bb-themes/admin_default/assets/js/flot/jquery.flot.js
  src/bb-themes/admin_default/assets/js/flot/jquery.flot.pie.js
  src/bb-themes/admin_default/assets/js/forms/autogrowtextarea.js
  src/bb-themes/admin_default/assets/js/forms/autotab.js
  src/bb-themes/admin_default/assets/js/forms/jquery.dualListBox.js
  src/bb-themes/admin_default/assets/js/forms/jquery.inputlimiter.min.js
  src/bb-themes/admin_default/assets/js/forms/jquery.maskedinput.min.js
  src/bb-themes/admin_default/assets/js/forms/jquery.tagsinput.min.js
  src/bb-themes/admin_default/assets/js/forms/jquery.validationEngine-en.js
  src/bb-themes/admin_default/assets/js/forms/jquery.validationEngine.js
  src/bb-themes/admin_default/assets/js/jquery.ToTop.js
Labels: admin panel, front-end, dependencies, javascript, cleanup
