Repository FOSSBilling/FOSSBilling, pull requests merged in 2022-06, with the labels that each got.

#130 adding https support
  src/bb-library/Server/Manager/Directadmin.php
Labels: hosting

#126 Create GOVERNANCE.md
  GOVERNANCE.md
Labels: documentation

#138 Fix gulp not being included with preview builds & rename htaccess
  .github/workflows/artifact.yml
  src/htaccess.txt
  src/install/install.php
Labels: installer

#140 [Automated] Crowdin synchronization
  src/lang/bg/auth.php
  src/lang/bg/navigation.php
  src/lang/bg/pagination.php
  src/lang/bg/passwords.php
  src/lang/bg/validation.php
Labels: skip-changelog, crowdin, l10n

#147 Disclaimer
  README.md
Labels: skip-changelog

#154 Quick typo fix
  README.md
Labels: documentation, skip-changelog

#155 Update readme with missing in regarding Gulp
  README.md
Labels: documentation, skip-changelog
