Repository FOSSBilling/FOSSBilling, pull requests merged in 2022-12, with the labels that each got.

#502 Hotfix - Broken SQL
  src/install/sql/content.sql
  src/install/sql/content_test.sql
  src/themes/admin_default/html/partial_sidebar.html.twig
Labels: bug, installer

#504 Fixed wrong source for the staff login logo
  src/themes/admin_default/html/partial_sidebar.html.twig
Labels: admin panel

#494 [Automated] Crowdin synchronization
  lang/da/auth.php
  lang/da/navigation.php
  lang/da/pagination.php
  lang/da/passwords.php
  lang/da/validation.php
Labels: skip-changelog, crowdin, l10n

#509 Fixed the income chart & some typos
  src/install/sql/content.sql
  src/locale/en_US/LC_MESSAGES/messages.po
  src/locale/messages.pot
  src/modules/Activity/Controller/Admin.php
  src/modules/Client/Controller/Admin.php
  src/modules/Client/html_client/mod_client_balance.html.twig
  src/modules/Extension/html_admin/mod_extension_index.html.twig
  src/modules/Invoice/html_admin/mod_invoice_index.html.twig
  src/modules/Invoice/html_admin/mod_invoice_subscriptions.html.twig
  src/modules/Kb/Controller/Admin.php
  src/modules/Kb/Service.php
  src/modules/Kb/html_admin/mod_kb_article.html.twig
  src/modules/Kb/html_admin/mod_kb_category.html.twig
  src/modules/Kb/html_admin/mod_kb_index.html.twig
  src/modules/Order/html_admin/mod_order_index.html.twig
  src/modules/Product/Controller/Admin.php
  src/modules/Servicelicense/html_admin/mod_servicelicense_config.html.twig
  src/modules/Staff/Controller/Admin.php
  src/modules/Staff/Service.php
  src/modules/Support/html_admin/mod_support_tickets.html.twig
  src/themes/admin_default/html/mod_index_dashboard.html.twig
  src/themes/admin_default/html/partial_batch_delete.html.twig
  src/themes/admin_default/html/partial_sidebar.html.twig
  src/themes/huraga/html/layout_default.html.twig
  src/themes/huraga/html/partial_menu.html.twig
Labels: bug, admin panel

#517 Added an "about" tab
  src/modules/Extension/html_admin/mod_extension_index.html.twig
  src/modules/System/html_admin/mod_system_settings.html.twig
Labels: enhancement, admin panel

#518 Delete extra bracket in the email registrar
  src/library/Registrar/Adapter/Email.php
Labels: bug, domains

#520 Use DejaVu Sans for PDF generation
  src/modules/Invoice/Service.php
Labels: enhancement

#524 Fix drafter using the wrong tag scheme.
  .github/release-drafter.yml
Labels: github-config

#539 Fix hestia / vesta adapters
  src/library/Server/Manager/Hestia.php
  src/library/Server/Manager/Vesta.php
Labels: hosting

#540 Disable twig debug mode
  src/install/install.php
  src/library/Box/Tools.php
Labels: installer

#544 Custom input field support for hosting managers.
  src/library/Server/Manager/Hestia.php
  src/library/Server/Manager/Plesk.php
  src/library/Server/Manager/Vesta.php
  src/library/Server/Manager/Whm.php
  src/modules/Servicehosting/html_admin/mod_servicehosting_index.html.twig
  src/modules/Servicehosting/html_admin/mod_servicehosting_server.html.twig
Labels: admin panel, hosting

#554 Replace old, crappy gettext solution
  .gitignore
  README.md
  cspell.json
  phpunit.xml.dist
  src/composer.json
  src/composer.lock
  src/library/Box/Exception.php
  src/library/Box/Period.php
  src/library/Box/Requirements.php
  src/library/Box/Translate.php
  src/library/Box/TwigExtensions.php
  src/library/Payment/Adapter/ClientBalance.php
  src/library/Payment/Adapter/PayPalEmail.php
  src/library/Payment/Adapter/Stripe.php
  src/library/Payment/Adapter/TwoCheckout.php
  src/library/Payment/Exception.php
  src/library/php-gettext/AUTHORS
  src/library/php-gettext/COPYING
  src/library/php-gettext/README
  src/library/php-gettext/gettext.inc
  src/library/php-gettext/gettext.php
  src/library/php-gettext/streams.php
  src/modules/Cart/Service.php
  src/modules/Client/Controller/Client.php
  src/modules/Invoice/Service.php
  src/modules/Invoice/ServiceInvoiceItem.php
  src/modules/Order/Api/Admin.php
  src/modules/Servicedomain/Service.php
  src/modules/Servicehosting/Service.php
  src/modules/Spamchecker/akismet.curl.class.php
  src/modules/Theme/Controller/Admin.php
  tests/library/Box/Box_TranslateTest.php
Labels: composer, localization

#564 Set the default currency during installation
  src/install/assets/install.html.twig
  src/install/install.php
Labels: installer

#559 Fix the way Hestia uses the credentials
  src/library/Server/Manager/Hestia.php
Labels: bug, hosting

#566 Cleanly handle a template not being provided
  src/library/Payment/Adapter/Custom.php
  src/modules/System/Service.php
Labels: bug

#568 Added imports for the main Huraga stylesheet
  src/modules/Orderbutton/html_client/mod_orderbutton_index.html.twig
  src/modules/Page/html_client/mod_page_preview_markdown.html.twig
  src/themes/huraga/html/layout_public.html.twig
Labels: bug, Huraga

#571 Capitalize Privacy Policy
  src/modules/Page/html_client/mod_page_privacy-policy.html.twig
Labels: skip-changelog

#565 Created new security mode option
  src/config-sample.php
  src/di.php
  src/install/install.php
  src/library/Box/Session.php
  src/library/Box/Tools.php
  src/load.php
Labels: security, installer

#575 Update images sources raw.github.com instead of Fossbilling.org
  README.md
Labels: documentation, skip-changelog

#583 Huraga: improve the showcase and use markdown
  src/modules/Dashboard/html_client/mod_dashboard_index.html.twig
  src/modules/Index/html_client/mod_index_dashboard.html.twig
  src/themes/huraga/assets/css/huraga-main.css
  src/themes/huraga/config/settings.html
  src/themes/huraga/config/settings_data.json.example
Labels: enhancement

#584 Huraga: Fix the order button / cart
  src/modules/Invoice/html_client/mod_invoice_print.html.twig
  src/modules/Orderbutton/html_client/mod_orderbutton_index.html.twig
  src/themes/huraga/assets/css/bootstrap.css
  src/themes/huraga/assets/css/plugins/jquery.jgrowl.css
  src/themes/huraga/assets/js/plugins/jGrowl/jquery.jgrowl.js
  src/themes/huraga/html/layout_default.html.twig
  src/themes/huraga/html/layout_public.html.twig
Labels: bug

#594 Only force HTTPs when installing on HTTPs
  src/di.php
  src/install/install.php
  src/library/Box/Session.php
Labels: installer

#602 create_tmp_file was removed for security reasons
  src/library/Server/Manager/Hestia.php
Labels: hosting

#604 Detect an SLL cert after we set display_errors to 0
  src/install/install.php
Labels: installer

#613 Slightly refactor the CSRF token check
  src/modules/Api/Controller/Client.php
Labels: security, API

#615 Introduce PHPStan
  .github/workflows/php.yml
  phpstan-baseline.neon
  phpstan.neon
  src/di.php
  src/library/Box/DbLoggedPDOStatement.php
  src/library/Box/Extension.php
  src/library/Server/Manager/Vesta.php
  src/library/Server/Manager/Whm.php
  src/modules/Cron/Service.php
  src/modules/Currency/Service.php
  src/modules/Extension/Service.php
  src/modules/Massmailer/Service.php
  src/modules/Theme/Controller/Admin.php
Labels: hosting, tests/CI, github_actions

#618 Fix check debug mode enabled
  src/library/Box/Exception.php
Labels: security

#611 Change how we load locale names
  src/modules/Extension/Api/Guest.php
  src/modules/System/Service.php
  src/themes/admin_default/html/layout_default.html.twig
  src/themes/huraga/html/layout_default.html.twig
Labels: localization

#628 Fix #607 WHM Unable create account as root
  src/library/Server/Manager/Whm.php
Labels: hosting

#612 Introducing the new API wrapper
  src/library/Api/API.js
  src/library/Box/TwigExtensions.php
  src/modules/Email/html_admin/mod_email_settings.html.twig
  src/modules/Formbuilder/html_admin/mod_formbuilder_settings.html.twig
  src/modules/Massmailer/html_admin/mod_massmailer_message.html.twig
  src/modules/Product/html_admin/mod_product_index.html.twig
  src/modules/Servicehosting/html_admin/mod_servicehosting_index.html.twig
  src/themes/admin_default/assets/js/fossbilling.js
  src/themes/admin_default/html/layout_default.html.twig
  src/themes/admin_default/html/layout_login.html.twig
  src/themes/huraga/html/layout_default.html.twig
  src/themes/huraga/html/layout_public.html.twig
Labels: admin panel, javascript, API

#632 Stop sending password in plain text.
  src/install/install.php
  src/modules/Client/Service.php
Labels: installer

#636 Clean up the CWP manager
  src/library/Server/Manager/CWP.php
Labels: hosting
