Repository FOSSBilling/FOSSBilling, pull requests merged in 2022-11, with the labels that each got.

#418 Introduce the ability to update preview releases
  src/bb-config-sample.php
  src/bb-library/Box/Tools.php
  src/bb-library/Box/Update.php
  src/bb-modules/Extension/Api/Admin.php
  src/composer.json
  src/composer.lock
  src/install/install.php
Labels: composer, installer

#420 Fix my mistake
  src/install/install.php
Labels: installer

#427 Completely rewritten the Plesk adapter
  src/bb-library/Server/Manager/Plesk.php
  src/composer.json
  src/composer.lock
Labels: enhancement, composer, hosting, dependencies

#430 Plesk fixes
  src/bb-library/Server/Manager/Plesk.php
Labels: bug, hosting

#435 Use !== instead of != and === instead of ==
  src/bb-library/Server/Manager/Hestia.php
Labels: hosting

#437 Update Vesta as well
  src/bb-library/Server/Manager/Hestia.php
  src/bb-library/Server/Manager/Vesta.php
Labels: hosting

#433 Disable IP logging when the demo module is enabled
  src/bb-library/Model/ActivityClientHistoryTable.php
  src/bb-modules/Activity/Service.php
  tests/bb-modules/Activity/ServiceTest.php
Labels: security

#440 Use semver regex to check if running preview build
  src/bb-library/Box/Update.php
  src/install/install.php
Labels: installer

#446 Updated Plesk's API library
  src/composer.json
  src/composer.lock
Labels: enhancement, composer, hosting, dependencies

#453 Minor changes to the admin login layout
  src/bb-themes/admin_default/html/mod_staff_login.html.twig
Labels: admin panel

#454 Don't lock phpmailer and php-markdown to specific versions
  src/composer.json
  src/composer.lock
Labels: composer

#457 Reworked the settings page
  src/bb-library/Box/Mod.php
  src/bb-modules/Client/Service.php
  src/bb-modules/Cron/Service.php
  src/bb-modules/Email/Service.php
  src/bb-modules/Example/Service.php
  src/bb-modules/Extension/Service.php
  src/bb-modules/Invoice/Service.php
  src/bb-modules/Order/Service.php
  src/bb-modules/Support/Service.php
  src/bb-modules/System/Service.php
  src/bb-themes/admin_default/html/mod_system_index.html.twig
Labels: enhancement, admin panel

#458 Improve some Hestia/Vesta API code
  src/bb-library/Server/Manager/Hestia.php
  src/bb-library/Server/Manager/Vesta.php
Labels: hosting

#459 Rewritten the example module to reflect Tabler's styling
  src/bb-modules/Cron/Service.php
  src/bb-modules/Example/README.md
  src/bb-modules/Example/html_admin/mod_example_index.html.twig
  src/bb-modules/Example/html_admin/mod_example_settings.html.twig
  src/bb-themes/admin_default/html/mod_invoice_transactions.html.twig
Labels: admin panel, skip-changelog

#373 Replace SHA1 and MD5 with SHA256
  src/bb-library/Model/ClientPasswordResetTable.php
  src/bb-modules/Client/Api/Guest.php
  src/bb-modules/Invoice/Service.php
  src/bb-modules/Queue/Api/Admin.php
  src/bb-modules/Support/Service.php
  tests/bb-modules/Support/ServiceTest.php
Labels: security

#472 Updated references to bb-update.php
  bin/update.sh
  build.xml
Labels: skip-changelog

#474 Removed the extra "&" from URLs
  src/bb-library/Box/Url.php
Labels: bug, skip-changelog

#479 Rewritten mod_notification_index
  src/bb-modules/Notification/html_admin/mod_notification_index.html.twig
Labels: admin panel, skip-changelog

#478 Moved SolusVM and Centova Cast into their own repos.
  src/bb-di.php
  src/bb-modules/Servicecentovacast/Api/Admin.php
  src/bb-modules/Servicecentovacast/Api/Client.php
  src/bb-modules/Servicecentovacast/Service.php
  src/bb-modules/Servicecentovacast/ccapiclient.php
  src/bb-modules/Servicecentovacast/class_HTTPRetriever.php
  src/bb-modules/Servicecentovacast/html_admin/mod_servicecentovacast_config.html.twig
  src/bb-modules/Servicecentovacast/html_admin/mod_servicecentovacast_manage.html.twig
  src/bb-modules/Servicecentovacast/html_admin/mod_servicecentovacast_order.html.twig
  src/bb-modules/Servicecentovacast/html_admin/mod_servicecentovacast_settings.html.twig
  src/bb-modules/Servicecentovacast/html_client/mod_servicecentovacast_manage.html.twig
  src/bb-modules/Servicecentovacast/html_email/mod_servicecentovacast_activated.html.twig
  src/bb-modules/Servicecentovacast/html_email/mod_servicecentovacast_canceled.html.twig
  src/bb-modules/Servicecentovacast/html_email/mod_servicecentovacast_renewed.html.twig
  src/bb-modules/Servicecentovacast/html_email/mod_servicecentovacast_suspended.html.twig
  src/bb-modules/Servicecentovacast/html_email/mod_servicecentovacast_unsuspended.html.twig
  src/bb-modules/Servicecentovacast/icon.png
  src/bb-modules/Servicecentovacast/manifest.json
  src/bb-modules/Servicesolusvm/Api/Admin.php
  src/bb-modules/Servicesolusvm/Api/Client.php
  src/bb-modules/Servicesolusvm/Api/Guest.php
  src/bb-modules/Servicesolusvm/Controller/Admin.php
  src/bb-modules/Servicesolusvm/Service.php
  src/bb-modules/Servicesolusvm/SolusVM.php
  src/bb-modules/Servicesolusvm/html_admin/mod_servicesolusvm_config.html.twig
  src/bb-modules/Servicesolusvm/html_admin/mod_servicesolusvm_import_clients.html.twig
  src/bb-modules/Servicesolusvm/html_admin/mod_servicesolusvm_import_servers.html.twig
  src/bb-modules/Servicesolusvm/html_admin/mod_servicesolusvm_manage.html.twig
  src/bb-modules/Servicesolusvm/html_admin/mod_servicesolusvm_order.html.twig
  src/bb-modules/Servicesolusvm/html_admin/mod_servicesolusvm_settings.html.twig
  src/bb-modules/Servicesolusvm/html_client/mod_servicesolusvm_listing.html.twig
  src/bb-modules/Servicesolusvm/html_client/mod_servicesolusvm_manage.html.twig
  src/bb-modules/Servicesolusvm/html_client/mod_servicesolusvm_order_form.html.twig
  src/bb-modules/Servicesolusvm/html_email/mod_servicesolusvm_activated.html.twig
  src/bb-modules/Servicesolusvm/html_email/mod_servicesolusvm_canceled.html.twig
  src/bb-modules/Servicesolusvm/html_email/mod_servicesolusvm_renewed.html.twig
  src/bb-modules/Servicesolusvm/html_email/mod_servicesolusvm_suspended.html.twig
  src/bb-modules/Servicesolusvm/html_email/mod_servicesolusvm_unsuspended.html.twig
  src/bb-modules/Servicesolusvm/icon.png
  src/bb-modules/Servicesolusvm/manifest.json
  src/bb-modules/Servicesolusvm/resources/sliderbg.png
  src/bb-modules/Servicesolusvm/resources/style.css
  src/bb-modules/Servicesolusvm/resources/ui-bg_glass_100_f6f6f6_1x400.png
  src/install/sql/content.sql
  src/install/sql/content_test.sql
  src/install/sql/structure.sql
  tests/bb-modules/Servicesolusvm/SolusVMTest.php
  tests/bootstrap.php
  tests/fixtures/extensions.xml
  tests/fixtures/mod_cart.xml
  tests/fixtures/mod_servicedomain.xml
  tests/fixtures/orders.xml
  tests/fixtures/services.xml
  tests/fixtures/servicesolusvm.xml
  tests/includes/Vps/SolusvmMock.php
  tests/integration/bb-modules/mod_cart/Api_GuestTest.php
  tests/integration/bb-modules/mod_servicesolusvm/Api_AdminTest.php
  tests/integration/bb-modules/mod_servicesolusvm/Api_ClientTest.php
  tests/integration/bb-modules/mod_servicesolusvm/Api_GuestTest.php
Labels: tests/CI

#447 [Automated] Crowdin synchronization
  lang/he/auth.php
  lang/he/navigation.php
  lang/he/pagination.php
  lang/he/passwords.php
  lang/he/validation.php
Labels: skip-changelog, crowdin, l10n

#483 Fix Typos Hestia / Vesta plugin
  src/bb-library/Server/Manager/Hestia.php
  src/bb-library/Server/Manager/Vesta.php
Labels: hosting

#480 Implementing the new extension store
  src/bb-library/Box/Extension.php
  src/bb-library/Box/Zip.php
  src/bb-modules/Extension/Api/Admin.php
  src/bb-modules/Extension/Service.php
  src/bb-modules/Extension/html_admin/mod_extension_index.html.twig
  src/bb-themes/admin_default/html/partial_extensions.html.twig
  tests/bb-modules/Extension/Api/AdminTest.php
  tests/bb-modules/Extension/ServiceTest.php
Labels: enhancement, admin panel

#488 Fixed broken documentation link
  src/modules/Extension/html_admin/mod_extension_languages.html.twig
Labels: skip-changelog
