Repository FOSSBilling/FOSSBilling, pull requests merged in 2022-05, with the labels that each got.

#20 Fix minor module glitches
  src/bb-library/Server/Manager/Plesk.php
  src/bb-modules/Servicesolusvm/html_admin/mod_servicesolusvm_config.html.twig
Labels: hosting

#93 Add release drafter
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
Labels: github-config

#96 Adjust workflows
  .github/dependabot.yml
  .github/release-drafter.yml
Labels: task, github-config, skip-changelog

#106 Update the brand name in the Docker configuration
  data/nginx.conf
Labels: skip-changelog

#112 Fix for "too big key value" in specific versions of MySQL
  src/composer.lock
  src/config/database.php
Labels: composer

#114 Rename locale files
  src/lang/bn/auth.php
  src/lang/bn/navigation.php
  src/lang/bn/pagination.php
  src/lang/bn/passwords.php
  src/lang/bn/validation.php
  src/lang/de/auth.php
  src/lang/de/navigation.php
  src/lang/de/pagination.php
  src/lang/de/passwords.php
  src/lang/de/validation.php
  src/lang/el/auth.php
  src/lang/el/navigation.php
  src/lang/el/pagination.php
  src/lang/el/passwords.php
  src/lang/el/validation.php
  src/lang/es/auth.php
  src/lang/es/navigation.php
  src/lang/es/pagination.php
  src/lang/es/passwords.php
  src/lang/es/validation.php
  src/lang/fr/auth.php
  src/lang/fr/navigation.php
  src/lang/fr/pagination.php
  src/lang/fr/passwords.php
  src/lang/fr/validation.php
  src/lang/nl/auth.php
  src/lang/nl/navigation.php
  src/lang/nl/pagination.php
  src/lang/nl/passwords.php
  src/lang/nl/validation.php
  src/lang/ro/auth.php
  src/lang/ro/navigation.php
  src/lang/ro/pagination.php
  src/lang/ro/passwords.php
  src/lang/ro/validation.php
  src/lang/ru/auth.php
  src/lang/ru/navigation.php
  src/lang/ru/pagination.php
  src/lang/ru/passwords.php
  src/lang/ru/validation.php
  src/lang/tr/auth.php
  src/lang/tr/navigation.php
  src/lang/tr/pagination.php
  src/lang/tr/passwords.php
  src/lang/tr/validation.php
  src/lang/uk/auth.php
  src/lang/uk/navigation.php
  src/lang/uk/pagination.php
  src/lang/uk/passwords.php
  src/lang/uk/validation.php
  src/lang/vi/auth.php
  src/lang/vi/navigation.php
  src/lang/vi/pagination.php
  src/lang/vi/passwords.php
  src/lang/vi/validation.php
Labels: skip-changelog
