Repository FOSSBilling/FOSSBilling, pull requests merged in 2023-05, with the labels that each got.

#1200 Bump PHPStan action version to latest
  .github/workflows/phpstan.yml
Labels: github_actions

#1195 Fix product order not respecting configured priority
  src/modules/Orderbutton/html_client/mod_orderbutton_choose_product.html.twig
Labels: bug

#1204 Prevent float to int conversion warning
  src/modules/Queue/Api/Admin.php
Labels: bug

#1203 Update Github workflows
  .github/dependabot.yml
  .github/labeler.yml
  .github/release-drafter.yml
  .github/workflows/ckeditor.yml
  .github/workflows/labeler.yml
  .github/workflows/php-ci.yml
  .github/workflows/php.yml
  .github/workflows/phpstan.yml
  .github/workflows/preview.yml
  .github/workflows/release-drafter.yml
  .github/workflows/spellcheck.yml
  phpunit.xml.dist
Labels: github-config, cleanup

#1155 Implemented Monolog
  composer.json
  composer.lock
  cspell.json
  src/di.php
  src/library/Box/EventManager.php
  src/library/Box/Log.php
  src/library/Box/LogDb.php
  src/library/Box/LogStream.php
  src/library/FOSSBilling/Monolog.php
  src/modules/Cron/Service.php
  src/modules/Servicelicense/Service.php
  tests/modules/Servicelicense/ServiceTest.php
Labels: enhancement, tests/CI, library, modules

#1207 Revert "Bump php-actions/phpunit from 3 to 9"
  .github/workflows/php-ci.yml
Labels: github-config

#1209 Update PHP CI workflow with minor corrections
  .github/workflows/php-ci.yml
  README.md
Labels: github-config

#1208 Update Dependabot config to ignore incorrect PHPUnit action versions
  .github/dependabot.yml
Labels: github-config

#1215 Replace custom autoloader with AntLoader
  composer.json
  composer.lock
  src/install/install.php
  src/library/Autoload.php
  src/load.php
Labels: installer, dependencies, library

#1228 Replace composer's dev autoloader with AntLoader
  composer.json
  tests/bootstrap.php
Labels: bug, enhancement, tests/CI

#1216 Update SECURITY.md
  SECURITY.md
Labels: bug

#1230 Update partial_extensions.html.twig
  src/themes/admin_default/html/partial_extensions.html.twig
Labels: skip-changelog, admin-panel

#1251 Minor improvements to the ticket view
  src/modules/Support/html_admin/mod_support_ticket.html.twig
Labels: admin panel, modules

#1253 Fix the Namecheap registrar config bug
  src/library/Registrar/Adapter/Namecheap.php
Labels: bug, domain-registrars

#1252 Refactor System Updater
  cspell.json
  phpstan.neon
  src/di.php
  src/foss-update.php
  src/library/Box/Update.php
  src/library/FOSSBilling/ExtensionManager.php
  src/library/FOSSBilling/Mail.php
  src/library/FOSSBilling/Monolog.php
  src/library/FOSSBilling/Request.php
  src/library/FOSSBilling/Requirements.php
  src/library/FOSSBilling/Update.php
  src/library/FOSSBilling/UpdatePatcher.php
  src/modules/System/Api/Admin.php
  src/modules/System/Service.php
  src/modules/System/html_admin/mod_system_update.html.twig
  tests/includes/BBDbApiTestCase.php
  tests/modules/System/ServiceTest.php
Labels: tests/CI, library, modules

#1268 Update `admin_default` theme dependencies
  package-lock.json
  src/themes/admin_default/package.json
Labels: dependencies, admin-panel

#1280 Bump AntLoader to v2.0.0
  composer.json
  composer.lock
  src/install/install.php
  src/load.php
  tests/bootstrap.php
Labels: installer, tests/CI, dependencies

#1271 Improve Central Alerts Error Handling
  src/library/FOSSBilling/CentralAlerts.php
  src/modules/System/Service.php
Labels: bug, library, modules
