Repository FOSSBilling/FOSSBilling, pull requests merged in 2023-06, with the labels that each got.

#1288 Fix issues with updating clients
  src/modules/Client/Api/Admin.php
Labels: bug, modules

#1310 Prevent upgrade requests for invalid upgrades
  src/modules/Support/Service.php
Labels: bug, modules

#1308 Prevent checkouts with disabled products
  src/modules/Cart/Service.php
Labels: bug, modules

#1311 Fix logical error in Servicedownloadable module
  src/modules/Servicedownloadable/Api/Admin.php
  src/modules/Servicedownloadable/Api/Client.php
  tests/modules/Servicedownloadable/Api/ClientTest.php
Labels: bug, security, tests/CI, modules

#1312 Apply discount credits to account balance
  src/modules/Invoice/ServiceInvoiceItem.php
Labels: bug, modules

#1313 Validate add-on configs before adding to cart
  src/modules/Cart/Api/Guest.php
Labels: bug, modules

#1316 Re-check promo code validity during checkout
  src/modules/Cart/Service.php
  tests/modules/Cart/ServiceTest.php
Labels: bug, tests/CI, modules

#1314 Fix changelog link when preview update branches are enabled
  src/library/FOSSBilling/Update.php
Labels: bug, library

#1322 Minor fix to the client update API
  src/modules/Client/Api/Admin.php
Labels: bug, modules

#1326 fix some input types
  src/modules/Client/html_admin/mod_client_manage.html.twig
  src/modules/Client/html_client/mod_client_profile.html.twig
  src/modules/Orderbutton/html_client/mod_orderbutton_client.html.twig
  src/modules/Page/html_client/mod_page_signup.html.twig
Labels: modules

#1324 Fix & improve formbuilder layout + update last patch
  src/install/sql/content.sql
  src/modules/Formbuilder/html_admin/mod_formbuilder_settings.html.twig
Labels: installer, modules

#1339 Fix order popup breaking Huraga layout
  src/modules/Invoice/html_client/mod_invoice_print.html.twig
  src/modules/Orderbutton/html_client/mod_orderbutton_index.html.twig
Labels: bug, modules

#1338 Avoid HTML interpretation of the company's "signature".
  src/themes/huraga/html/layout_default.html.twig
Labels: Huraga

#1329 Fix issue with the locale selector
  src/library/FOSSBilling/i18n.php
Labels: bug, library

#1332 Replace Box_Session and improve session handling
  README.md
  SECURITY.md
  cspell.json
  src/di.php
  src/install/sql/content.sql
  src/install/sql/structure.sql
  src/library/Box/Session.php
  src/library/FOSSBilling/Fingerprint.php
  src/library/FOSSBilling/Session.php
  src/library/FOSSBilling/UpdatePatcher.php
  src/modules/Client/Api/Guest.php
  src/modules/Cron/Service.php
  src/modules/Profile/Api/Admin.php
  src/modules/Profile/Service.php
  src/modules/Staff/Service.php
  tests/integration/bb-library/Box/DiTest.php
  tests/library/Box/Box_SessionTest.php
  tests/modules/Cart/ServiceTest.php
  tests/modules/Client/Api/AdminTest.php
  tests/modules/Client/Api/GuestTest.php
  tests/modules/Cron/ServiceTest.php
  tests/modules/Profile/Api/AdminTest.php
  tests/modules/Profile/ServiceTest.php
  tests/modules/Staff/ServiceTest.php
  tests/modules/System/ServiceTest.php
Labels: security, installer, tests/CI, library, modules

#1348 Very minor bugfix
  src/library/FOSSBilling/i18n.php
Labels: bug, library

#1337 Prevent twig from calling unsafe functions
  src/library/Box/TwigExtensions.php
Labels: security, library

#1352 Renamed phonestate_cc to city in admin/client/update
  src/modules/Client/Api/Admin.php
Labels: bug, modules

#1340 Prevent deprecation errors when adding products to cart
  src/modules/Cart/Api/Guest.php
Labels: bug, modules

#1354 Add check for null value in isBirthdayValid invocation
  src/modules/Client/Api/Admin.php
Labels: bug, modules

#1309 Beef up invoice & ticket hash generation
  src/modules/Invoice/Service.php
  src/modules/Support/Service.php
  tests/modules/Support/ServiceTest.php
Labels: security, tests/CI, modules

#1361 Fix issue with the sessions during installation
  src/install/install.php
  src/library/FOSSBilling/Session.php
Labels: bug, installer, library

#1368 Fix config migrator using a string instead of an int
  src/library/FOSSBilling/UpdatePatcher.php
Labels: bug, library

#1367 Modify the fingerprint weights
  cspell.json
  src/library/FOSSBilling/Fingerprint.php
Labels: bug, library

#1369 Remove the installer's HTTPs rewrite
  src/install/install.php
Labels: bug, installer

#1272 Created a new API key product type
  cspell.json
  src/library/Model/ServiceApiKey.php
  src/modules/Serviceapikey/Api/Admin.php
  src/modules/Serviceapikey/Api/Client.php
  src/modules/Serviceapikey/Api/Guest.php
  src/modules/Serviceapikey/Service.php
  src/modules/Serviceapikey/html_admin/mod_serviceapikey_config.html.twig
  src/modules/Serviceapikey/html_admin/mod_serviceapikey_manage.html.twig
  src/modules/Serviceapikey/html_client/mod_serviceapikey_manage.html.twig
  src/modules/Serviceapikey/html_email/mod_serviceapikey_activated.html.twig
  src/modules/Serviceapikey/html_email/mod_serviceapikey_canceled.html.twig
  src/modules/Serviceapikey/html_email/mod_serviceapikey_renewed.html.twig
  src/modules/Serviceapikey/html_email/mod_serviceapikey_suspended.html.twig
  src/modules/Serviceapikey/html_email/mod_serviceapikey_unsuspended.html.twig
  src/modules/Serviceapikey/icon.svg
  src/modules/Serviceapikey/manifest.json
Labels: enhancement, library, modules

#1383 Fix admin panel dark mode
  src/themes/admin_default/assets/fossbilling.js
  src/themes/admin_default/html/layout_default.html.twig
Labels: bug, admin-panel

#1391 Apply the EscapeFormula CSV formatter
  src/di.php
Labels: security

#1392 Limit "LIMIT" to numbers only + Disable upload theme
  src/library/Box/Pagination.php
  src/modules/Client/Service.php
  src/modules/Theme/Controller/Admin.php
  src/modules/Theme/Service.php
  tests/integration/bb-modules/mod_theme/ServiceTest.php
  tests/modules/Theme/Controller/AdminTest.php
  tests/modules/Theme/ServiceTest.php
Labels: tests/CI, library, modules
