Repository FOSSBilling/FOSSBilling, pull requests merged in 2023-02, with the labels that each got.

#755 [DON'T MERGE] Started removing / cleaning up deprecated functions
  src/composer.json
  src/composer.lock
  src/library/Api/Abstract.php
  src/library/Box/App.php
  src/library/Box/Tools.php
  src/library/Model/ProductTable.php
  src/modules/Api/Service.php
  src/modules/Cart/Service.php
  src/modules/Client/Api/Client.php
  src/modules/Client/Controller/Client.php
  src/modules/Client/html_client/mod_client_balance.html.twig
  src/modules/Client/html_client/mod_client_profile.html.twig
  src/modules/Client/html_email/mod_client_confirm.html.twig
  src/modules/Client/html_email/mod_client_password_reset_approve.html.twig
  src/modules/Client/html_email/mod_client_password_reset_request.html.twig
  src/modules/Client/html_email/mod_client_signup.html.twig
  src/modules/Dashboard/html_client/mod_dashboard_index.html.twig
  src/modules/Example/html_client/mod_example_index.html.twig
  src/modules/Index/html_client/mod_index_dashboard.html.twig
  src/modules/Invoice/Service.php
  src/modules/Order/Service.php
  src/modules/Servicelicense/Server.php
  src/modules/Servicelicense/Service.php
  src/modules/Staff/Api/Admin.php
  src/modules/System/Api/Admin.php
  src/themes/huraga/html/layout_default.html.twig
  tests/modules/System/Api/AdminTest.php
  tests/modules/System/Api/GuestTest.php
Labels: breaking change, composer, cleanup, API

#765 Fix admin panel navbar on mobile & turn it into a hamburger menu
  src/themes/admin_default/html/partial_sidebar.html.twig
Labels: bug, admin panel, front-end

#786 Added basic browser tests using Cypress
  cypress.config.js
  cypress/e2e/admin/index.cy.js
  cypress/e2e/admin/login.cy.js
  cypress/e2e/huraga/index.cy.js
  cypress/e2e/huraga/login.cy.js
  cypress/e2e/huraga/support.cy.js
  cypress/e2e/modules/System/api/guest.cy.js
  cypress/e2e/modules/nonexistent.cy.js
  cypress/support/e2e.js
  package-lock.json
  package.json
  src/composer.json
  src/composer.lock
Labels: enhancement, composer, javascript

#811 Remove old gettext / locale files from the bin dir
  bin/gettext.php
  bin/gettext.sh
  bin/gettext_exclude.po
  bin/gettext_header.php
  bin/gettext_include.pot
  bin/install_locale.sh
Labels: cleanup

#792 Drop Markitup Editor support
  src/modules/Wysiwyg/Api/Admin.php
  src/modules/Wysiwyg/assets/.gitkeep
  src/modules/Wysiwyg/assets/markitup/jquery.markitup.js
  src/modules/Wysiwyg/assets/markitup/sets/default/images/bold.png
  src/modules/Wysiwyg/assets/markitup/sets/default/images/clean.png
  src/modules/Wysiwyg/assets/markitup/sets/default/images/image.png
  src/modules/Wysiwyg/assets/markitup/sets/default/images/italic.png
  src/modules/Wysiwyg/assets/markitup/sets/default/images/link.png
  src/modules/Wysiwyg/assets/markitup/sets/default/images/list-bullet.png
  src/modules/Wysiwyg/assets/markitup/sets/default/images/list-numeric.png
  src/modules/Wysiwyg/assets/markitup/sets/default/images/picture.png
  src/modules/Wysiwyg/assets/markitup/sets/default/images/preview.png
  src/modules/Wysiwyg/assets/markitup/sets/default/images/stroke.png
  src/modules/Wysiwyg/assets/markitup/sets/default/set.js
  src/modules/Wysiwyg/assets/markitup/sets/default/style.css
  src/modules/Wysiwyg/assets/markitup/skins/markitup/images/bg-container.png
  src/modules/Wysiwyg/assets/markitup/skins/markitup/images/bg-editor-bbcode.png
  src/modules/Wysiwyg/assets/markitup/skins/markitup/images/bg-editor-dotclear.png
  src/modules/Wysiwyg/assets/markitup/skins/markitup/images/bg-editor-html.png
  src/modules/Wysiwyg/assets/markitup/skins/markitup/images/bg-editor-json.png
  src/modules/Wysiwyg/assets/markitup/skins/markitup/images/bg-editor-markdown.png
  src/modules/Wysiwyg/assets/markitup/skins/markitup/images/bg-editor-textile.png
  src/modules/Wysiwyg/assets/markitup/skins/markitup/images/bg-editor-wiki.png
  src/modules/Wysiwyg/assets/markitup/skins/markitup/images/bg-editor-xml.png
  src/modules/Wysiwyg/assets/markitup/skins/markitup/images/bg-editor.png
  src/modules/Wysiwyg/assets/markitup/skins/markitup/images/handle.png
  src/modules/Wysiwyg/assets/markitup/skins/markitup/images/menu.png
  src/modules/Wysiwyg/assets/markitup/skins/markitup/images/submenu.png
  src/modules/Wysiwyg/assets/markitup/skins/markitup/style.css
  src/modules/Wysiwyg/assets/markitup/skins/simple/images/handle.png
  src/modules/Wysiwyg/assets/markitup/skins/simple/images/menu.png
  src/modules/Wysiwyg/assets/markitup/skins/simple/images/submenu.png
  src/modules/Wysiwyg/assets/markitup/skins/simple/style.css
  src/modules/Wysiwyg/assets/markitup/templates/preview.html
  src/modules/Wysiwyg/html_admin/mod_wysiwyg_js.html.twig
  src/modules/Wysiwyg/html_admin/mod_wysiwyg_settings.html.twig
Labels: cleanup

#794 Use the PHPSESSID cookie as a fallback if PHP can't detect a valid session
  src/di.php
  src/library/Box/AppAdmin.php
  src/library/Box/AppClient.php
  src/modules/Api/Controller/Client.php
Labels: bug

#810 Fix Admin API call param
  src/modules/Invoice/html_admin/mod_invoice_tax.html.twig
  src/modules/Servicedomain/html_admin/mod_servicedomain_index.html.twig
Labels: bug

#815 Restore old functionality in the order module
  src/modules/Order/Service.php
Labels: bug

#814 Update all CKEditor packages to their latest
  package-lock.json
  src/modules/Wysiwyg/package.json
Labels: bug, dependencies

#818 Fix custom fields not being displayed on the client profile
  src/modules/Client/html_client/mod_client_profile.html.twig
  src/modules/Page/html_client/mod_page_signup.html.twig
Labels: bug

#817 Fix path to the spectrum asset files
  src/modules/Theme/html_admin/mod_theme_preset.html.twig
Labels: bug

#816 Clean up the CWP server manager
  src/library/Server/Manager/CWP.php
Labels: hosting, cleanup

#823 Tell dependabot to ignore CKEditor
  .github/dependabot.yml
  src/modules/Wysiwyg/package.json
Labels: github-config

#824 Update dependabot.yml
  .github/dependabot.yml
Labels: github-config

#842 Fix Virtualmin Server Manger
  src/library/Box/TwigExtensions.php
  src/library/Server/Manager/Virtualmin.php
  src/modules/Product/Service.php
  src/modules/Servicehosting/Service.php
Labels: hosting

#827 Replace Gulp with Webpack Encore
  .github/workflows/artifact.yml
  gulpfile.babel.js
  package-lock.json
  package.json
  src/composer.json
  src/composer.lock
  src/di.php
  src/modules/Theme/Service.php
  src/modules/Theme/html_admin/mod_theme_preset.html.twig
  src/modules/Wysiwyg/package.json
  src/themes/admin_default/assets/fossbilling.js
  src/themes/admin_default/assets/js/fossbilling.js
  src/themes/admin_default/assets/js/sprite.js
  src/themes/admin_default/assets/js/ui/backToTop.js
  src/themes/admin_default/assets/scss/fossbilling.scss
  src/themes/admin_default/gulpfile.babel.js
  src/themes/admin_default/html/layout_default.html.twig
  src/themes/admin_default/html/layout_login.html.twig
  src/themes/admin_default/package.json
  src/themes/admin_default/postcss.config.js
  src/themes/admin_default/webpack.config.js
Labels: enhancement, composer, dependencies, javascript

#839 Add verification before permitting password change
  src/modules/Client/html_client/mod_client_profile.html.twig
  src/modules/Profile/Api/Admin.php
  src/modules/Profile/Api/Client.php
  src/modules/Profile/Service.php
  src/modules/Staff/html_admin/mod_staff_profile.html.twig
Labels: enhancement, security, breaking change, API

#858 Replace spectrum color picker and improve locale selector
  package-lock.json
  src/modules/Orderbutton/html_admin/mod_orderbutton_settings.html.twig
  src/themes/admin_default/assets/fossbilling.js
  src/themes/admin_default/assets/js/fossbilling.js
  src/themes/admin_default/assets/js/jquery.spectrum.js
  src/themes/admin_default/assets/scss/fossbilling.scss
  src/themes/admin_default/assets/scss/spectrum.scss
  src/themes/admin_default/html/layout_default.html.twig
  src/themes/admin_default/package.json
  src/themes/admin_default/webpack.config.js
Labels: enhancement, cleanup

#875 Fixed broken Gravatars for the client ticket page
  src/modules/Support/html_client/mod_support_ticket.html.twig
Labels: bug, Huraga
