Repository FOSSBilling/FOSSBilling, pull requests merged in 2023-04, with the labels that each got.

#1031 Fix sitemap content type header
  src/library/Box/AppClient.php
Labels: bug

#1032 Add symfony/polyfill-intl-icu
  src/composer.json
  src/composer.lock
Labels: composer

#1048 Fix unknown encore_entry_link_tags function
  src/load.php
  src/modules/Theme/Service.php
Labels: bug

#1060 Slightly improved twig locale handling
  src/di.php
Labels: bug, enhancement

#1049 Add badges to the dashboard
  src/themes/admin_default/html/mod_index_dashboard.html.twig
Labels: admin panel, front-end

#1078 Quick fix to make CKEditor usable in dark mode
  src/modules/Wysiwyg/html_admin/mod_wysiwyg_js.html.twig
Labels: admin panel

#1075 Update rewrite rules, improve error handling, and some related cleanup
  .gitignore
  README.md
  cspell.json
  data/lighttpd.conf
  data/nginx.conf
  data/phpfpm.conf
  src/.htaccess
  src/foss-update.php
  src/htaccess.txt
  src/index.php
  src/install/install.php
  src/library/Box/App.php
  src/library/Box/AppClient.php
  src/library/Box/Tools.php
  src/load.php
  src/modules/Extension/html_admin/mod_extension_index.html.twig
  src/rewrite-missing.html
  src/themes/admin_default/html/error.html.twig
  src/themes/huraga/html/error.html.twig
  tests/library/Box/Box_TwigLoaderTest.php
Labels: installer

#1087 Remove webpack-notifier dev dependency
  package-lock.json
  package.json
  src/themes/admin_default/webpack.config.js
Labels: dependencies, cleanup

#1088 Bump minimum npm version to 9
  package-lock.json
  package.json
Labels: dependencies

#1089 Remove babel npm dev dependencies
  .babelrc
  package-lock.json
  package.json
Labels: dependencies

#1092 Bump node version and fix release
  .github/workflows/artifact.yml
Labels: dependencies

#1091 Move to using symfony/mailer for emails
  src/composer.json
  src/composer.lock
  src/di.php
  src/foss-update.php
  src/library/Box/Mail.php
  src/library/FOSSBilling/Mail.php
  src/modules/Email/Service.php
  src/modules/Email/html_admin/mod_email_settings.html.twig
  tests/library/Box/Box_MailTest.php
  tests/modules/Email/ServiceTest.php
Labels: enhancement, composer, email

#1094 Enable composer package sorting
  src/composer.json
  src/composer.lock
Labels: composer

#1097 Make client profile respect "required" params
  src/modules/Client/html_client/mod_client_profile.html.twig
Labels: bug

#1108 Various improvements to translatable strings
  src/index.php
  src/library/Box/Crypt.php
  src/library/Box/Extension.php
  src/library/Box/Period.php
  src/library/Box/Validate.php
  src/library/Box/Zip.php
  src/library/Model/ProductTable.php
  src/library/Payment/Adapter/AliPay.php
  src/library/Payment/Adapter/ClientBalance.php
  src/library/Payment/Adapter/Interkassa.php
  src/library/Payment/Adapter/Onebip.php
  src/library/Payment/Adapter/PayPalEmail.php
  src/library/Payment/Adapter/Stripe.php
  src/library/Payment/Adapter/TwoCheckout.php
  src/library/Payment/Adapter/WebMoney.php
  src/library/Registrar/Adapter/Email.php
  src/library/Registrar/Adapter/Internetbs.php
  src/library/Registrar/Adapter/Namecheap.php
  src/library/Registrar/Adapter/Netearthone.php
  src/library/Registrar/Adapter/Resellbiz.php
  src/library/Registrar/Adapter/Resellerclub.php
  src/library/Registrar/Adapter/Resellerid.php
  src/library/Server/Manager/CWP.php
  src/library/Server/Manager/Directadmin.php
  src/library/Server/Manager/Whm.php
  src/modules/Cart/Service.php
  src/modules/Client/Service.php
  tests/integration/bb-modules/mod_cart/Api_GuestTest.php
  tests/integration/bb-modules/mod_invoice/ServiceTest.php
  tests/modules/Cart/ServiceTest.php
  tests/modules/Client/ServiceTest.php
Labels: hosting, localization, l10n

#1109 Automatically select locale based on browser info
  src/di.php
  src/library/FOSSBilling/i18n.php
  src/modules/Extension/Api/Admin.php
  src/modules/Extension/Api/Guest.php
  src/modules/System/Service.php
  tests/modules/Extension/Api/AdminTest.php
  tests/modules/Extension/Api/GuestTest.php
  tests/modules/System/ServiceTest.php
Labels: enhancement, localization

#1071 Decrease timeout ssl check
  src/install/install.php
Labels: installer

#1128 Remove the FTP layer
  src/di.php
  src/library/Box/Ftp.php
  src/modules/System/html_admin/mod_system_settings.html.twig
Labels: cleanup

#1129 Remove a few more useless classes
  src/di.php
  src/library/Box/Cookie.php
  src/library/Box/ExceptionAuth.php
  src/library/Box/Response.php
  src/library/Box/Update.php
  src/modules/Client/Api/Guest.php
  src/modules/Profile/Api/Admin.php
  src/modules/Profile/Service.php
  src/modules/System/Api/Guest.php
  tests/integration/bb-library/Box/DiTest.php
  tests/library/Box/Box_ExceptionTest.php
  tests/modules/Client/Api/GuestTest.php
  tests/modules/Profile/Api/AdminTest.php
  tests/modules/Profile/ServiceTest.php
  tests/modules/System/Api/GuestTest.php
Labels: cleanup

#1122 Refactor request handling to use native functionality
  src/di.php
  src/index.php
  src/library/Box/App.php
  src/library/Box/Pagination.php
  src/library/Box/Request.php
  src/library/Box/Requirements.php
  src/load.php
  src/modules/Api/Service.php
  src/modules/Client/Controller/Admin.php
  src/modules/Invoice/Controller/Client.php
  src/modules/Order/Controller/Admin.php
  src/modules/Servicelicense/Server.php
  src/modules/System/Api/Guest.php
  src/modules/System/Service.php
  tests/integration/bb-library/Box/DiTest.php
  tests/library/Box/Box_RequestTest.php
  tests/modules/Activity/Api/AdminTest.php
  tests/modules/Activity/ServiceTest.php
  tests/modules/Api/ServiceTest.php
  tests/modules/System/Api/GuestTest.php
  tests/modules/System/ServiceTest.php
Labels: cleanup

#1030 A little overhaul for the SEO module
  src/modules/Seo/Api/Admin.php
  src/modules/Seo/Engines/Google.php
  src/modules/Seo/Service.php
  src/modules/Seo/html_admin/mod_seo_settings.html.twig
  src/modules/Seo/manifest.json
Labels: enhancement

#1136 Fix HTTP response error code bug
  src/index.php
Labels: bug

#1137 Fix ResellerClub registrar HTTP response handling error
  src/library/Registrar/Adapter/Resellerclub.php
Labels: bug

#1123 Remove Box/Zip in favour of library
  src/library/Box/Update.php
  src/library/Box/Zip.php
  src/modules/Extension/Service.php
  tests/modules/Extension/ServiceTest.php
Labels: cleanup

#1144 Dropped Box_FileCacheException
  src/library/Box/FileCacheExcption.php
  src/library/FileCache.php
Labels: skip-changelog, cleanup

#1139 Ensure the next invoice # is interpreted as an int
  src/modules/Invoice/Service.php
Labels: bug

#1140 Minor improvements to the locale detection
  src/library/FOSSBilling/i18n.php
Labels: enhancement

#1146 Renamed Box_Requirements and Box_Version
  .github/workflows/artifact.yml
  src/di.php
  src/foss-update.php
  src/install/assets/install.html.twig
  src/install/install.php
  src/library/Box/Extension.php
  src/library/Box/TwigExtensions.php
  src/library/Box/Update.php
  src/library/FOSSBilling/Requirements.php
  src/library/FOSSBilling/Version.php
  src/modules/Api/Controller/Client.php
  src/modules/Extension/Service.php
  src/modules/System/Api/Admin.php
  src/modules/System/Service.php
  tests/integration/bb-library/Box/DiTest.php
  tests/modules/System/Api/GuestTest.php
  tests/modules/System/ServiceTest.php
Labels: installer

#1148 Fix Box\Update by replacing file_get_contents
  src/library/Box/Update.php
Labels: bug

#1141 New ExtensionDirectory class
  src/di.php
  src/library/Box/Extension.php
  src/library/FOSSBilling/ExtensionManager.php
  src/modules/Extension/Api/Admin.php
  src/modules/Extension/Service.php
  tests/integration/bb-library/Box/DiTest.php
  tests/modules/Extension/Api/AdminTest.php
  tests/modules/Extension/ServiceTest.php
Labels: enhancement

#1153 Repace DI http-client with direct calls to symfomy/http-client
  src/di.php
  src/library/Box/Update.php
  src/library/FOSSBilling/ExtensionManager.php
  src/modules/Currency/Service.php
  src/modules/Extension/Service.php
  src/modules/Seo/Engines/Google.php
  src/modules/Spamchecker/Service.php
  src/modules/System/Service.php
  tests/integration/bb-library/Box/DiTest.php
Labels: cleanup

#1159 Fix server Manager extension logging
  src/di.php
  src/library/Box/InjectionAwareInterface.php
  src/library/Box/Log.php
  src/library/Payment/AdapterAbstract.php
  src/library/Registrar/AdapterAbstract.php
Labels: bug

#1164 Fix error on client creation when no group selected
  src/modules/Client/Service.php
Labels: bug

#1161 Update DirectAdmin server Manager with various fixes
  src/library/Server/Manager/Directadmin.php
  src/modules/Servicehosting/Service.php
Labels: bug, hosting, cleanup

#1163 Fix owndomain TLD handling to include period
  src/modules/Cart/Service.php
  src/modules/Servicedomain/Service.php
  src/modules/Servicehosting/Service.php
Labels: bug

#1165 Update Currency service to check for no API key
  src/modules/Currency/Service.php
Labels: bug

#1166 Fix the MassMailer error
  src/modules/Massmailer/html_admin/mod_massmailer_index.html.twig
Labels: bug

#1167 Update Product promotion handling to fix various bugs
  src/modules/Product/Controller/Admin.php
  src/modules/Product/Service.php
  src/modules/Product/html_admin/mod_product_promo.html.twig
  src/modules/Product/html_admin/mod_product_promos.html.twig
Labels: bug

#1168 Update the patch to remove old classes
  src/foss-update.php
Labels: cleanup

#1169 Update locations with extension manager naming
  src/di.php
  src/modules/Extension/Api/Admin.php
  src/modules/Extension/Service.php
  tests/integration/bb-library/Box/DiTest.php
  tests/modules/Extension/Api/AdminTest.php
  tests/modules/Extension/ServiceTest.php
Labels: cleanup

#1172 Update WHM manager to use default port
  src/library/Server/Manager/Whm.php
Labels: bug, hosting

#1173 Remove the _sendmail function from the installer
  src/install/install.php
Labels: installer

#1175 Update System update message to link to updater
  src/modules/System/Service.php
  src/themes/admin_default/html/mod_index_dashboard.html.twig
Labels: enhancement, feature request

#1179 Add generic loader support to the API wrapper
  src/library/Api/API.js
Labels: enhancement, API

#1177 Clean up loader
  src/load.php
Labels: cleanup

#1178 Fix links to client emails
  src/modules/Client/html_admin/mod_client_manage.html.twig
Labels: bug

#1176 Added types and fixed a typo
  src/library/FOSSBilling/ExtensionManager.php
  src/library/FOSSBilling/Mail.php
  src/library/FOSSBilling/Requirements.php
  src/library/FOSSBilling/Version.php
Labels: skip-changelog

#1006 Replace the error page and start work on #195
  src/library/Box/Translate.php
  src/library/Error/ErrorPage.php
  src/load.php
Labels: enhancement

#1185 A few small fixes
  src/library/FOSSBilling/i18n.php
  src/modules/Invoice/Service.php
Labels: bug

#1184 Implemented symfony/cache
  src/composer.json
  src/composer.lock
  src/di.php
  src/foss-update.php
  src/library/Box/Tools.php
  src/library/Box/Update.php
  src/library/FileCache.php
  src/modules/System/html_admin/mod_system_update.html.twig
  tests/integration/bb-library/Box/DiTest.php
Labels: enhancement, composer, dependencies

#1186 Fix Orderbutton JS error
  src/modules/Orderbutton/html_client/mod_orderbutton_js.html.twig
Labels: bug

#1187 Removed tests for the Zend Framework
  tests/includes/Zend/Exception.php
  tests/includes/Zend/Loader.php
  tests/includes/Zend/Loader/Exception.php
  tests/includes/Zend/Reflection/Class.php
  tests/includes/Zend/Reflection/Docblock.php
  tests/includes/Zend/Reflection/Docblock/Tag.php
  tests/includes/Zend/Reflection/Docblock/Tag/Param.php
  tests/includes/Zend/Reflection/Docblock/Tag/Return.php
  tests/includes/Zend/Reflection/Exception.php
  tests/includes/Zend/Reflection/Extension.php
  tests/includes/Zend/Reflection/File.php
  tests/includes/Zend/Reflection/Function.php
  tests/includes/Zend/Reflection/Method.php
  tests/includes/Zend/Reflection/Parameter.php
  tests/includes/Zend/Reflection/Property.php
Labels: tests/CI

#1188 Fix load.php and minor error handler issues
  src/library/Error/ErrorPage.php
  src/load.php
Labels: bug

#1190 Remove broken and poorly implemented feature
  src/config-sample.php
  src/install/install.php
  src/library/Box/Tools.php
  src/library/Box/Update.php
  src/library/Box/Url.php
  src/library/FOSSBilling/Requirements.php
  src/load.php
Labels: installer, cleanup

#1143 Central Alerts System
  src/di.php
  src/library/Box/Update.php
  src/library/FOSSBilling/CentralAlerts.php
  src/modules/System/Api/Admin.php
  src/modules/System/Service.php
  src/themes/admin_default/html/mod_index_dashboard.html.twig
Labels: enhancement, security

#1191 Move composer files to project root
  .github/labeler.yml
  .github/workflows/artifact.yml
  .github/workflows/php.yml
  .github/workflows/phpstan.yml
  composer.json
  composer.lock
  cspell.json
  src/di.php
  tests/bootstrap.php
  tests/includes/BoxSessionMock.php
  tests/integration/bb-library/Box/DiTest.php
  tests/library/Box/Box_SessionTest.php
  tests/modules/Cart/ServiceTest.php
  tests/modules/Profile/ServiceTest.php
Labels: tests/CI, github-config, cleanup

#1192 Introduce a cspell workflow
  .github/ISSUE_TEMPLATE/BUG-REPORT.yml
  .github/workflows/cspell.yml
  GOVERNANCE.md
  cspell.json
  src/di.php
  src/foss-update.php
  src/index.php
  src/library/Box/Exception.php
  src/library/Box/Tools.php
  src/library/Error/ErrorPage.php
  src/library/FOSSBilling/Mail.php
  src/library/Payment/AdapterAbstract.php
  src/library/Payment/Exception.php
  src/library/Registrar/Exception.php
  src/library/Server/Exception.php
  src/load.php
  src/modules/Email/html_admin/mod_email_details.html.twig
  src/modules/Formbuilder/html_admin/mod_formbuilder_settings.html.twig
  src/modules/Invoice/Service.php
  tests/modules/Formbuilder/Api/AdminTest.php
Labels: enhancement
