Repository FOSSBilling/FOSSBilling, pull requests merged in 2023-01, with the labels that each got.

#655 Fix: #640 replace whois script with external library
  src/composer.json
  src/composer.lock
  src/library/Registrar/Adapter/Custom.php
  src/library/Registrar/Adapter/Email.php
Labels: composer, domains

#657 API Wrapper: reformat malformed JSON data
  src/library/Api/API.js
  src/themes/admin_default/html/layout_default.html.twig
  src/themes/huraga/html/layout_default.html.twig
  src/themes/huraga/html/layout_public.html.twig
Labels: bug, API

#675 Fix installer for windows
  src/install/install.php
Labels: installer

#688 Replace php-markdown with commonmark and remove Spyc
  cspell.json
  src/composer.json
  src/composer.lock
  src/library/Box/TwigExtensions.php
Labels: composer

#707 Remove docker and other old build files
  Makefile
  bin/install.sh
  bin/provision.sh
  bin/update.sh
  build.xml
  data/docker-nginx.conf
  data/docker/php/Dockerfile
  data/docker/php/fossbilling-crontab
  data/phpfpm.conf
  docker-compose.yaml
Labels: installer, docker

#711 Update Stripe to the latest SDK
  phpstan-baseline.neon
  src/composer.json
  src/composer.lock
  src/library/Payment/Adapter/Stripe.php
Labels: composer

#742 Added a check for PHP version to the installer
  src/install/index.php
Labels: installer

#762 Add a link to the admin password reset flow
  src/modules/Staff/html_admin/mod_staff_login.html.twig
  src/modules/Staff/html_admin/mod_staff_password_reset.html.twig
Labels: enhancement, admin panel
