Repository FOSSBilling/FOSSBilling, pull requests merged in 2023-07, with the labels that each got.

#1382 Allow IPs to be whitelisted from rate limiting
  src/config-sample.php
  src/install/install.php
  src/library/FOSSBilling/Request.php
  src/library/FOSSBilling/UpdatePatcher.php
  src/modules/Api/Controller/Client.php
Labels: enhancement, installer, library, modules

#1393 Provide a fallback method to perform patches
  src/index.php
  src/library/FOSSBilling/UpdatePatcher.php
Labels: bug, enhancement, library

#1394 Prevent exceptions from being interpreted as HTML
  src/library/FOSSBilling/ErrorPage.php
  src/load.php
Labels: security, library

#1402 Cleanup the PDF generator code a bit
  src/modules/Invoice/Service.php
Labels: cleanup, modules

#1401 Escape HTML in company info
  src/modules/System/Service.php
Labels: modules

#1378 ✨Add prefix for generated users
  cspell.json
  src/library/Server/Manager.php
  src/modules/Servicehosting/Api/Admin.php
  src/modules/Servicehosting/Service.php
  src/modules/Servicehosting/html_admin/mod_servicehosting_server.html.twig
Labels: enhancement, library, modules

#1400 Fix some malformed search statements
  src/modules/Invoice/ServicePayGateway.php
  src/modules/Invoice/ServiceSubscription.php
  src/modules/News/Service.php
  tests/modules/Invoice/ServicePayGatewayTest.php
  tests/modules/Invoice/ServiceSubscriptionTest.php
  tests/modules/Invoice/ServiceTransactionTest.php
Labels: bug, tests/CI, modules

#1407 Fix admin theme brief flash
  src/themes/admin_default/assets/fossbilling.js
  src/themes/admin_default/html/layout_default.html.twig
  src/themes/admin_default/html/mod_index_dashboard.html.twig
Labels: bug, admin-panel

#1376 Exception messages cleanup
  cspell.json
  src/install/install.php
  src/library/Box/App.php
  src/library/Box/AppClient.php
  src/library/Box/Mod.php
  src/library/Box/TwigLoader.php
  src/library/FOSSBilling/Tools.php
  src/library/FOSSBilling/UpdatePatcher.php
  src/library/FOSSBilling/Validate.php
  src/library/Payment/Adapter/AliPay.php
  src/library/Payment/Adapter/ClientBalance.php
  src/library/Payment/Adapter/Custom.php
  src/library/Payment/Adapter/Interkassa.php
  src/library/Payment/Adapter/PayPalEmail.php
  src/library/Payment/Adapter/TwoCheckout.php
  src/library/Payment/Adapter/WebMoney.php
  src/library/Registrar/Adapter/Email.php
  src/library/Registrar/Adapter/Internetbs.php
  src/library/Registrar/Adapter/Namecheap.php
  src/library/Registrar/Adapter/Resellerclub.php
  src/library/Server/Manager/CWP.php
  src/library/Server/Manager/Directadmin.php
  src/library/Server/Manager/Hestia.php
  src/library/Server/Manager/Ispconfig3.php
  src/library/Server/Manager/Plesk.php
  src/library/Server/Manager/Virtualmin.php
  src/library/Server/Manager/Whm.php
  src/modules/Api/Controller/Client.php
  src/modules/Cart/Api/Guest.php
  src/modules/Cart/Service.php
  src/modules/Client/Service.php
  src/modules/Client/ServiceBalance.php
  src/modules/Client/html_client/mod_client_profile.html.twig
  src/modules/Currency/Api/Admin.php
  src/modules/Currency/Service.php
  src/modules/Formbuilder/Api/Admin.php
  src/modules/Invoice/Api/Admin.php
  src/modules/Profile/Service.php
  src/modules/Servicedomain/Api/Guest.php
  src/modules/Servicedomain/Service.php
  src/modules/Servicehosting/Api/Guest.php
  src/modules/Servicehosting/Service.php
  src/modules/Servicelicense/Server.php
  src/modules/Servicelicense/Service.php
  src/modules/Support/Service.php
  src/modules/System/Api/Admin.php
  tests/integration/bb-modules/mod_cart/Api_GuestTest.php
  tests/modules/Cart/ServiceTest.php
  tests/modules/Client/ServiceBalanceTest.php
  tests/modules/Client/ServiceTest.php
  tests/modules/Currency/Api/Api_AdminTest.php
  tests/modules/Formbuilder/Api/AdminTest.php
  tests/modules/Servicehosting/ServiceTest.php
Labels: server-managers, installer, payment-gateways, tests/CI, i18n, cleanup, library, modules, domain-registrars

#1404 Fix resetting an ordered API key from admin panel
  src/modules/Serviceapikey/html_admin/mod_serviceapikey_manage.html.twig
Labels: bug, modules

#1423 Increase release archive download timeout
  src/library/FOSSBilling/Update.php
Labels: bug, library

#1422 Fix update patcher overring locale / timezone config
  src/library/FOSSBilling/UpdatePatcher.php
Labels: bug, library

#1436 Minor improvements to cron
  src/modules/Cron/Service.php
  src/modules/Cron/html_admin/mod_cron_settings.html.twig
  tests/modules/Cron/ServiceTest.php
Labels: tests/CI, modules

#1451 Fix / improve flawed email confirmation system
  src/di.php
  src/modules/Client/Api/Client.php
  src/modules/Client/Api/Guest.php
  src/modules/Client/Service.php
  src/modules/Client/html_client/mod_client_profile.html.twig
  tests/modules/Client/ServiceTest.php
Labels: bug, enhancement, tests/CI, modules

#1448 Cleanly handle accounts being deleted
  src/di.php
Labels: bug, enhancement

#1447 Minor improvements to the themes list
  src/modules/Theme/html_admin/mod_theme_settings.html.twig
Labels: front-end, modules, admin-panel

#1454 Fixes dark mode system toast
  src/themes/admin_default/assets/scss/fossbilling.scss
Labels: admin-panel

#1443 Fix minor errors
  src/library/Box/TwigExtensions.php
  src/library/Server/Manager.php
  src/modules/Staff/Service.php
Labels: bug, library, modules

#1437 Set the timezone when setting up PDO
  src/di.php
Labels: bug

#1435 Invalidate existing sessions during PW reset
  src/modules/Client/Api/Admin.php
  src/modules/Profile/Api/Admin.php
  src/modules/Profile/Api/Client.php
  src/modules/Profile/Service.php
  src/modules/Staff/Service.php
  tests/modules/Client/Api/AdminTest.php
  tests/modules/Staff/ServiceTest.php
Labels: enhancement, security, tests/CI, modules

#1471 Remove the "remember me" checkbox
  src/modules/Orderbutton/html_client/mod_orderbutton_client.html.twig
  src/modules/Page/html_client/mod_page_login.html.twig
  src/modules/Staff/Api/Guest.php
  src/modules/Staff/Service.php
  src/modules/Staff/html_admin/mod_staff_login.html.twig
  src/themes/huraga/config/settings.html
  tests/integration/bb-modules/mod_client/Api_GuestTest.php
  tests/modules/Client/Api/GuestTest.php
Labels: tests/CI, Huraga, cleanup, modules

#1461 Make invoice customizable
  src/modules/Invoice/Service.php
  src/modules/Invoice/pdf_template/default-pdf.twig
Labels: modules

#1486 Fixed tax support checkbox state
  src/modules/Invoice/html_admin/mod_invoice_tax.html.twig
Labels: modules

#1489 Fix toasts not stacking (See Issue #721)
  src/install/assets/layout.html.twig
  src/themes/admin_default/assets/js/fossbilling.js
  src/themes/admin_default/assets/scss/fossbilling.scss
  src/themes/admin_default/html/layout_blank.html.twig
  src/themes/admin_default/html/layout_default.html.twig
  src/themes/admin_default/html/layout_login.html.twig
Labels: installer, admin-panel

#1495 Remove incorrect login info from onEventAdminLoginFailed
  src/modules/Staff/Service.php
Labels: modules

#1494 Invoices now get generated for all orders at renewal time.
  src/modules/Invoice/Service.php
Labels: modules

#1467 Remove WHM frontpage package param
  src/library/Server/Manager/Whm.php
Labels: server-managers

#1477 Fix issue where nothing was being passed to min
  src/modules/Product/Service.php
Labels: bug, modules

#1490 Fixed renderJSON in App.php not loaded
  src/library/Box/App.php
Labels: library

#1365 Fixed Password Reset handling
  src/modules/Client/Api/Guest.php
  src/modules/Page/html_client/mod_page_password-reset.html.twig
  src/modules/Staff/Api/Guest.php
  src/modules/Staff/html_admin/mod_staff_password_reset.html.twig
  tests/modules/Client/Api/GuestTest.php
Labels: tests/CI, modules

#1497 Run the CS workflow on push to main & add rector
  .github/workflows/rectorAndCs.yml
  .github/workflows/styling.yml
  cspell.json
  rector.php
  src/rector.php
Labels: bug, enhancement, github-config

#1500 HestiaCP failed setup if domain already exists on server
  src/library/Server/Manager/Hestia.php
Labels: server-managers

#1492 Prevent deletion of Servers, Hosting Plans and TLDs that have active Products.
  cspell.json
  src/modules/Client/Api/Admin.php
  src/modules/Servicedomain/Api/Admin.php
  src/modules/Servicehosting/Api/Admin.php
  tests/modules/Client/Api/AdminTest.php
  tests/modules/Servicedomain/Api/Api_AdminTest.php
  tests/modules/Servicehosting/Api/AdminTest.php
Labels: tests/CI, modules
