Repository FOSSBilling/FOSSBilling, pull requests merged in 2023-09, with the labels that each got.

#1587 Fix missing allow paths in our htaccess
  src/.htaccess
Labels: bug

#1588 Implement warnings about major and minor updates
  src/library/FOSSBilling/Update.php
  src/library/FOSSBilling/Version.php
  src/modules/System/Api/Admin.php
  src/modules/System/html_admin/mod_system_update.html.twig
Labels: enhancement, library, modules

#1589 Fix and bump @tabler/core to 1.0.0-beta20
  package-lock.json
  src/themes/admin_default/assets/scss/_flags.scss
  src/themes/admin_default/package.json
Labels: admin-panel

#1590 Improve color-picker design
  src/modules/Orderbutton/html_admin/mod_orderbutton_settings.html.twig
  src/themes/admin_default/assets/fossbilling.js
  src/themes/admin_default/assets/scss/fossbilling.scss
Labels: modules, admin-panel

#1594 Don't attempt to set the country with Plesk
  src/library/Server/Manager/Plesk.php
Labels: bug, server-managers

#1600 Tweak the HTTPS check and secure cookie flag behavior
  src/di.php
  src/library/FOSSBilling/Tools.php
  src/load.php
Labels: library

#1604 Improve the behavior of the test email button
  src/modules/Email/Api/Admin.php
  src/modules/Email/Service.php
  src/modules/Email/html_admin/mod_email_settings.html.twig
  src/modules/Email/html_email/mod_email_test.html.twig
Labels: bug, enhancement, modules

#1606 Copy Option for Order Button Code Examples
  src/modules/Orderbutton/html_admin/mod_orderbutton_settings.html.twig
  src/themes/admin_default/assets/scss/fossbilling.scss
Labels: modules, admin-panel

#1609 Use the configured max domains with Plesk
  src/library/Server/Manager/Plesk.php
Labels: bug, server-managers

#1613 MInor improvements to the installer
  src/install/install.php
  src/library/FOSSBilling/Requirements.php
Labels: installer, library

#1620 Fix installer ssl check
  src/install/install.php
  src/library/FOSSBilling/Tools.php
Labels: installer, library

#1621 Moved Cypress to /tests.
  .gitignore
  cypress.config.js
  tests/cypress/e2e/admin/index.cy.js
  tests/cypress/e2e/admin/login.cy.js
  tests/cypress/e2e/huraga/index.cy.js
  tests/cypress/e2e/huraga/login.cy.js
  tests/cypress/e2e/huraga/support.cy.js
  tests/cypress/e2e/modules/System/api/guest.cy.js
  tests/cypress/e2e/modules/nonexistent.cy.js
  tests/cypress/support/e2e.js
Labels: tests/CI

#1596 Prune the filesystem cache during cron
  src/modules/Cron/Service.php
  src/modules/System/Service.php
  tests/modules/Cron/ServiceTest.php
Labels: tests/CI, modules

#1629 Removed random static key in email setVars & getVars
  src/modules/Email/Service.php
  src/modules/Email/html_admin/mod_email_settings.html.twig
  tests/modules/Email/ServiceTest.php
Labels: tests/CI, modules

#1614 Improve session max age logic / behavior
  src/config-sample.php
  src/di.php
  src/install/install.php
  src/install/sql/structure.sql
  src/library/FOSSBilling/Session.php
  src/library/FOSSBilling/UpdatePatcher.php
  src/modules/Cron/Service.php
Labels: security, installer, library, modules

#1627 Reworked Password-Reset flow
  cspell.json
  src/modules/Client/Api/Guest.php
  src/modules/Client/Controller/Client.php
  src/modules/Client/Service.php
  src/modules/Client/html_client/mod_client_set_new_password.html.twig
  src/modules/Client/html_email/mod_client_password_reset_information.html.twig
  src/modules/Client/html_email/mod_client_password_reset_request.html.twig
  tests/modules/Client/Api/GuestTest.php
Labels: tests/CI, modules

#1622 Rewritten bin/prepare & +FOSSBilling_Environment
  .github/workflows/php-ci.yml
  bin/prepare.php
  src/cron.php
  src/di.php
  src/install/install.php
  src/library/FOSSBilling/Environment.php
  src/library/FOSSBilling/Session.php
  src/library/Payment/Adapter/PayPalEmail.php
  src/load.php
  src/modules/Api/Controller/Client.php
  src/modules/Cron/Service.php
  src/modules/Email/Service.php
  src/modules/Invoice/ServiceTransaction.php
  src/modules/Massmailer/Service.php
  src/modules/Queue/Api/Admin.php
  src/modules/Servicecustom/Service.php
  src/modules/Servicedownloadable/Service.php
  tests/bootstrap.php
  tests/library/bootstrap.php
  tests/modules/Email/ServiceTest.php
Labels: installer, payment-gateways, tests/CI, github-config, library, modules

#1632 Add missing import on installer
  src/install/install.php
Labels: bug, installer, skip-changelog

#1635 Cache requests to the Extension Directory
  src/library/FOSSBilling/ExtensionManager.php
Labels: enhancement, library

#1633 Fix to allow analysis to run against the installer
  .github/workflows/php-ci.yml
  phpstan.neon
  src/install/install.php
  src/load.php
Labels: enhancement, installer, github-config

#1605 Adjust Recurrent Product Pricing UI Behavior
  src/themes/admin_default/html/partial_pricing.html.twig
Labels: admin-panel

#1640 Changed the text regarding extension development.
  src/modules/Extension/html_admin/mod_extension_index.html.twig
Labels: modules

#1642 Improved Invoices (Added Bank Name & Clearing Code)
  cspell.json
  src/modules/Invoice/Controller/Client.php
  src/modules/Invoice/Service.php
  src/modules/Invoice/html_admin/mod_invoice_settings.html.twig
  src/modules/Invoice/html_client/mod_invoice_print.html.twig
  src/modules/Invoice/pdf_template/default-pdf.css
  src/modules/Invoice/pdf_template/default-pdf.twig
  src/modules/System/Api/Guest.php
  src/modules/System/Service.php
  src/modules/System/html_admin/mod_system_settings.html.twig
  src/themes/huraga/html/layout_default.html.twig
  tests/modules/System/ServiceTest.php
Labels: enhancement, feature request, tests/CI, Huraga, modules

#1634 Implement a basic "confidence" system for fingerprinting
  src/library/FOSSBilling/Fingerprint.php
Labels: bug, library

#1641 Bump PHPStan analysis level
  cspell.json
  phpstan-baseline.neon
  phpstan.neon
  src/library/Api/Abstract.php
  src/library/Box/App.php
  src/library/Box/BeanHelper.php
  src/library/Box/EventDispatcher.php
  src/library/Box/Exception.php
  src/library/Box/Log.php
  src/library/Box/TwigExtensions.php
  src/library/Box/TwigLoader.php
  src/library/FOSSBilling/Mail.php
  src/library/FOSSBilling/Session.php
  src/library/FOSSBilling/UpdatePatcher.php
  src/library/Model/MassmailerMessage.php
  src/library/Model/ProductDomainTable.php
  src/library/Model/Transaction.php
  src/library/Payment/Adapter/Custom.php
  src/library/Payment/Adapter/PayPalEmail.php
  src/library/Payment/Adapter/Stripe.php
  src/library/Payment/AdapterAbstract.php
  src/library/Payment/Exception.php
  src/library/Registrar/Adapter/Custom.php
  src/library/Registrar/Adapter/Internetbs.php
  src/library/Registrar/AdapterAbstract.php
  src/library/Registrar/Exception.php
  src/library/Server/Account.php
  src/library/Server/Exception.php
  src/library/Server/Manager.php
  src/library/Server/Manager/Hestia.php
  src/library/Server/Manager/Plesk.php
  src/modules/Client/Api/Admin.php
  src/modules/Client/Api/Guest.php
  src/modules/Currency/Api/Admin.php
  src/modules/Currency/Api/Guest.php
  src/modules/Currency/Service.php
  src/modules/Email/Api/Admin.php
  src/modules/Email/Api/Client.php
  src/modules/Formbuilder/Api/Admin.php
  src/modules/Hook/Service.php
  src/modules/Invoice/Api/Admin.php
  src/modules/Invoice/Api/Client.php
  src/modules/Invoice/Api/Guest.php
  src/modules/Invoice/ServiceTransaction.php
  src/modules/Massmailer/Api/Admin.php
  src/modules/Product/Api/Admin.php
  src/modules/Product/Api/Guest.php
  src/modules/Profile/Service.php
  src/modules/Serviceapikey/Service.php
  src/modules/Servicecustom/Service.php
  src/modules/Servicedomain/Api/Admin.php
  src/modules/Servicehosting/Service.php
  src/modules/Servicemembership/Service.php
  src/modules/Spamchecker/Api/Guest.php
  src/modules/Staff/Api/Admin.php
  tests/modules/Invoice/ServiceTransactionTest.php
Labels: server-managers, payment-gateways, tests/CI, task, library, modules, domain-registrars

#1648 Quick fix to the models
  src/library/Model/MassmailerMessage.php
  src/library/Model/Transaction.php
Labels: bug, library

#1487 Mark as paid now adds funds if the Payment Provider is "Custom".
  cspell.json
  src/library/Payment/Adapter/Custom.php
  src/modules/Invoice/Api/Admin.php
  src/modules/Invoice/Service.php
  src/modules/Invoice/ServiceTransaction.php
  src/modules/Invoice/html_admin/mod_invoice_invoice.html.twig
  tests/modules/Invoice/Api/AdminTest.php
Labels: payment-gateways, tests/CI, modules

#1650 Fix redirect issue with stripe
  src/modules/System/Service.php
Labels: bug, modules

#1656 Revert of the model changes from the PHPStan PR
  src/library/Model/MassmailerMessage.php
  src/library/Model/Transaction.php
Labels: library

#1661 Significantly improve translation management
  .github/workflows/preview.yml
  cspell.json
  src/library/FOSSBilling/i18n.php
  src/modules/Extension/Api/Admin.php
  src/modules/Extension/html_admin/mod_extension_languages.html.twig
  tests/modules/Extension/Api/AdminTest.php
Labels: enhancement, tests/CI, github-config, i18n, library, modules
