Repository FOSSBilling/FOSSBilling, pull requests merged in 2023-12, with the labels that each got.

#1910 Fix TLD and registrar deletion
  src/modules/Servicedomain/Api/Admin.php
  src/modules/Servicedomain/Service.php
Labels: bug, modules

#1912 Fix tests
  .github/workflows/ci.yml
  tests/modules/Servicedomain/Api/Api_AdminTest.php
Labels: tests/CI, github-config, skip-changelog

#1913 Remove the old ISPConfig3 and Virtualmin server mgr files
  src/install/sql/content.sql
  src/install/sql/content_test.sql
  src/library/FOSSBilling/UpdatePatcher.php
Labels: bug, installer, skip-changelog, library

#1915 Update CI to include preview build and upload steps
  .github/workflows/ci.yml
  .github/workflows/merge-hold.yml
  .github/workflows/preview.yml
  src/modules/Wysiwyg/gulpfile.babel.js
Labels: github-config, modules

#1925 Fix labler
  .github/labeler.yml
  .github/release-drafter.yml
Labels: bug, skip-changelog

#1926 Looks like a singular space broke it
  .github/labeler.yml
Labels: bug, skip-changelog

#1918 Rework reusable workflows to use composite actions
  .github/workflows/ci.yml
  .github/workflows/release-build.yml
Labels: github-config

#1933 Bump lcharette/webpack-encore-twig to v1.2
  composer.json
  composer.lock
Labels: composer

#1946 Multiple minor fixes prior to 0.6.0 release
  src/modules/Client/html_client/mod_client_profile.html.twig
Labels: modules

#1955 Two 0.6.0 hotfixes
  cspell.json
  src/modules/Orderbutton/html_client/mod_orderbutton_addons.html.twig
  src/themes/huraga/assets/huraga.js
Labels: bug, modules

#1958 4 bugfixes
  src/install/install.php
  src/install/sql/content.sql
  src/install/sql/content_test.sql
  src/library/FOSSBilling/UpdatePatcher.php
  src/modules/Client/Service.php
  src/modules/Servicedomain/html_client/mod_servicedomain_order_form.html.twig
Labels: bug, installer, library, modules

#1965 Fix issue #1961
  src/library/Server/Client.php
Labels: bug, library

#1967 Enabled translations in PDFs + minor fixes
  src/modules/Invoice/pdf_template/default-pdf.twig
Labels: enhancement, modules

#1968 Migrated the custom form template to BS 5
  src/modules/Formbuilder/html_client/mod_formbuilder_build.html.twig
Labels: bug, modules

#1971 Revert #1494
  src/modules/Invoice/Service.php
Labels: bug, modules

#1979 Update artifact workflows
  .github/workflows/ci.yml
  .github/workflows/release-build.yml
Labels: github-config

#1978 Bugfixes
  src/modules/Formbuilder/Service.php
  src/modules/Invoice/Service.php
  src/modules/Support/html_client/mod_support_contact_us.html.twig
  src/modules/Support/html_client/mod_support_contact_us_conversation.html.twig
  src/modules/Theme/Service.php
Labels: bug, modules

#1966 Order screen improvements
  src/modules/Order/html_client/mod_order_index.html.twig
  src/modules/Servicedomain/html_client/mod_servicedomain_order_form.html.twig
Labels: enhancement, modules

#1977 Fix Installer when behind a reverse proxy
  src/install/install.php
  src/load.php
Labels: installer

#1980 Correctly hide the registration option for hosting too
  src/modules/Servicehosting/html_client/mod_servicehosting_order_form.html.twig
Labels: enhancement, modules

#1985 Fix password confirmation field in order form
  src/modules/Orderbutton/html_client/mod_orderbutton_client.html.twig
Labels: modules

#1988 Update CI and release workflow to fix Docker builds
  .github/workflows/ci.yml
  .github/workflows/release-docker.yml
Labels: github-config

#1989 Set required permissions for Docker workflow changes
  .github/workflows/ci.yml
  .github/workflows/release-docker.yml
Labels: github-config

#1995 Fixed a typo in the PDF
  src/modules/Invoice/pdf_template/default-pdf.twig
Labels: modules

#1999 Fixed missing api-form class on order page registration form
  src/modules/Orderbutton/html_client/mod_orderbutton_client.html.twig
Labels: bug, modules

#1996 Increase WHM server manager HTTP client timeout
  src/library/Server/Manager/Whm.php
Labels: server-managers, extensions

#1997 Improved logging functionality
  src/config-sample.php
  src/di.php
  src/library/Box/App.php
  src/library/Box/AppClient.php
  src/library/Box/Log.php
  src/library/Box/LogDb.php
  src/library/FOSSBilling/Monolog.php
  src/library/FOSSBilling/UpdatePatcher.php
  src/library/Model/ActivityClientHistoryTable.php
  src/modules/Invoice/Service.php
Labels: enhancement, library, modules

#2006 Fix broken "Edit" image
  src/modules/Servicedomain/html_admin/mod_servicedomain_config.html.twig
Labels: modules, admin-panel

#2009 Smaller fixes
  src/library/FOSSBilling/Tools.php
  src/modules/Client/Api/Guest.php
  src/modules/Invoice/pdf_template/default-pdf.twig
  src/modules/Staff/Api/Guest.php
Labels: bug, API, library, modules

#2013 Fix knowledge base search
  src/modules/Support/html_client/mod_support_kb_index.html.twig
Labels: modules

#2011 Fix product configuration page
  src/modules/Order/html_client/mod_order_product.html.twig
  src/modules/Orderbutton/html_client/mod_orderbutton_currency.html.twig
  src/modules/Orderbutton/html_client/mod_orderbutton_index.html.twig
  src/modules/Orderbutton/html_client/mod_orderbutton_product_configuration.html.twig
Labels: modules

#2010 Fix transactions search query
  src/modules/Invoice/ServiceTransaction.php
  tests/modules/Invoice/ServiceTransactionTest.php
Labels: tests/CI, modules

#2015 Update SECURITY.md
  SECURITY.md
Labels: skip-changelog

#2020 Use backticks around generated content on the invoice page
  src/modules/Invoice/html_client/mod_invoice_invoice.html.twig
Labels: bug, modules

#2018 Added support for a html_custom folder
  src/library/Box/TwigLoader.php
Labels: enhancement, library

#2016 Added support for per-theme default markdown attributes
  src/di.php
  src/index.php
  src/install/install.php
  src/modules/Theme/Service.php
  src/themes/admin_default/manifest.json
  src/themes/huraga/manifest.json
Labels: bug, enhancement, installer, modules, admin-panel

#2017 Improvements to the update page / experience
  src/library/FOSSBilling/Update.php
  src/modules/System/Api/Admin.php
  src/modules/System/html_admin/mod_system_update.html.twig
Labels: enhancement, API, library, modules, admin-panel

#2022 Fixed PDF invoices being locked to the default currency
  src/modules/Invoice/pdf_template/default-pdf.twig
Labels: bug, modules

#2023 Skip the queue when sending email verification emails
  src/modules/Client/Service.php
Labels: bug, modules

#2024 Prevent undefined array key errors
  src/modules/Theme/Service.php
Labels: skip-changelog, modules

#2027 We shouldn't be converting the prices on PDFs
  src/modules/Invoice/pdf_template/default-pdf.twig
Labels: bug, modules

#2029 Fix how negative prices are formatted
  src/modules/Currency/Api/Guest.php
Labels: bug, API, modules

#2030 Resolved certain PGs logging out clients
  src/index.php
  src/library/Payment/Adapter/PayPalEmail.php
  src/modules/Invoice/Controller/Client.php
  src/modules/Invoice/ServicePayGateway.php
  src/modules/Invoice/html_client/mod_invoice_thankyou.html.twig
Labels: bug, payment-gateways, extensions, modules
