Repository FOSSBilling/FOSSBilling, pull requests merged in 2023-08, with the labels that each got.

#1504 Make system version & company info visibility through the guest API configurable
  src/di.php
  src/install/sql/content.sql
  src/library/Box/TwigExtensions.php
  src/modules/Email/Service.php
  src/modules/System/Api/Guest.php
  src/modules/System/Service.php
  src/modules/System/html_admin/mod_system_settings.html.twig
  src/themes/admin_default/html/layout_default.html.twig
  src/themes/admin_default/html/layout_login.html.twig
  src/themes/huraga/html/layout_default.html.twig
  src/themes/huraga/html/layout_public.html.twig
  tests/modules/System/Api/GuestTest.php
Labels: installer, tests/CI, Huraga, library, modules, admin-panel

#1488 Added function to allow to Update all Orders with a new file by updating the Product.
  cspell.json
  src/library/FOSSBilling/UpdatePatcher.php
  src/modules/Product/Api/Admin.php
  src/modules/Product/Service.php
  src/modules/Servicedownloadable/Api/Admin.php
  src/modules/Servicedownloadable/Service.php
  src/modules/Servicedownloadable/html_admin/mod_servicedownloadable_config.html.twig
Labels: library, modules

#1523 Quiet down our automated PRs
  .github/workflows/ckeditor.yml
  .github/workflows/rectorAndCs.yml
Labels: github-config

#1522 Improve .htaccess rules & prevent access to PHP files
  cspell.json
  src/.htaccess
  src/cron.php
  src/modules/Cron/Service.php
  src/modules/Cron/html_admin/mod_cron_settings.html.twig
Labels: enhancement, security, modules

#1527 Remove Virtualmin and ISPConfig Server Managers
  phpstan-baseline.neon
  src/library/Server/Manager/Ispconfig3.php
  src/library/Server/Manager/Virtualmin.php
Labels: server-managers, cleanup

#1531 Fix errors in our content.sql file
  src/install/sql/content.sql
Labels: bug, installer

#1532 Fix incorrect logic in the .htaccess
  src/.htaccess
Labels: bug

#1474 Fix / change invoice incrementation logic
  src/modules/Invoice/Service.php
  tests/modules/Invoice/ServiceTest.php
Labels: bug, tests/CI, modules

#1535 Remove payment gateways we can't really maintain
  src/library/Payment/Adapter/AliPay.php
  src/library/Payment/Adapter/Interkassa.php
  src/library/Payment/Adapter/Onebip.php
  src/library/Payment/Adapter/TwoCheckout.php
  src/library/Payment/Adapter/WebMoney.php
  tests/integration/bb-library/Payment/Adapter/TwoCheckoutTest.php
  tests/integration/bb-library/Payment/Adapter/WebMoneyTest.php
  tests/modules/Invoice/ServiceTransactionTest.php
Labels: payment-gateways, tests/CI, cleanup

#1534 Fix email verification behavior oddities
  src/di.php
  src/modules/Client/Api/Guest.php
Labels: bug, modules

#1548 Admin users are unable to create ticket due to missing "Client ID"
  src/modules/Support/html_admin/mod_support_tickets.html.twig
Labels: modules

#1551 Price format feature not working
  src/modules/Currency/Api/Guest.php
Labels: modules

#1559 Fix queries in UpdatePatcher
  src/library/Box/Exception.php
  src/library/FOSSBilling/UpdatePatcher.php
Labels: library
