Repository FOSSBilling/FOSSBilling, pull requests merged in 2023-11, with the labels that each got.

#1180 Merge Kb and Support modules
  src/install/sql/content.sql
  src/install/sql/content_test.sql
  src/install/sql/structure.sql
  src/library/FOSSBilling/UpdatePatcher.php
  src/library/Model/SupportKbArticle.php
  src/library/Model/SupportKbArticleCategory.php
  src/modules/Kb/Api/Admin.php
  src/modules/Kb/Api/Guest.php
  src/modules/Kb/Controller/Admin.php
  src/modules/Kb/Controller/Client.php
  src/modules/Kb/Service.php
  src/modules/Kb/icon.svg
  src/modules/Kb/manifest.json
  src/modules/Page/html_client/mod_page_sitemap.xml
  src/modules/Support/Api/Admin.php
  src/modules/Support/Api/Client.php
  src/modules/Support/Api/Guest.php
  src/modules/Support/Controller/Admin.php
  src/modules/Support/Controller/Client.php
  src/modules/Support/Service.php
  src/modules/Support/html_admin/mod_support_canned_category.html.twig
  src/modules/Support/html_admin/mod_support_canned_response.html.twig
  src/modules/Support/html_admin/mod_support_canned_responses.html.twig
  src/modules/Support/html_admin/mod_support_canned_selector.html.twig
  src/modules/Support/html_admin/mod_support_helpdesk.html.twig
  src/modules/Support/html_admin/mod_support_kb_article.html.twig
  src/modules/Support/html_admin/mod_support_kb_category.html.twig
  src/modules/Support/html_admin/mod_support_kb_index.html.twig
  src/modules/Support/html_admin/mod_support_public_ticket.html.twig
  src/modules/Support/html_admin/mod_support_public_tickets.html.twig
  src/modules/Support/html_admin/mod_support_settings.html.twig
  src/modules/Support/html_admin/mod_support_ticket.html.twig
  src/modules/Support/html_admin/mod_support_tickets.html.twig
  src/modules/Support/html_admin/modal/mod_support_new_helpdesk.html.twig
  src/modules/Support/html_client/mod_support_kb_article.html.twig
  src/modules/Support/html_client/mod_support_kb_category.html.twig
  src/modules/Support/html_client/mod_support_kb_index.html.twig
  src/themes/huraga/config/settings.html
  src/themes/huraga/html/layout_default.html.twig
  src/themes/huraga/html/partial_menu.html.twig
  tests/fixtures/extensions.xml
  tests/integration/bb-modules/mod_kb/Api_AdminTest.php
  tests/integration/bb-modules/mod_kb/Api_GuestTest.php
  tests/integration/bb-modules/mod_redirect/Api_AdminTest.php
  tests/integration/bb-modules/mod_support/Api_AdminTest.php
  tests/integration/bb-modules/mod_support/Api_GuestTest.php
  tests/modules/Extension/ServiceTest.php
  tests/modules/Kb/Api/Api_AdminTest.php
  tests/modules/Kb/Api/Api_GuestTest.php
  tests/modules/Kb/ServiceTest.php
  tests/modules/Support/Api/Api_AdminTest.php
  tests/modules/Support/Api/Api_ClientTest.php
  tests/modules/Support/Api/Api_GuestTest.php
  tests/modules/Support/ServiceTest.php
Labels: breaking change, installer, tests/CI, Huraga, cleanup, API, library, modules

#1768 Replace direct config references with constants
  src/di.php
  src/index.php
  src/install/assets/layout.html.twig
  src/install/install.php
  src/library/Api/Handler.php
  src/library/Box/App.php
  src/library/Box/AppClient.php
  src/library/Box/Log.php
  src/library/Box/TwigExtensions.php
  src/library/Box/Url.php
  src/library/FOSSBilling/Exception.php
  src/library/FOSSBilling/Monolog.php
  src/library/FOSSBilling/Requirements.php
  src/library/FOSSBilling/SentryHelper.php
  src/library/FOSSBilling/Tools.php
  src/library/FOSSBilling/i18n.php
  src/library/Payment/Adapter/Stripe.php
  src/load.php
  src/modules/Api/Controller/Client.php
  src/modules/Email/Service.php
  src/modules/Embed/html_client/mod_embed_contact.html.twig
  src/modules/Embed/html_client/mod_embed_domainchecker.html.twig
  src/modules/Embed/html_client/mod_embed_loginform.html.twig
  src/modules/Extension/Service.php
  src/modules/Hook/Api/Admin.php
  src/modules/Invoice/Service.php
  src/modules/Invoice/ServicePayGateway.php
  src/modules/Invoice/ServiceTransaction.php
  src/modules/Massmailer/Service.php
  src/modules/Orderbutton/html_client/mod_orderbutton_index.html.twig
  src/modules/Page/html_client/mod_page_signup.html.twig
  src/modules/Product/Service.php
  src/modules/Seo/Service.php
  src/modules/Servicecustom/Service.php
  src/modules/Servicelicense/Service.php
  src/modules/System/Service.php
  src/modules/Theme/Model/Theme.php
  src/modules/Theme/Service.php
  src/themes/admin_default/html/partial_bb_meta.html.twig
  src/themes/huraga/html/layout_default.html.twig
  src/themes/huraga/html/layout_public.html.twig
  tests/integration/bb-modules/mod_servicedomain/ServiceDownloadableTest.php
  tests/integration/bb-modules/mod_theme/ServiceTest.php
  tests/modules/Invoice/ServicePayGatewayTest.php
  tests/modules/Product/ServiceTest.php
  tests/modules/System/ServiceTest.php
Labels: breaking change, installer, payment-gateways, tests/CI, Huraga, library, modules, admin-panel

#1786 Fix & improve client search
  src/modules/Client/Service.php
  src/themes/admin_default/assets/js/tomselect.js
Labels: bug, enhancement, modules, admin-panel

#1777 Drop the Queue module
  src/install/sql/content.sql
  src/install/sql/content_test.sql
  src/library/FOSSBilling/UpdatePatcher.php
  src/modules/Email/Api/Admin.php
  src/modules/Email/Service.php
  src/modules/Email/html_admin/mod_email_settings.html.twig
  src/modules/Massmailer/Api/Admin.php
  src/modules/Massmailer/Service.php
  src/modules/Massmailer/html_admin/mod_massmailer_index.html.twig
  src/modules/Queue/Api/Admin.php
  src/modules/Queue/Service.php
  src/modules/Queue/html_admin/mod_queue_settings.html.twig
  src/modules/Queue/icon.svg
  src/modules/Queue/manifest.json
  tests/integration/bb-modules/mod_queue/Api_AdminTest.php
Labels: enhancement, breaking change, installer, tests/CI, cleanup, library, modules

#1783 Minor changes / improvements
  src/install/assets/install.html.twig
  src/install/install.php
  src/library/FOSSBilling/Requirements.php
  src/modules/Order/html_admin/mod_order_index.html.twig
  src/modules/Order/html_admin/mod_order_manage.html.twig
  src/modules/System/Service.php
  src/modules/System/html_admin/mod_system_settings.html.twig
Labels: installer, library, modules

#1780 Update to Sentry v4
  .github/workflows/php-ci.yml
  .github/workflows/preview.yml
  README.md
  composer.json
  composer.lock
  package-lock.json
  package.json
  rector.php
  src/library/FOSSBilling/SentryHelper.php
Labels: bug, breaking change, github-config, dependencies, library

#1789 Improve email queue behavior
  src/modules/Email/Service.php
  tests/modules/Email/ServiceTest.php
Labels: enhancement, tests/CI, modules

#1785 Error reporting bug fixes
  src/index.php
  src/library/Box/AppClient.php
  src/load.php
Labels: bug, library

#1801 Update monolog/monolog to version 3
  composer.json
  composer.lock
  src/library/FOSSBilling/Monolog.php
Labels: library

#1797 Fix the UpdatePatcher step
  src/library/FOSSBilling/UpdatePatcher.php
Labels: library

#1814 Fix spelling & grammar
  src/install/sql/content.sql
Labels: installer, front-end

#1784 Remove the unused path_logs config key
  src/config-sample.php
  src/install/install.php
  src/library/FOSSBilling/UpdatePatcher.php
Labels: installer, cleanup, library

#1815 Fix extension installation
  src/modules/Extension/Service.php
Labels: bug, modules

#1816 Replace hardcoded slashes with DIRECTORY_SEPARATOR
  src/modules/Email/Service.php
  src/modules/Extension/Service.php
Labels: skip-changelog, modules

#1818 Clear the cache after the patches are done
  src/index.php
Labels: skip-changelog

#1819 +question-mark.svg & clock.svg
  src/themes/admin_default/assets/icons/clock.svg
  src/themes/admin_default/assets/icons/question-mark.svg
Labels: skip-changelog, admin-panel

#1817 Massmailer bugfixes & improvements
  cspell.json
  src/modules/Massmailer/Api/Admin.php
  src/modules/Massmailer/Service.php
  src/modules/Massmailer/html_admin/mod_massmailer_message.html.twig
Labels: bug, modules

#1809 Plesk server manager change password fix
  src/library/Server/Manager/Plesk.php
Labels: server-managers

#1824 Direct people to the website for the system reqs
  README.md
Labels: skip-changelog

#1826 Remove the generate EU VAT rates button
  src/modules/Invoice/ServiceTax.php
  src/modules/Invoice/html_admin/mod_invoice_tax.html.twig
  src/modules/System/Service.php
  tests/modules/Invoice/Api/AdminTest.php
  tests/modules/Invoice/ServiceTaxTest.php
Labels: tests/CI, cleanup, modules

#1836 Resolve reported errors
  src/library/FOSSBilling/Version.php
  src/modules/Invoice/ServicePayGateway.php
  src/modules/Product/Service.php
  src/modules/Servicedownloadable/Service.php
  src/modules/Servicehosting/Service.php
  src/themes/huraga/config/settings.html
  tests/modules/Invoice/ServicePayGatewayTest.php
Labels: bug, tests/CI, Huraga, library, modules

#1833 Fix email resend option
  src/modules/Email/Service.php
Labels: bug, modules

#1825 Implemented PHP DebugBar
  composer.json
  composer.lock
  cspell.json
  src/di.php
  src/index.php
  src/library/Box/App.php
  src/library/Box/AppAdmin.php
  src/library/Box/AppClient.php
  src/library/FOSSBilling/TwigExtensions/DebugBar.php
  src/themes/admin_default/html/layout_default.html.twig
  src/themes/huraga/html/layout_default.html.twig
Labels: enhancement, Huraga, library, admin-panel

#1840 Enable stock control for all product types
  src/modules/Product/html_admin/mod_product_manage.html.twig
  src/modules/Servicecustom/html_admin/mod_servicecustom_config.html.twig
Labels: bug, enhancement, modules

#1847 Fix a logged error
  src/library/FOSSBilling/i18n.php
Labels: bug, library

#1848 Cache extension configs
  src/modules/Extension/Service.php
  tests/modules/Extension/ServiceTest.php
Labels: tests/CI, modules

#1849 Improved backup patching
  src/index.php
  src/library/FOSSBilling/UpdatePatcher.php
Labels: library

#1852 Fix updating from previous releases
  src/library/FOSSBilling/UpdatePatcher.php
Labels: bug, skip-changelog, library

#1612 Enhance Huraga with Bootstrap 5 Support and Design Improvements
  cspell.json
  package-lock.json
  package.json
  src/modules/Client/html_client/mod_client_balance.html.twig
  src/modules/Client/html_client/mod_client_profile.html.twig
  src/modules/Cookieconsent/html_client/mod_cookieconsent_index.html.twig
  src/modules/Custompages/html_client/mod_custompages_content.html.twig
  src/modules/Email/html_admin/mod_email_history.html.twig
  src/modules/Email/html_client/mod_email_email.html.twig
  src/modules/Email/html_client/mod_email_index.html.twig
  src/modules/Index/html_client/mod_index_dashboard.html.twig
  src/modules/Invoice/html_client/mod_invoice_banklink.html.twig
  src/modules/Invoice/html_client/mod_invoice_index.html.twig
  src/modules/Invoice/html_client/mod_invoice_invoice.html.twig
  src/modules/Kb/html_client/mod_kb_article.html.twig
  src/modules/Kb/html_client/mod_kb_category.html.twig
  src/modules/Kb/html_client/mod_kb_index.html.twig
  src/modules/News/html_client/mod_news_index.html.twig
  src/modules/News/html_client/mod_news_post.html.twig
  src/modules/Order/html_client/mod_order_index.html.twig
  src/modules/Order/html_client/mod_order_list.html.twig
  src/modules/Order/html_client/mod_order_manage.html.twig
  src/modules/Order/html_client/mod_order_product.html.twig
  src/modules/Orderbutton/html_client/mod_orderbutton_addons.html.twig
  src/modules/Orderbutton/html_client/mod_orderbutton_checkout.html.twig
  src/modules/Orderbutton/html_client/mod_orderbutton_choose_product.html.twig
  src/modules/Orderbutton/html_client/mod_orderbutton_client.html.twig
  src/modules/Orderbutton/html_client/mod_orderbutton_currency.html.twig
  src/modules/Orderbutton/html_client/mod_orderbutton_index.html.twig
  src/modules/Orderbutton/html_client/mod_orderbutton_js.html.twig
  src/modules/Orderbutton/html_client/mod_orderbutton_product_configuration.html.twig
  src/modules/Page/html_client/mod_page_about-us.html.twig
  src/modules/Page/html_client/mod_page_login.html.twig
  src/modules/Page/html_client/mod_page_password-reset.html.twig
  src/modules/Page/html_client/mod_page_privacy-policy.html.twig
  src/modules/Page/html_client/mod_page_signup.html.twig
  src/modules/Page/html_client/mod_page_tos.html.twig
  src/modules/Servicedomain/html_client/mod_servicedomain_manage.html.twig
  src/modules/Servicedomain/html_client/mod_servicedomain_order_form.html.twig
  src/modules/Servicehosting/html_client/mod_servicehosting_order_form.html.twig
  src/modules/Support/html_client/mod_support_contact_us.html.twig
  src/modules/Support/html_client/mod_support_ticket.html.twig
  src/modules/Support/html_client/mod_support_tickets.html.twig
  src/themes/admin_default/package.json
  src/themes/huraga/assets/css/flags16.css
  src/themes/huraga/assets/huraga.js
  src/themes/huraga/assets/scss/_flags.scss
  src/themes/huraga/assets/scss/huraga.scss
  src/themes/huraga/assets/scss/markdown.scss
  src/themes/huraga/html/error.html.twig
  src/themes/huraga/html/layout_default.html.twig
  src/themes/huraga/html/layout_public.html.twig
  src/themes/huraga/html/partial_menu.html.twig
  src/themes/huraga/html/partial_pagination.html.twig
  src/themes/huraga/package.json
  src/themes/huraga/postcss.config.js
  src/themes/huraga/webpack.config.js
Labels: Huraga, modules, admin-panel

#1858 Rebuilt the requirements class
  cspell.json
  src/di.php
  src/install/assets/install.html.twig
  src/install/install.php
  src/library/FOSSBilling/Requirements.php
  src/modules/System/Service.php
Labels: installer, cleanup, library, modules

#1854 Fix DebugBar error when rendering twig exceptions
  src/library/Box/AppAdmin.php
  src/library/Box/AppClient.php
Labels: bug, skip-changelog, library

#1866 Prevent duplicated email logs in DB
  src/modules/Email/Service.php
  src/modules/Massmailer/Service.php
  tests/modules/Email/ServiceTest.php
Labels: bug, tests/CI, modules

#1870 Fix the issue John noticed
  src/install/install.php
  src/load.php
  src/modules/Support/html_client/mod_support_kb_article.html.twig
Labels: bug, installer, modules

#1891 Upgrade symfony/webpack-encore-bundle to v2.1.1
  composer.json
  composer.lock
Labels: dependencies

#1889 Begin replacing outdated jQuery in Huraga
  src/modules/Orderbutton/html_client/mod_orderbutton_checkout.html.twig
  src/modules/Orderbutton/html_client/mod_orderbutton_client.html.twig
  src/modules/Orderbutton/html_client/mod_orderbutton_index.html.twig
  src/modules/Orderbutton/html_client/mod_orderbutton_product_configuration.html.twig
  src/modules/Serviceapikey/html_client/mod_serviceapikey_manage.html.twig
  src/modules/Servicedomain/html_client/mod_servicedomain_manage.html.twig
  src/modules/Servicelicense/html_client/mod_servicelicense_manage.html.twig
  src/modules/Support/html_client/mod_support_contact_us_conversation.html.twig
  src/modules/Support/html_client/mod_support_ticket.html.twig
  src/themes/admin_default/assets/js/fossbilling.js
  src/themes/huraga/assets/css/plugins/jquery.jgrowl.css
  src/themes/huraga/assets/js/bb-jquery.js
  src/themes/huraga/assets/js/libs/jquery.js
  src/themes/huraga/assets/js/plugins/jGrowl/jquery.jgrowl.js
  src/themes/huraga/html/layout_default.html.twig
  src/themes/huraga/html/layout_public.html.twig
  src/themes/huraga/html/partial_pending_messages.html.twig
Labels: bug, Huraga, cleanup, modules, admin-panel

#1229 Streamline CI workflows
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/codeql.yml
  .github/workflows/labeler.yml
  .github/workflows/php-ci.yml
  .github/workflows/spellcheck.yml
  src/library/FOSSBilling/SentryHelper.php
Labels: github-config, skip-changelog, library

#1896 Ensure we are correctly responding to HEAD requests
  src/library/Box/UrlHelper.php
Labels: bug, library

#1897 Restructure the redirect after login functionality
  src/di.php
  src/index.php
  src/modules/Client/Api/Guest.php
  src/modules/Page/html_client/mod_page_login.html.twig
  src/modules/Staff/Api/Guest.php
  src/modules/Staff/Controller/Admin.php
  src/modules/Staff/html_admin/mod_staff_login.html.twig
  tests/modules/Staff/Api/GuestTest.php
Labels: bug, tests/CI, modules

#1903 Fix the badge text colors in the admin dashboard
  src/themes/admin_default/html/mod_index_dashboard.html.twig
Labels: bug, admin-panel

#1905 Ensure invoice authentication is on by default + bugfix
  src/di.php
  src/modules/Invoice/Controller/Client.php
Labels: bug, security, modules
