Repository FOSSBilling/FOSSBilling, pull requests merged in 2023-03, with the labels that each got.

#901 Make the Formbuilder slightly less ugly
  src/modules/Formbuilder/html_admin/mod_formbuilder_field.html.twig
  src/modules/Formbuilder/html_admin/mod_formbuilder_settings.html.twig
Labels: front-end

#903 Introduced the new Modals toolkit
  src/modules/Formbuilder/html_admin/mod_formbuilder_settings.html.twig
  src/modules/Massmailer/html_admin/mod_massmailer_message.html.twig
  src/modules/Support/html_admin/mod_support_tickets.html.twig
  src/themes/admin_default/assets/fossbilling.js
  src/themes/admin_default/assets/icons/alert-triangle.svg
  src/themes/admin_default/assets/icons/circle-check.svg
  src/themes/admin_default/assets/icons/notes.svg
  src/themes/admin_default/assets/js/fossbilling.js
  src/themes/admin_default/assets/js/ui/modals.js
  src/themes/admin_default/html/partial_batch_delete.html.twig
Labels: enhancement, admin panel, dependencies, javascript

#904 Upgrade `jquery` to v3 and cleanup related deprecations
  package-lock.json
  src/modules/Client/html_client/mod_client_profile.html.twig
  src/modules/Email/html_admin/mod_email_settings.html.twig
  src/modules/Email/html_admin/mod_email_template.html.twig
  src/modules/Email/html_client/mod_email_email.html.twig
  src/modules/Email/html_client/mod_email_index.html.twig
  src/modules/Embed/html_admin/mod_embed_index.html.twig
  src/modules/Embed/html_client/mod_embed_contact.html.twig
  src/modules/Embed/html_client/mod_embed_domainchecker.html.twig
  src/modules/Embed/html_client/mod_embed_loginform.html.twig
  src/modules/Formbuilder/html_admin/mod_formbuilder_manage.html.twig
  src/modules/Formbuilder/html_admin/mod_formbuilder_settings.html.twig
  src/modules/Invoice/html_admin/mod_invoice_invoice.html.twig
  src/modules/Massmailer/html_admin/mod_massmailer_message.html.twig
  src/modules/Order/html_client/mod_order_manage.html.twig
  src/modules/Orderbutton/html_admin/mod_orderbutton_settings.html.twig
  src/modules/Orderbutton/html_client/mod_orderbutton_checkout.html.twig
  src/modules/Orderbutton/html_client/mod_orderbutton_index.html.twig
  src/modules/Orderbutton/html_client/mod_orderbutton_js.html.twig
  src/modules/Page/html_client/mod_page_login.html.twig
  src/modules/Page/html_client/mod_page_password-reset.html.twig
  src/modules/Page/html_client/mod_page_signup.html.twig
  src/modules/Product/html_admin/mod_product_manage.html.twig
  src/modules/Servicedomain/html_admin/mod_servicedomain_manage.html.twig
  src/modules/Servicedomain/html_admin/mod_servicedomain_order.html.twig
  src/modules/Servicedomain/html_client/mod_servicedomain_manage.html.twig
  src/modules/Servicedomain/html_client/mod_servicedomain_order_form.html.twig
  src/modules/Servicedownloadable/html_admin/mod_servicedownloadable_config.html.twig
  src/modules/Servicedownloadable/html_admin/mod_servicedownloadable_manage.html.twig
  src/modules/Servicehosting/html_admin/mod_servicehosting_server.html.twig
  src/modules/Servicehosting/html_client/mod_servicehosting_manage.html.twig
  src/modules/Servicehosting/html_client/mod_servicehosting_order_form.html.twig
  src/modules/Staff/html_admin/mod_staff_manage.html.twig
  src/modules/Staff/html_admin/mod_staff_settings.html.twig
  src/modules/Support/html_admin/mod_support_canned_selector.html.twig
  src/modules/Support/html_admin/mod_support_public_ticket.html.twig
  src/modules/Support/html_admin/mod_support_settings.html.twig
  src/modules/Support/html_admin/mod_support_ticket.html.twig
  src/modules/Support/html_client/mod_support_contact_us.html.twig
  src/modules/Support/html_client/mod_support_contact_us_conversation.html.twig
  src/modules/Support/html_client/mod_support_ticket.html.twig
  src/modules/Support/html_client/mod_support_tickets.html.twig
  src/themes/admin_default/assets/fossbilling.js
  src/themes/admin_default/assets/js/forms/forms.js
  src/themes/admin_default/assets/js/forms/select2.min.js
  src/themes/admin_default/assets/js/fossbilling.js
  src/themes/admin_default/assets/js/jquery.min.js
  src/themes/admin_default/assets/js/jquery.scrollTo-min.js
  src/themes/admin_default/assets/js/tomselect.js
  src/themes/admin_default/assets/scss/fossbilling.scss
  src/themes/admin_default/assets/scss/jquery-ui.scss
  src/themes/admin_default/assets/scss/select2.scss
  src/themes/admin_default/assets/scss/ui_custom.scss
  src/themes/admin_default/html/partial_batch_delete.html.twig
  src/themes/admin_default/html/partial_pricing.html.twig
  src/themes/admin_default/package.json
  src/themes/admin_default/webpack.config.js
Labels: enhancement, security, admin panel, dependencies, javascript

#912 Update cPanel/WHM Server Manager
  src/library/Server/Manager/Whm.php
Labels: hosting

#930 Automatically reload once the update is complete
  src/modules/Extension/html_admin/mod_extension_index.html.twig
Labels: enhancement

#931 Improve SpamChecker module design
  src/modules/Spamchecker/html_admin/mod_spamchecker_settings.html.twig
Labels: enhancement, admin panel, front-end, cleanup, design

#932 Improve Cookieconsent module design
  src/modules/Cookieconsent/html_admin/mod_cookieconsent_index.html.twig
Labels: enhancement, admin panel, design

#937 Delete VestaCP
  src/library/Server/Manager/Vesta.php
Labels: hosting

#945 Making the event listener work for every instance of the similar element
  src/modules/Support/html_admin/mod_support_tickets.html.twig
Labels: bug, skip-changelog

#925 Basic CSV export functionality
  src/composer.json
  src/composer.lock
  src/di.php
  src/library/Box/Database.php
  src/modules/Client/Api/Admin.php
  src/modules/Client/Service.php
  src/modules/Client/html_admin/mod_client_index.html.twig
  src/modules/Invoice/Api/Admin.php
  src/modules/Invoice/Service.php
  src/modules/Invoice/html_admin/mod_invoice_index.html.twig
  src/modules/Order/Api/Admin.php
  src/modules/Order/Service.php
  src/modules/Order/html_admin/mod_order_index.html.twig
Labels: enhancement, composer, feature request

#929 Replace jQuery Alert with Tabler modal for Form Builder
  package-lock.json
  src/modules/Formbuilder/html_admin/mod_formbuilder_field.html.twig
  src/modules/Formbuilder/html_admin/mod_formbuilder_manage.html.twig
  src/modules/Formbuilder/html_admin/mod_formbuilder_preview.html.twig
  src/modules/Formbuilder/html_admin/mod_formbuilder_settings.html.twig
  src/themes/admin_default/assets/fossbilling.js
  src/themes/admin_default/assets/js/fossbilling.js
  src/themes/admin_default/assets/js/ui/jquery.alerts.js
  src/themes/admin_default/assets/js/ui/modals.js
  src/themes/admin_default/package.json
Labels: enhancement, admin panel, javascript, cleanup, design

#979 Fix downloading extensions
  src/modules/Extension/Service.php
  tests/modules/Extension/ServiceTest.php
Labels: bug

#984 Remove the settings "routes"
  src/modules/System/html_admin/mod_system_index.html.twig
Labels: front-end

#987 Improve update script
  src/foss-update.php
  src/load.php
Labels: enhancement

#985 Fix currencylayer
  phpstan.neon
  src/modules/Currency/Service.php
  src/modules/Currency/html_admin/mod_currency_settings.html.twig
Labels: bug

#996 Fix patch class being duplicated
  src/foss-update.php
Labels: bug

#998 Fix some server manager exceptions
  phpstan-baseline.neon
  src/library/Server/Manager/Directadmin.php
  src/library/Server/Manager/Hestia.php
  src/library/Server/Manager/Ispconfig3.php
  src/library/Server/Manager/Plesk.php
  src/library/Server/Manager/Whm.php
Labels: bug, hosting

#999 Major and minor design improvements to modules
  src/modules/Client/html_admin/mod_client_settings.html.twig
  src/modules/Cron/html_admin/mod_cron_settings.html.twig
  src/modules/Currency/html_admin/mod_currency_manage.html.twig
  src/modules/Currency/html_admin/mod_currency_settings.html.twig
  src/modules/Custompages/html_admin/mod_custompages_index.html.twig
  src/modules/Custompages/html_admin/mod_custompages_page.html.twig
  src/modules/Email/html_admin/mod_email_settings.html.twig
  src/modules/Email/html_admin/mod_email_template.html.twig
  src/modules/Extension/html_admin/mod_extension_index.html.twig
  src/modules/Extension/html_admin/mod_extension_languages.html.twig
  src/modules/Invoice/html_admin/mod_invoice_settings.html.twig
  src/modules/Paidsupport/html_admin/mod_paidsupport_settings.html.twig
  src/modules/Queue/html_admin/mod_queue_settings.html.twig
  src/modules/Staff/html_admin/mod_staff_settings.html.twig
  src/modules/Support/html_admin/mod_support_helpdesk.html.twig
  src/modules/Support/html_admin/mod_support_settings.html.twig
  src/modules/Support/html_admin/modal/mod_support_new_helpdesk.html.twig
  src/modules/System/html_admin/mod_system_settings.html.twig
  src/modules/Theme/html_admin/mod_theme_settings.html.twig
  src/themes/admin_default/assets/icons/cog-play.svg
  src/themes/admin_default/assets/icons/cog.svg
  src/themes/admin_default/assets/js/fossbilling.js
  src/themes/admin_default/html/partial_extensions.html.twig
Labels: admin panel, front-end, cleanup

#1007 Bumped title sizes
  src/themes/admin_default/html/mod_index_dashboard.html.twig
Labels: skip-changelog

#1008 Removed references to Laravel
  CONTRIBUTING.md
Labels: skip-changelog

#1023 Fix HestiaCP timeout
  src/library/Server/Manager/Hestia.php
Labels: hosting
