Repository FOSSBilling/FOSSBilling, pull requests merged in 2023-10, with the labels that each got.

#1665 Small bug fixes
  src/install/sql/content.sql
  src/library/FOSSBilling/i18n.php
Labels: bug, installer, library

#1666 Fix and improve cron messages in the admin panel
  src/install/assets/install.html.twig
  src/modules/System/Service.php
  tests/modules/System/ServiceTest.php
Labels: bug, enhancement, installer, tests/CI, modules

#1664 Improvements to the Stripe payment gateway
  src/library/Payment/Adapter/Stripe.php
Labels: enhancement, payment-gateways

#1671 Minor improvements to Stripe & PayPal integrations
  src/library/Payment/Adapter/PayPalEmail.php
  src/library/Payment/Adapter/Stripe.php
Labels: payment-gateways

#1676 Miscellaneous autoloader improvements
  bin/prepare.php
  composer.json
  composer.lock
  src/install/install.php
  src/library/FOSSBilling/Autoloader.php
  src/load.php
  src/modules/System/Service.php
Labels: installer, library, modules

#1688 Fix massmailer's send functionality
  src/modules/Massmailer/Service.php
Labels: bug, modules

#1689 Fixed duplicated ID
  src/install/sql/content.sql
Labels: installer, skip-changelog

#1690 Fixed broken closing tag
  src/modules/Extension/html_admin/mod_extension_index.html.twig
Labels: skip-changelog, modules

#1692 Developer Workflow Supporting Code
  .gitignore
  src/config-sample.php
  src/install/install.php
  src/load.php
Labels: installer

#1691 Grammar
  src/modules/Extension/html_admin/mod_extension_index.html.twig
Labels: skip-changelog, modules

#1696 Improvements to the Extension Directory integration
  src/di.php
  src/library/Box/TwigExtensions.php
  src/modules/Extension/Api/Admin.php
  src/modules/Extension/html_admin/mod_extension_index.html.twig
  src/modules/Extension/html_admin/mod_extension_languages.html.twig
  src/modules/Invoice/html_admin/mod_invoice_gateways.html.twig
  src/modules/Servicedomain/html_admin/mod_servicedomain_index.html.twig
  src/themes/admin_default/html/partial_extensions.html.twig
Labels: enhancement, library, modules, admin-panel

#1706 Prevent fatal errors on missing message authors
  src/modules/Support/Service.php
Labels: modules

#1698 Installer Overhaul
  src/install/assets/css/main.css
  src/install/assets/css/pico.min.css
  src/install/assets/images/adminUser.png
  src/install/assets/images/alert2.png
  src/install/assets/images/bodyBg.jpg
  src/install/assets/images/book.png
  src/install/assets/images/bubbles2.png
  src/install/assets/images/cog4.png
  src/install/assets/images/doc.png
  src/install/assets/images/flag.png
  src/install/assets/images/leftNavBg.png
  src/install/assets/images/loader.gif
  src/install/assets/images/middlebg.png
  src/install/assets/images/topNav.jpg
  src/install/assets/images/ui/basicBtn.png
  src/install/assets/images/ui/blackBtn.png
  src/install/assets/images/ui/blueBtn.png
  src/install/assets/images/ui/greenBtn.png
  src/install/assets/images/ui/greyishBtn.png
  src/install/assets/images/ui/handle.png
  src/install/assets/images/ui/numDataBg.png
  src/install/assets/images/ui/pagination.png
  src/install/assets/images/ui/progress.png
  src/install/assets/images/ui/progressOverlay.png
  src/install/assets/images/ui/redBtn.png
  src/install/assets/images/ui/seaBtn.png
  src/install/assets/images/ui/sliderBg.png
  src/install/assets/images/ui/sliderBgVert.png
  src/install/assets/images/ui/sliderOverlay.png
  src/install/assets/images/ui/sliderOverlayVert.png
  src/install/assets/images/ui/spinnerUpDown.png
  src/install/assets/images/ui/uploadDisabled.png
  src/install/assets/images/user.png
  src/install/assets/images/vault.png
  src/install/assets/install.html.twig
  src/install/assets/js/jquery.min.js
  src/install/assets/js/jquery.smartWizard.js
  src/install/assets/layout.html.twig
  src/install/assets/result.html.twig
  src/install/install.php
Labels: installer

#1722 Fixes some DOM text reinterpretation issues in JS.
  src/themes/admin_default/assets/js/fossbilling.js
  src/themes/admin_default/assets/js/ui/theme_settings.js
Labels: admin-panel

#1725 #1717 Add "Port" option on add hosting server page
  src/library/Server/Manager/Directadmin.php
  src/modules/Servicehosting/html_admin/mod_servicehosting_index.html.twig
Labels: server-managers, modules

#1729 Prevent errors over some CLI setups
  src/load.php
Labels: bug

#1746 Extend search functionality to include multiple client fields
  src/modules/Client/Service.php
  src/themes/admin_default/assets/js/tomselect.js
Labels: modules, admin-panel

#1737 Set related order to Registrar_AdapterAbstract
  src/library/Registrar/AdapterAbstract.php
  src/modules/Servicedomain/Service.php
Labels: library, modules

#1754 Set document_nr to the Registrar_Domain_Contact
  src/modules/Servicedomain/Service.php
Labels: modules

#1745 Redirect admin to previous url after login
  src/di.php
  src/modules/Client/Api/Guest.php
  src/modules/Page/html_client/mod_page_login.html.twig
  src/modules/Staff/Controller/Admin.php
  src/modules/Staff/html_admin/mod_staff_login.html.twig
Labels: modules

#1769 Minor improvements to Sentry.io integration
  composer.json
  composer.lock
  src/install/install.php
  src/library/FOSSBilling/Update.php
  src/library/FOSSBilling/Version.php
  src/modules/Api/Controller/Client.php
  src/modules/System/Service.php
Labels: installer, library, modules

#1765 Fix UpdatePatcher file actions paths
  src/library/FOSSBilling/UpdatePatcher.php
Labels: library
