Repository FOSSBilling/FOSSBilling, pull requests merged in 2024-06, with the labels that each got.

#2284 Add an item quantity option when creating invoices
  cspell.json
  src/modules/Invoice/html_admin/mod_invoice_invoice.html.twig
Labels: enhancement, modules, admin-panel

#2292 Misc fixes + product configuration page improvements
  .php-cs-fixer.dist.php
  cspell.json
  rector.php
  src/modules/Formbuilder/Service.php
  src/modules/Invoice/Service.php
  src/modules/Order/html_client/mod_order_index.html.twig
  src/modules/Order/html_client/mod_order_product.html.twig
  src/modules/Orderbutton/html_client/mod_orderbutton_addons.html.twig
  src/modules/Orderbutton/html_client/mod_orderbutton_checkout.html.twig
  src/modules/Orderbutton/html_client/mod_orderbutton_product_configuration.html.twig
  src/modules/System/Service.php
  src/themes/huraga/config/settings.html
Labels: bug, enhancement, modules

#2296 Very small misc changes
  SECURITY.md
  src/locale/readme.md
  src/modules/Embed/README.md
Labels: modules

#2297 Made the email log cleanup config seperate from other activity logs
  src/modules/Activity/Service.php
  src/modules/Activity/html_admin/mod_activity_settings.html.twig
Labels: bug, enhancement, modules, admin-panel

#2299 Misc fixes and cleanup
  phpstan-baseline.neon
  src/di.php
  src/library/Box/Log.php
  src/library/Box/Translate.php
  src/library/FOSSBilling/SentryHelper.php
  src/library/Registrar/Adapter/Resellerclub.php
  src/library/Server/Manager/Plesk.php
  src/library/Server/Package.php
  src/load.php
  src/modules/Servicehosting/Service.php
  src/modules/System/Service.php
  tests-legacy/library/Box/Box_TranslateTest.php
  tests-legacy/library/Registrar/Adapter/Registrar_Adapter_ResellerclubTest.php
  tests-legacy/modules/Servicehosting/ServiceTest.php
Labels: bug, server-managers, tests/CI, extensions, library, modules, domain-registrars

#2303 Fix the required params for the client profile
  src/modules/Client/html_client/mod_client_profile.html.twig
Labels: bug, modules

#2305 Update deps
  composer.lock
  package-lock.json
  package.json
Labels: composer, skip-changelog, npm

#2307 Fixed PayPal referencing an undefined variable
  src/library/Payment/Adapter/PayPalEmail.php
  src/library/Payment/Adapter/Stripe.php
Labels: bug, payment-gateways, extensions

#2310 fix pagination not show for order/service page
  src/modules/Order/html_client/mod_order_list.html.twig
Labels: bug, modules

#2313 Trying to resolve / workaround sporadic failures
  tests/Modules/Cron/AdminTest.php
  tests/Modules/System/AdminTest.php
Labels: tests/CI

#2311 Small Currency Improvements
  .github/workflows/live-tests.yml
  composer.json
  composer.lock
  src/modules/Currency/Api/Admin.php
  src/modules/Currency/Api/Guest.php
  src/modules/Currency/Service.php
  src/modules/Currency/html_admin/mod_currency_settings.html.twig
  tests-legacy/modules/Currency/ServiceTest.php
  tests/Modules/Currency/AdminTest.php
  tests/Modules/Currency/GuestTest.php
Labels: enhancement, composer, tests/CI, github-config, API, modules, admin-panel
