Repository FOSSBilling/FOSSBilling, pull requests merged in 2024-11, with the labels that each got.

#2486 Fix PHPStan workflow
  .github/workflows/ci.yml
Labels: github-config

#2487 Add delays to prevent email enumeration
  src/library/Box/Authorization.php
  src/library/FOSSBilling/PasswordManager.php
  src/modules/Api/Controller/Client.php
  src/modules/Client/Service.php
  src/modules/Staff/Service.php
  tests-legacy/modules/Client/ServiceTest.php
  tests-legacy/modules/Staff/ServiceTest.php
Labels: tests/CI, library, modules, Type: fix, Type: Security

#2502 Fully prevent the cron account from ever being logged into
  src/modules/Staff/Service.php
  tests-legacy/modules/Staff/ServiceTest.php
Labels: tests/CI, modules, Type: Security

#2508 Restore the cron module icon
  .github/renovate.json
  src/modules/Cron/icon.svg
Labels: github-config, skip-changelog, modules
