Repository FOSSBilling/FOSSBilling, pull requests merged in 2024-02, with the labels that each got.

#2111 PDF Fixes
  src/install/sql/content.sql
  src/install/sql/content_test.sql
  src/modules/Invoice/Service.php
  src/modules/Invoice/pdf_template/default-pdf.css
  src/modules/Invoice/pdf_template/default-pdf.twig
Labels: bug, installer, modules

#2113 Add a option to disable public tickets
  src/modules/Product/Service.php
  src/modules/Support/Service.php
  src/modules/Support/html_admin/mod_support_settings.html.twig
  tests-legacy/modules/Support/ServiceTest.php
  tests/Modules/Support/SupportGuestTest.php
Labels: enhancement, tests/CI, modules, admin-panel

#2115 Fix WHM for access hash usage
  src/library/Server/Manager/Whm.php
Labels: bug, server-managers, extensions

#2116 Fix translations
  .github/workflows/live-tests.yml
  .github/workflows/release-build.yml
Labels: github-config

#2102 🎨 Maintenance page renovation
  src/modules/System/html_client/mod_system_maintenance.html.twig
Labels: modules

#2122 Further test improvements
  cspell.json
  tests-legacy/modules/Extension/Api/GuestTest.php
  tests-legacy/modules/Formbuilder/Api/GuestTest.php
  tests-legacy/modules/Product/Api/GuestTest.php
  tests-legacy/modules/System/Api/GuestTest.php
  tests/Modules/Cart/ClientTest.php
  tests/Modules/Client/GuestTest.php
  tests/Modules/Cron/AdminTest.php
  tests/Modules/Cron/GuestTest.php
  tests/Modules/Extension/AdminTest.php
  tests/Modules/Extension/GuestTest.php
  tests/Modules/Formbuilder/GuestTest.php.skip
  tests/Modules/Hook/AdminTest.php
  tests/Modules/Product/ClientTest.php.skip
  tests/Modules/Product/GuestTest.php
  tests/Modules/Spamchecker/GuestTest.php
  tests/Modules/Stats/AdminTest.php
  tests/Modules/Support/GuestTest.php
  tests/Modules/System/AdminTest.php
  tests/Modules/System/GuestTest.php
Labels: tests/CI

#2128 Minor bugfixes / deprecation cleanups
  src/library/Box/Url.php
  src/library/FOSSBilling/SentryHelper.php
  src/library/Server/Account.php
  src/load.php
Labels: bug, library

#2129 Replace hardcoded domains in the embed module
  src/modules/Embed/html_client/mod_embed_domainchecker.html.twig
Labels: bug, modules

#2132 Various minor improvements
  composer.json
  composer.lock
  src/di.php
  src/library/FOSSBilling/Config.php
  src/library/FOSSBilling/Monolog.php
  src/load.php
Labels: enhancement, composer, cleanup, library

#2133 Fixed a case where an incorrect translation tag was being used
  src/themes/admin_default/html/macro_functions.html.twig
Labels: bug, admin-panel

#2135 Add CKEditor to new KB Article
  src/modules/Support/html_admin/mod_support_kb_index.html.twig
Labels: modules, admin-panel

#2134 Added a configurable age limit for activity data
  src/library/Box/Database.php
  src/modules/Activity/Service.php
  src/modules/Activity/html_admin/mod_activity_settings.html.twig
Labels: bug, enhancement, library, modules, admin-panel

#2144 Fix an accidentally duplicated cache key
  src/modules/Spamchecker/Service.php
Labels: bug, modules

#2145 Ensure random passwords meet the requirements
  tests/Modules/Cart/ClientTest.php
  tests/Modules/Client/GuestTest.php
  tests/Modules/Product/ClientTest.php.skip
  tests/Modules/Spamchecker/GuestTest.php
Labels: bug, tests/CI, skip-changelog

#2148 Password generated can have a small change to have no lower case aswell
  tests/Modules/Cart/ClientTest.php
  tests/Modules/Client/GuestTest.php
  tests/Modules/Spamchecker/GuestTest.php
Labels: tests/CI

#2149 Run APT update before install for live tests
  .github/workflows/live-tests.yml
Labels: github-config, skip-changelog

#2147 Fix Reseller Club
  src/library/Registrar/Adapter/Resellerclub.php
  tests-legacy/library/Registrar/Adapter/Registrar_Adapter_ResellerclubTest.php
Labels: bug, tests/CI, extensions, domain-registrars

#2154 Change the file permissions message in the installer
  src/install/assets/install.html.twig
Labels: installer, skip-changelog

#2146 Added proper TLD validation
  cspell.json
  src/library/FOSSBilling/Validate.php
  src/modules/Servicedomain/Service.php
  tests-legacy/modules/Servicedomain/ServiceTest.php
Labels: bug, enhancement, tests/CI, library, modules

#2156 Be explicit about requiring PHP version polyfills
  composer.json
  composer.lock
Labels: composer, skip-changelog

#2157 Added an icon for the activity module
  src/modules/Activity/icon.svg
  src/modules/Activity/manifest.json
Labels: skip-changelog, modules

#2158 Eliminate the extension manifest column from the DB
  src/install/sql/content.sql
  src/install/sql/content_test.sql
  src/install/sql/structure.sql
  src/library/Box/Mod.php
  src/library/FOSSBilling/UpdatePatcher.php
  src/library/Registrar/Adapter/Resellerclub.php
  src/modules/Extension/Service.php
Labels: installer, cleanup, extensions, library, modules, domain-registrars

#2165 Correct margin for multiple product categories
  src/modules/Orderbutton/html_client/mod_orderbutton_choose_product.html.twig
Labels: modules

#2170 Fix a couple strings poedit had issues with
  src/modules/Client/Service.php
  src/modules/Email/Service.php
  tests-legacy/modules/Client/ServiceTest.php
Labels: tests/CI, skip-changelog, modules

#2171 Add client id to invoice
  src/modules/Invoice/Service.php
Labels: modules
