Repository FOSSBilling/FOSSBilling, pull requests merged in 2024-07, with the labels that each got.

#2325 Fix Live Tests
  cspell.json
  src/library/FOSSBilling/Tools.php
  tests/Modules/System/AdminTest.php
Labels: tests/CI, library

#2327 Fix Babel dependencies
  src/themes/admin_default/webpack.config.js
  src/themes/huraga/webpack.config.js
Labels: dependencies, admin-panel

#2328 Migrate CKEditor to new installation method
  .github/renovate.json
  src/modules/Wysiwyg/package.json
  src/modules/Wysiwyg/src/ckeditor.js
  src/modules/Wysiwyg/webpack.config.js
Labels: github-config, modules

#1021 Introducing the FOSSBilling CLI
  composer.json
  composer.lock
  src/console.php
  src/modules/Cron/Commands/Run.php
  src/modules/Cron/icon.svg
  src/modules/System/Commands/CacheClear.php
  src/modules/System/Commands/ReleaseNotes.php
  src/modules/System/Commands/Version.php
  src/modules/Theme/Commands/Listing.php
Labels: enhancement, composer, modules

#2330 Update cspell.json
  cspell.json
  src/modules/System/Commands/ReleaseNotes.php
Labels: modules

#2340 Fix Client Profile Layout Bug
  src/modules/Client/html_client/mod_client_profile.html.twig
Labels: bug, modules

#2346 Remove additional hardcoded lists
  .github/workflows/ci.yml
  .github/workflows/live-tests.yml
  .github/workflows/release-build.yml
  .github/workflows/release-docker.yml
  composer.json
  composer.lock
  src/di.php
  src/modules/Email/html_admin/mod_email_settings.html.twig
  src/modules/Servicedomain/html_admin/mod_servicedomain_manage.html.twig
  src/modules/System/Service.php
Labels: composer, github-config, cleanup, modules, admin-panel

#2350 Group ckeditor-dev package dependencies
  .github/renovate.json
Labels: github-config

#2360 CI Disable upload to S3
  .github/workflows/ci.yml
Labels: github-config
