Repository FOSSBilling/FOSSBilling, pull requests merged in 2024-03, with the labels that each got.

#2179 Prevent potential issues for various order variables
  src/modules/Cart/Service.php
Labels: bug, modules

#2181 Eliminate a couple of unneeded translation keys
  src/modules/Massmailer/Service.php
  src/modules/Staff/html_admin/mod_staff_profile.html.twig
Labels: skip-changelog, modules, admin-panel

#2183 Miscellaneous routing cleanup
  src/library/Api/Handler.php
  src/library/Box/App.php
  src/library/Box/AppAdmin.php
  src/library/Box/AppClient.php
  src/library/Box/Url.php
  src/library/Box/UrlHelper.php
Labels: cleanup, API, library

#2172 Add TOS / Privacy policy to the checkout & signup pages
  src/modules/Orderbutton/html_client/mod_orderbutton_checkout.html.twig
  src/modules/Orderbutton/html_client/mod_orderbutton_client.html.twig
  src/modules/Page/html_client/mod_page_signup.html.twig
  src/modules/Page/html_client/mod_page_sitemap.xml
  src/themes/huraga/config/settings.html
Labels: bug, enhancement, modules

#2193 Bump the password hashing cost
  src/di.php
  src/install/install.php
  src/library/Box/Authorization.php
  src/library/Box/Password.php
  src/library/FOSSBilling/PasswordManager.php
  tests-legacy/integration/bb-library/Box/DiTest.php
  tests-legacy/library/FOSSBilling/FOSSBilling_PasswordManagerTest.php
  tests-legacy/modules/Client/Api/AdminTest.php
  tests-legacy/modules/Client/Api/GuestTest.php
  tests-legacy/modules/Client/ServiceTest.php
  tests-legacy/modules/Profile/Api/AdminTest.php
  tests-legacy/modules/Profile/Api/ClientTest.php
  tests-legacy/modules/Profile/ServiceTest.php
  tests-legacy/modules/Staff/ServiceTest.php
Labels: security, installer, tests/CI, library

#2189 Significantly improve exchange rate functionality
  cspell.json
  src/modules/Currency/Api/Admin.php
  src/modules/Currency/Service.php
  src/modules/Currency/html_admin/mod_currency_settings.html.twig
  tests-legacy/modules/Currency/ServiceTest.php
Labels: enhancement, tests/CI, API, modules, admin-panel

#2197 Quick bug fixes
  package-lock.json
  src/modules/Currency/Service.php
  src/themes/admin_default/assets/js/fossbilling.js
Labels: bug, skip-changelog, npm, modules, admin-panel

#2199 Very minor fixes
  src/library/FOSSBilling/SentryHelper.php
  src/library/FOSSBilling/Tools.php
  src/modules/Invoice/ServicePayGateway.php
  src/modules/Order/Service.php
  src/modules/Servicehosting/Service.php
Labels: bug, library, modules

#2201 Minor ExchangeRate-API attribution fix
  src/modules/Currency/html_admin/mod_currency_settings.html.twig
Labels: skip-changelog, modules, admin-panel

#2202 Prevent a potential error
  src/modules/Extension/Service.php
  tests-legacy/modules/Extension/ServiceTest.php
Labels: bug, tests/CI, modules

#2203 Fixed some errors with the previous update
  src/library/Box/App.php
  src/library/Box/UrlHelper.php
  src/modules/Currency/Service.php
  tests/Health Checks/HealthTest.php
Labels: bug, tests/CI, library, modules

#2204 Support one-click control panel logins for DirectAdmin
  src/library/Server/Manager/Directadmin.php
Labels: server-managers, extensions

#2206 Mitigate cache-related patching errors
  src/library/FOSSBilling/Update.php
  src/library/FOSSBilling/UpdatePatcher.php
Labels: bug, library

#2207 Allow admins to force deletion of orders
  src/modules/Order/Api/Admin.php
  src/modules/Order/Service.php
  src/modules/Order/html_admin/mod_order_manage.html.twig
Labels: enhancement, API, modules, admin-panel

#2212 Huraga Improvements
  package-lock.json
  src/modules/Client/html_client/mod_client_balance.html.twig
  src/modules/Custompages/html_client/mod_custompages_content.html.twig
  src/modules/Index/html_client/mod_index_dashboard.html.twig
  src/modules/Order/html_admin/mod_order_manage.html.twig
  src/modules/Support/html_client/mod_support_kb_index.html.twig
  src/themes/huraga/assets/scss/huraga.scss
  src/themes/huraga/config/settings.html
  src/themes/huraga/html/layout_default.html.twig
  src/themes/huraga/html/layout_public.html.twig
Labels: enhancement, npm, modules, admin-panel
