Repository FOSSBilling/FOSSBilling, pull requests merged in 2024-04, with the labels that each got.

#2215 Some UI & usability improvements
  src/modules/Invoice/html_client/mod_invoice_index.html.twig
  src/modules/Order/Service.php
  src/modules/Servicedomain/Service.php
  src/modules/Support/html_client/mod_support_kb_index.html.twig
Labels: bug, enhancement, modules

#2222 Give more details for suggested extensions
  src/install/assets/install.html.twig
  src/library/FOSSBilling/Requirements.php
Labels: installer, library

#2227 Reduce the final size of our vendor folder
  composer.json
  composer.lock
Labels: enhancement, composer, cleanup

#2228 Replace the GitHub release API with our own
  src/library/FOSSBilling/Update.php
  src/library/FOSSBilling/Version.php
  src/modules/System/html_admin/mod_system_update.html.twig
Labels: library, modules, admin-panel

#2232 set dark logo if dark theme is enabled in hurage.
  src/modules/Page/html_client/mod_page_login.html.twig
  src/modules/Page/html_client/mod_page_password-reset.html.twig
  src/modules/Page/html_client/mod_page_signup.html.twig
  src/themes/huraga/html/layout_default.html.twig
Labels: modules

#2233 Fix the required params not working in the client profile
  src/modules/Client/html_client/mod_client_profile.html.twig
Labels: bug, modules

#2241 fix(internet.bs registrar): review function isDomaincanBeTransferred
  src/library/Registrar/Adapter/Internetbs.php
Labels: extensions, domain-registrars

#2253 Remove getTlds
  src/library/Registrar/Adapter/Custom.php
  src/library/Registrar/Adapter/Email.php
  src/library/Registrar/Adapter/Internetbs.php
  src/library/Registrar/Adapter/Namecheap.php
  src/library/Registrar/Adapter/Resellerclub.php
  src/library/Registrar/AdapterAbstract.php
Labels: cleanup, extensions, library, domain-registrars
