Repository FOSSBilling/FOSSBilling, pull requests merged in 2024-05, with the labels that each got.

#2260 Slight cleanup of the library folder
  src/di.php
  src/library/Box/Mod.php
  src/library/FOSSBilling/Mail.php
  src/library/FOSSBilling/Request.php
  src/library/FOSSBilling/Tools.php
  src/library/Model/ServiceLicense.php
  src/modules/Cart/Service.php
  src/modules/Email/Service.php
  src/modules/Extension/Service.php
  src/modules/Invoice/ServicePayGateway.php
  src/modules/Invoice/ServiceTransaction.php
  src/modules/Order/Service.php
  src/modules/Product/Service.php
  src/modules/Servicecustom/Service.php
  src/modules/Servicedomain/Service.php
  src/modules/Servicehosting/Service.php
  src/modules/Theme/Service.php
  tests-legacy/modules/Cart/ServiceTest.php
  tests-legacy/modules/Email/ServiceTest.php
  tests-legacy/modules/Extension/ServiceTest.php
  tests-legacy/modules/Invoice/ServicePayGatewayTest.php
  tests-legacy/modules/Order/ServiceTest.php
  tests-legacy/modules/Product/ServiceTest.php
  tests-legacy/modules/Servicecustom/ServiceTest.php
  tests-legacy/modules/Servicedomain/ServiceTest.php
  tests-legacy/modules/Servicehosting/ServiceTest.php
  tests-legacy/modules/Theme/ServiceTest.php
Labels: tests/CI, cleanup, library, modules

#2277 Resolves https://github.com/FOSSBilling/FOSSBilling/issues/2276
  src/modules/Invoice/html_admin/mod_invoice_settings.html.twig
Labels: modules, admin-panel

#2281 Make invoice number padding configurable
  src/modules/Invoice/Service.php
  src/modules/Invoice/html_admin/mod_invoice_settings.html.twig
Labels: enhancement, modules, admin-panel

#2282 Add a default invoice note option
  src/modules/Invoice/Service.php
  src/modules/Invoice/html_admin/mod_invoice_settings.html.twig
Labels: modules, admin-panel
