Repository FOSSBilling/FOSSBilling, pull requests merged in 2024-08, with the labels that each got.

#2378 Disable fallback cron behavior for non preview / development enviroments
  src/config-sample.php
  src/install/install.php
  src/library/FOSSBilling/UpdatePatcher.php
  src/modules/Hook/Service.php
  src/modules/System/Service.php
Labels: installer, library, modules

#2381 WHM SSO
  src/library/Server/Manager/Whm.php
Labels: enhancement, server-managers, extensions

#2384 Added the WYSIWYG editor to the huraga theme
  src/modules/Support/html_admin/mod_support_ticket.html.twig
  src/modules/Support/html_client/mod_support_contact_us.html.twig
  src/modules/Support/html_client/mod_support_contact_us_conversation.html.twig
  src/modules/Support/html_client/mod_support_ticket.html.twig
  src/modules/Support/html_client/mod_support_tickets.html.twig
  src/modules/Wysiwyg/html_client/mod_wysiwyg_js.html.twig
  src/themes/huraga/html/macro_functions.html.twig
Labels: enhancement, modules, admin-panel

#2386 Ensure the error handler always has the needed classes
  src/load.php
Labels: bug

#2412 Disabled the test which randomly broke
  tests-legacy/modules/Client/ServiceTest.php
Labels: tests/CI

#2400 Update postcss dependency override
  package.json
Labels: dependencies, npm
