Repository FOSSBilling/FOSSBilling, pull requests merged in 2024-12, with the labels that each got.

#2523 Update ci.yml
  .github/workflows/ci.yml
Labels: github-config, skip-changelog

#2527 Small various fixes
  src/index.php
  src/library/Payment/Adapter/ClientBalance.php
  src/themes/huraga/config/settings.html
Labels: bug, payment-gateways, extensions

#2528 Sort categories and articles by alphabetical order
  src/modules/Support/Service.php
  tests-legacy/modules/Support/ServiceTest.php
Labels: tests/CI, modules, Type: fix

#2540 Chore/dep updates
  package-lock.json
  package.json
  src/modules/Wysiwyg/html_admin/mod_wysiwyg_js.html.twig
  src/modules/Wysiwyg/package.json
  src/themes/admin_default/package.json
Labels: skip-changelog, npm, modules, admin-panel

#2516 Fix some display inconsistencies that annoy me
  src/library/FOSSBilling/i18n.php
  src/modules/Client/html_admin/mod_client_index.html.twig
  src/modules/Dashboard/html_client/mod_dashboard_index.html.twig
  src/modules/Extension/html_admin/mod_extension_index.html.twig
  src/modules/Index/html_client/mod_index_dashboard.html.twig
  src/modules/Invoice/html_admin/mod_invoice_subscriptions.html.twig
  src/modules/News/html_admin/mod_news_index.html.twig
  src/modules/Order/html_admin/mod_order_index.html.twig
  src/modules/Orderbutton/html_client/mod_orderbutton_client.html.twig
  src/modules/Page/html_client/mod_page_signup.html.twig
  src/modules/Product/html_admin/mod_product_addons.html.twig
  src/modules/Product/html_admin/mod_product_index.html.twig
  src/modules/Support/Api/Guest.php
  src/modules/Support/Service.php
  src/modules/Support/html_admin/mod_support_public_tickets.html.twig
  src/modules/Support/html_admin/mod_support_tickets.html.twig
  src/modules/Support/html_client/mod_support_kb_article.html.twig
  src/modules/Support/html_client/mod_support_kb_category.html.twig
  src/modules/Support/html_client/mod_support_kb_index.html.twig
  src/themes/admin_default/html/layout_default.html.twig
  src/themes/huraga/html/layout_default.html.twig
  src/themes/huraga/html/mobile_menu.html.twig
  src/themes/huraga/html/partial_menu.html.twig
Labels: API, library, modules, admin-panel

#2548 Update NPM lock file to resolve apexcharts dependency issue
  package-lock.json
Labels: npm

#2559 Slight geoip reader fixes
  src/library/FOSSBilling/GeoIP/Country.php
  src/library/FOSSBilling/GeoIP/Reader.php
Labels: bug, skip-changelog, library, Type: fix
