Repository FOSSBilling/FOSSBilling, pull requests merged in 2024-01, with the labels that each got.

#2033 Enable custom domain area by default when domain registration is disabled
  src/modules/Servicehosting/html_client/mod_servicehosting_order_form.html.twig
Labels: modules

#2035 Define PATH_LOG in the installer
  src/install/install.php
Labels: bug, installer

#2036 Fixed exception placeholders
  src/library/Registrar/Adapter/Internetbs.php
  src/library/Registrar/Adapter/Namecheap.php
  src/library/Registrar/Adapter/Resellerclub.php
  src/library/Server/Manager/CWP.php
  src/library/Server/Manager/Directadmin.php
  src/library/Server/Manager/Hestia.php
  src/library/Server/Manager/Plesk.php
  src/library/Server/Manager/Whm.php
Labels: bug, server-managers, extensions, domain-registrars

#2037 Extend the language cookie expiration date
  src/themes/admin_default/assets/js/tomselect.js
Labels: enhancement, admin-panel

#2039 Minor: Enforce better consistency in the customer dashboard
  src/modules/Client/html_client/mod_client_balance.html.twig
  src/modules/Email/html_client/mod_email_index.html.twig
  src/modules/Order/html_client/mod_order_product.html.twig
  src/modules/Servicehosting/html_client/mod_servicehosting_manage.html.twig
Labels: modules

#2032 Added a basic blacklist for error reporting
  cspell.json
  src/library/FOSSBilling/SentryHelper.php
Labels: enhancement, skip-changelog, library

#2044 Improved Customer Mobile Navigation (#2031) + Auth Flow Design
  src/modules/Page/html_client/mod_page_login.html.twig
  src/modules/Page/html_client/mod_page_password-reset.html.twig
  src/modules/Page/html_client/mod_page_signup.html.twig
  src/themes/huraga/html/layout_default.html.twig
  src/themes/huraga/html/mobile_menu.html.twig
Labels: modules

#2053 Minor logging improvements & session class cleanup
  src/config-sample.php
  src/di.php
  src/library/Box/LogDb.php
  src/library/FOSSBilling/Monolog.php
  src/library/FOSSBilling/SentryHelper.php
  src/library/FOSSBilling/Session.php
  src/library/FOSSBilling/Tools.php
  src/library/FOSSBilling/UpdatePatcher.php
  src/modules/Email/Service.php
Labels: enhancement, library, modules

#2054 Prevent the generation of invalid usernames for WHM
  src/library/Server/Manager/Whm.php
Labels: bug, enhancement, server-managers, extensions

#2052 Minor front-end improvements & fixes
  src/modules/Order/html_client/mod_order_list.html.twig
  src/modules/Order/html_client/mod_order_product.html.twig
  src/themes/admin_default/html/layout_login.html.twig
Labels: bug, modules, admin-panel

#2055 Wording consistency
  src/themes/huraga/html/mobile_menu.html.twig
Labels: skip-changelog

#2059 Update rectorAndCs.yml
  .github/workflows/rectorAndCs.yml
Labels: github-config, skip-changelog

#2060 Make Curl mandatory again
  src/library/FOSSBilling/Requirements.php
Labels: library

#2040 Implement `passwordLength` field for service hosting generated accounts
  src/install/sql/content.sql
  src/install/sql/structure.sql
  src/library/FOSSBilling/Update.php
  src/library/FOSSBilling/UpdatePatcher.php
  src/library/Model/ServiceHosting.php
  src/library/Server/Account.php
  src/library/Server/Manager.php
  src/library/Server/Manager/CWP.php
  src/library/Server/Manager/Custom.php
  src/library/Server/Manager/Directadmin.php
  src/library/Server/Manager/Hestia.php
  src/library/Server/Manager/Plesk.php
  src/library/Server/Manager/Whm.php
  src/modules/Dashboard/html_client/mod_dashboard_index.html.twig
  src/modules/Index/html_client/mod_index_dashboard.html.twig
  src/modules/Order/html_client/mod_order_list.html.twig
  src/modules/Order/html_client/mod_order_manage.html.twig
  src/modules/Servicehosting/Api/Admin.php
  src/modules/Servicehosting/Service.php
  src/modules/Servicehosting/html_admin/mod_servicehosting_index.html.twig
  src/modules/Servicehosting/html_admin/mod_servicehosting_server.html.twig
  src/modules/Servicehosting/html_client/mod_servicehosting_manage.html.twig
  tests/modules/Servicehosting/ServiceTest.php
Labels: server-managers, installer, tests/CI, API, extensions, library, modules, admin-panel

#2061 Re-run PHP-CS-Fixer and (Hopefully) Fix Rector for GHA
  .github/workflows/rectorAndCs.yml
  rector.php
  rectorTests.php
  src/library/FOSSBilling/Monolog.php
  src/library/FOSSBilling/SentryHelper.php
  src/library/FOSSBilling/Session.php
  src/library/FOSSBilling/Update.php
  src/library/FOSSBilling/UpdatePatcher.php
  src/library/Model/ProductTable.php
  src/library/Model/ServiceHosting.php
  src/library/Server/Account.php
  src/library/Server/Manager.php
  src/library/Server/Manager/CWP.php
  src/library/Server/Manager/Custom.php
  src/library/Server/Manager/Directadmin.php
  src/library/Server/Manager/Hestia.php
  src/library/Server/Manager/Plesk.php
  src/library/Server/Manager/Whm.php
  src/modules/Email/Service.php
  src/modules/Servicehosting/Service.php
  tests/modules/Servicehosting/ServiceTest.php
Labels: server-managers, tests/CI, github-config, skip-changelog, extensions, library, modules

#2068 Update labeler.yml
  .github/labeler.yml
Labels: skip-changelog

#2069 Various additional tests
  cspell.json
  phpunit-live.xml
  src/library/FOSSBilling/ErrorPage.php
  tests/APIHelper.php
  tests/Bootstrap.php
  tests/Health Checks/HealthTest.php
  tests/Modules/Cron/CronAdminTest.php
  tests/Modules/Cron/CronGuestTest.php
  tests/Modules/Extension/ExtensionTest.php
  tests/Modules/Hook/HookAdminTest.php
  tests/Modules/Stats/StatsAdminTest.php
  tests/Modules/System/SystemAdminTest.php
Labels: bug, enhancement, tests/CI, library

#2071 [Hestia] Implement Rule for valid username
  src/library/Server/Manager/Hestia.php
Labels: server-managers, extensions

#2066 Implemented a new class for config management
  src/di.php
  src/index.php
  src/library/Box/App.php
  src/library/Box/Crypt.php
  src/library/Box/Mod.php
  src/library/FOSSBilling/CentralAlerts.php
  src/library/FOSSBilling/Config.php
  src/library/FOSSBilling/ErrorPage.php
  src/library/FOSSBilling/Exception.php
  src/library/FOSSBilling/ExtensionManager.php
  src/library/FOSSBilling/SentryHelper.php
  src/library/FOSSBilling/Session.php
  src/library/FOSSBilling/Update.php
  src/library/FOSSBilling/UpdatePatcher.php
  src/library/FOSSBilling/i18n.php
  src/load.php
  src/modules/Api/Controller/Client.php
  src/modules/Cron/Service.php
  src/modules/Email/Service.php
  src/modules/Extension/Service.php
  src/modules/System/Api/Admin.php
  src/modules/System/Api/Guest.php
  src/modules/System/Service.php
  tests-legacy/library/Box/Box_ModTest.php
  tests-legacy/modules/Cron/ServiceTest.php
  tests-legacy/modules/Email/ServiceTest.php
  tests-legacy/modules/Extension/ServiceTest.php
  tests-legacy/modules/Hook/Api/AdminTest.php
  tests-legacy/modules/Invoice/ServicePayGatewayTest.php
  tests-legacy/modules/Product/ServiceTest.php
  tests-legacy/modules/Servicelicense/ServiceTest.php
  tests-legacy/modules/System/Api/GuestTest.php
  tests-legacy/modules/System/ServiceTest.php
  tests-legacy/modules/Theme/ServiceTest.php
  tests/Modules/System/SystemAdminTest.php
Labels: bug, enhancement, tests/CI, cleanup, API, library, modules

#2063 Refactor `Server` Library + Improve Docs
  phpstan-baseline.neon
  src/install/sql/structure.sql
  src/library/FOSSBilling/UpdatePatcher.php
  src/library/Server/Account.php
  src/library/Server/Client.php
  src/library/Server/Exception.php
  src/library/Server/Manager.php
  src/library/Server/Manager/CWP.php
  src/library/Server/Manager/Custom.php
  src/library/Server/Manager/Directadmin.php
  src/library/Server/Manager/Hestia.php
  src/library/Server/Manager/Plesk.php
  src/library/Server/Manager/Whm.php
  src/library/Server/Package.php
Labels: server-managers, installer, extensions, library

#2065 Feat: allow selection of the default network interface
  cspell.json
  src/index.php
  src/library/FOSSBilling/CentralAlerts.php
  src/library/FOSSBilling/ExtensionManager.php
  src/library/FOSSBilling/SentryHelper.php
  src/library/FOSSBilling/Tools.php
  src/library/FOSSBilling/Update.php
  src/library/Payment/AdapterAbstract.php
  src/library/Registrar/AdapterAbstract.php
  src/library/Server/Manager.php
  src/load.php
  src/modules/Currency/Service.php
  src/modules/Extension/Service.php
  src/modules/Seo/Engines/Google.php
  src/modules/Spamchecker/Service.php
  src/modules/System/Api/Admin.php
  src/modules/System/Service.php
  src/modules/System/html_admin/mod_system_settings.html.twig
  tests/Modules/System/SystemAdminTest.php
Labels: enhancement, tests/CI, API, library, modules, admin-panel

#2077 Changed ID to Client-ID where applicable
  src/modules/Client/html_admin/mod_client_index.html.twig
  src/modules/Client/html_admin/mod_client_manage.html.twig
  src/modules/Dashboard/html_client/mod_dashboard_index.html.twig
  src/modules/Index/html_client/mod_index_dashboard.html.twig
Labels: modules, admin-panel

#2084 Fixes an error when saving a plaintext textarea field when CKEditor is loaded and there are no textareas it initialized.
  src/themes/admin_default/assets/js/fossbilling.js
Labels: bug, admin-panel

#2085 Fixed missing Semi-Colons
  src/install/sql/content_test.sql
Labels: installer

#2088 Improve clarity when marking unpaid invoices without a set gateway
  src/modules/Invoice/Api/Admin.php
  tests-legacy/modules/Invoice/Api/AdminTest.php
Labels: tests/CI, skip-changelog, API, modules

#2089 Ignore ext config / uninstall errors in the update patcher
  src/library/FOSSBilling/UpdatePatcher.php
Labels: skip-changelog, library

#2083 Transfer carts when logging in
  src/modules/Cart/Service.php
  src/modules/Client/Api/Guest.php
  src/modules/Product/Api/Admin.php
  tests-legacy/modules/Client/Api/GuestTest.php
  tests/APIHelper.php
  tests/Modules/Cart/CartTest.php
Labels: bug, tests/CI, API, modules

#2091 Revert the added server manager typehints
  src/library/Server/Manager.php
Labels: skip-changelog, library

#2092 Added some debugging for session fingerprinting
  src/config-sample.php
  src/library/FOSSBilling/Fingerprint.php
  src/library/FOSSBilling/Session.php
  src/library/FOSSBilling/UpdatePatcher.php
Labels: enhancement, library

#2093 Fix some incorrect typehints
  src/library/FOSSBilling/Fingerprint.php
  src/library/Server/Client.php
Labels: bug, skip-changelog, library

#2094 Strip the CSRF Token before calling API endpoints
  src/modules/Api/Controller/Client.php
Labels: skip-changelog, modules

#2105 Improve CLI check, added PHP dev server to sentry helper
  src/library/FOSSBilling/Environment.php
  src/library/FOSSBilling/SentryHelper.php
Labels: skip-changelog, library

#2108 Fix the password length field while adding a server
  src/modules/Servicehosting/Service.php
Labels: bug, modules

#2101 ✨Add prefix for generated users (continuation)
  src/library/Server/Manager/Directadmin.php
  src/library/Server/Manager/Hestia.php
  src/modules/Servicehosting/html_admin/mod_servicehosting_server.html.twig
Labels: server-managers, extensions, modules, admin-panel
