Repository FOSSBilling/FOSSBilling, pull requests merged in 2025-03, with the labels that each got.

#2619 Bump CI reusable workflows to latest
  .github/workflows/ci.yml
  phpstan-baseline.neon
  src/library/Box/App.php
Labels: github-config, library

#2627 Remove / disable unused functions causing CI failures
  src/library/Box/Event.php
  src/library/Box/EventDispatcher.php
Labels: library

#2585 Visual improvements and other general fixes
  src/themes/admin_default/html/layout_default.html.twig
  src/themes/huraga/html/layout_default.html.twig
Labels: admin-panel

#2366 Allow multiple select for payment gateways
  src/themes/admin_default/html/macro_functions.html.twig
Labels: admin-panel

#2593 fix: various typos
  Dockerfile
  src/library/Box/EventDispatcher.php
  src/library/Box/Exception.php
  src/library/Box/LogDb.php
  src/library/Payment/Adapter/Custom.php
  src/library/Registrar/Adapter/Custom.php
  src/library/Registrar/AdapterAbstract.php
  src/modules/System/Service.php
  src/themes/huraga/assets/scss/huraga.scss
Labels: payment-gateways, extensions, library, modules, domain-registrars

#2626 Refactor initial application loading
  composer.json
  composer.lock
  src/di.php
  src/index.php
  src/library/Box/Event.php
  src/library/Box/EventDispatcher.php
  src/library/FOSSBilling/i18n.php
  src/load.php
  tests/Health Checks/HealthTest.php
Labels: composer, tests/CI, library

#2634 [Draft] Restore live-test Health Checks
  tests/HealthChecks/HealthTest.php
Labels: tests/CI

#2647 Replace maximebf/debugbar with php-debugbar/php-debugbar
  composer.json
  composer.lock
Labels: composer, skip-changelog
