Repository FOSSBilling/FOSSBilling, pull requests merged in 2025-06, with the labels that each got.

#2759 Reworked the Pagination class
  src/di.php
  src/library/Box/Pagination.php
  src/library/FOSSBilling/Pagination.php
  src/modules/Activity/Api/Admin.php
  src/modules/Activity/Service.php
  src/modules/Cart/Api/Admin.php
  src/modules/Client/Api/Admin.php
  src/modules/Client/Api/Client.php
  src/modules/Currency/Api/Admin.php
  src/modules/Custompages/Service.php
  src/modules/Email/Api/Admin.php
  src/modules/Email/Api/Client.php
  src/modules/Hook/Api/Admin.php
  src/modules/Invoice/Api/Admin.php
  src/modules/Invoice/Api/Client.php
  src/modules/Massmailer/Api/Admin.php
  src/modules/News/Api/Admin.php
  src/modules/News/Api/Guest.php
  src/modules/Notification/Api/Admin.php
  src/modules/Order/Api/Admin.php
  src/modules/Order/Api/Client.php
  src/modules/Product/Api/Admin.php
  src/modules/Product/Api/Guest.php
  src/modules/Servicedomain/Api/Admin.php
  src/modules/Servicehosting/Api/Admin.php
  src/modules/Staff/Api/Admin.php
  src/modules/Staff/Service.php
  src/modules/Support/Api/Admin.php
  src/modules/Support/Api/Client.php
  src/modules/Support/Api/Guest.php
  src/modules/Support/Service.php
  src/modules/System/Api/Guest.php
  src/themes/admin_default/html/partial_pagination.html.twig
  src/themes/huraga/html/partial_pagination.html.twig
  tests-legacy/integration/bb-library/Box/DiTest.php
  tests-legacy/modules/Activity/Api/AdminTest.php
  tests-legacy/modules/Cart/Api/AdminTest.php
  tests-legacy/modules/Client/Api/AdminTest.php
  tests-legacy/modules/Client/Api/ClientTest.php
  tests-legacy/modules/Currency/Api/Api_AdminTest.php
  tests-legacy/modules/Email/Api/Api_AdminTest.php
  tests-legacy/modules/Email/Api/Api_ClientTest.php
  tests-legacy/modules/Hook/Api/AdminTest.php
  tests-legacy/modules/Invoice/Api/AdminTest.php
  tests-legacy/modules/Invoice/Api/ClientTest.php
  tests-legacy/modules/Order/Api/Api_AdminTest.php
  tests-legacy/modules/Order/Api/Api_ClientTest.php
  tests-legacy/modules/Product/Api/AdminTest.php
  tests-legacy/modules/Product/Api/GuestTest.php
  tests-legacy/modules/Servicedomain/Api/Api_AdminTest.php
  tests-legacy/modules/Servicehosting/Api/AdminTest.php
  tests-legacy/modules/Staff/Api/AdminTest.php
  tests-legacy/modules/Staff/ServiceTest.php
  tests-legacy/modules/Support/Api/Api_AdminTest.php
  tests-legacy/modules/Support/Api/Api_ClientTest.php
  tests-legacy/modules/Support/Api/Api_GuestTest.php
  tests-legacy/modules/Support/ServiceTest.php
Labels: databases, tests/CI, API, library, modules, admin-panel

#2773 Typos and some untranslatable text
  CONTRIBUTING.md
  cspell.json
  src/install/assets/install.html.twig
  src/load.php
  src/modules/Cookieconsent/html_admin/mod_cookieconsent_index.html.twig
  src/modules/Cookieconsent/html_client/mod_cookieconsent_index.html.twig
  src/modules/Currency/Api/Guest.php
  src/modules/Currency/html_admin/mod_currency_settings.html.twig
  src/modules/Email/html_admin/mod_email_history.html.twig
  src/modules/Email/html_client/mod_email_email.html.twig
  src/modules/Email/html_client/mod_email_index.html.twig
  src/modules/Embed/html_admin/mod_embed_index.html.twig
  src/modules/Extension/html_admin/mod_extension_languages.html.twig
  src/modules/Formbuilder/Api/Admin.php
  src/modules/Formbuilder/html_admin/mod_formbuilder_field.html.twig
  src/modules/Invoice/html_admin/mod_invoice_invoice.html.twig
  src/modules/Invoice/html_client/mod_invoice_invoice.html.twig
  src/modules/Order/html_client/mod_order_manage.html.twig
  src/modules/Orderbutton/html_admin/mod_orderbutton_settings.html.twig
  src/modules/Serviceapikey/html_admin/mod_serviceapikey_config.html.twig
  src/modules/Servicelicense/html_admin/mod_servicelicense_config.html.twig
  src/modules/Support/html_admin/modal/mod_support_new_helpdesk.html.twig
  src/modules/Support/html_client/mod_support_tickets.html.twig
  src/modules/System/html_admin/mod_system_settings.html.twig
  src/modules/Theme/Model/Theme.php
  src/modules/Theme/html_admin/mod_theme_preset.html.twig
  src/themes/admin_default/html/layout_default.html.twig
  src/themes/admin_default/html/mod_index_dashboard.html.twig
  src/themes/admin_default/html/partial_extensions.html.twig
  src/themes/huraga/config/settings.html
  src/themes/huraga/config/settings.html.twig
  src/themes/huraga/html/layout_default.html.twig
Labels: installer, API, modules, admin-panel

#2784 Fix the message for the dangerous functions check
  src/modules/Security/Checks/dangerousFunctions.php
Labels: modules

#2785 Fix admin theme locale picker flags
  src/themes/admin_default/assets/scss/_flags.scss
  src/themes/admin_default/assets/scss/fossbilling.scss
Labels: admin-panel

#2786 Fix permission & navigation bugs
  src/modules/Extension/Service.php
  src/modules/Security/Service.php
  src/modules/Staff/Service.php
  src/modules/Staff/html_admin/mod_staff_manage.html.twig
Labels: bug, modules, admin-panel

#2796 Fixing Direct Server Login from Orders Tab
  src/library/Server/Manager/Whm.php
Labels: server-managers, extensions

#2790 Fix the batch connect logic for hooks
  src/library/FOSSBilling/Exception.php
  src/modules/Hook/Service.php
  tests-legacy/modules/Hook/ServiceTest.php
Labels: bug, tests/CI, library, modules

#2805 WYSIWYG fixes for client area
  src/modules/Order/html_client/mod_order_manage.html.twig
  src/modules/Wysiwyg/html_client/mod_wysiwyg_js.html.twig
Labels: modules
