Repository FOSSBilling/FOSSBilling, pull requests merged in 2025-08, with the labels that each got.

#2842 Add an "Enabled modules" accordion to the "About" tab
  src/modules/System/html_admin/mod_system_settings.html.twig
Labels: modules, admin-panel

#2857 Fix tests
  tests-legacy/modules/Client/ServiceTest.php
Labels: tests/CI, skip-changelog

#2858 Fix module icon loading
  src/modules/Extension/Service.php
Labels: modules

#2869 Update SentryHelper.php
  src/library/FOSSBilling/SentryHelper.php
Labels: library

#2874 Fix cron crashing when sending due reminders
  .ddev/addon-metadata/phpmyadmin/manifest.yaml
  .ddev/commands/host/phpmyadmin
  .ddev/docker-compose.phpmyadmin.yaml
  .ddev/docker-compose.phpmyadmin_norouter.yaml
  src/modules/Invoice/Service.php
Labels: modules, Type: fix

#2875 Fix/checkout before login
  src/modules/Orderbutton/html_client/mod_orderbutton_checkout.html.twig
  src/modules/Orderbutton/html_client/mod_orderbutton_index.html.twig
Labels: modules, Type: fix
