Repository FOSSBilling/FOSSBilling, pull requests merged in 2025-07, with the labels that each got.

#2809 FIx the PHP req mismatch
  package-lock.json
  package.json
  src/library/FOSSBilling/Requirements.php
Labels: npm, library

#2826 Update `Server_Client` to include first and last name
  src/library/Server/Client.php
  src/modules/Servicehosting/Service.php
Labels: library, modules

#2839 Mark myself as a code owner for a few items
  .github/CODEOWNERS
Labels: github-config, skip-changelog
