Repository FOSSBilling/FOSSBilling, pull requests merged in 2025-05, with the labels that each got.

#2719 Fix admin theme switcher issue
  src/themes/admin_default/assets/fossbilling.js
  src/themes/admin_default/html/layout_default.html.twig
  src/themes/admin_default/html/layout_login.html.twig
Labels: admin-panel

#2717 2 new tools and & fix for additional IP address processing logic
  src/library/Box/TwigExtensions.php
  src/library/FOSSBilling/Tools.php
  src/modules/Servicehosting/Service.php
Labels: library, modules

#2723 Fix company bank information not displaying on page footers
  src/modules/System/Service.php
Labels: modules

#2732 Update canned responses and categories
  src/install/sql/content.sql
  src/install/sql/content_test.sql
Labels: installer

#2730 Change of heading level for semantic improvement in client themes
  .github/workflows/live-tests.yml
  src/modules/Client/html_client/mod_client_balance.html.twig
  src/modules/Custompages/html_client/mod_custompages_content.html.twig
  src/modules/Email/html_client/mod_email_index.html.twig
  src/modules/Invoice/html_client/mod_invoice_banklink.html.twig
  src/modules/Invoice/html_client/mod_invoice_index.html.twig
  src/modules/News/html_client/mod_news_index.html.twig
  src/modules/Order/html_client/mod_order_index.html.twig
  src/modules/Order/html_client/mod_order_list.html.twig
  src/modules/Order/html_client/mod_order_manage.html.twig
  src/modules/Order/html_client/mod_order_product.html.twig
  src/modules/Page/html_client/mod_page_about-us.html.twig
  src/modules/Page/html_client/mod_page_login.html.twig
  src/modules/Page/html_client/mod_page_password-reset.html.twig
  src/modules/Page/html_client/mod_page_privacy-policy.html.twig
  src/modules/Page/html_client/mod_page_signup.html.twig
  src/modules/Page/html_client/mod_page_tos.html.twig
  src/modules/Servicedomain/html_client/mod_servicedomain_manage.html.twig
  src/modules/Support/html_client/mod_support_contact_us.html.twig
  src/modules/Support/html_client/mod_support_kb_article.html.twig
  src/modules/Support/html_client/mod_support_kb_category.html.twig
  src/modules/Support/html_client/mod_support_kb_index.html.twig
  src/modules/Support/html_client/mod_support_tickets.html.twig
  src/themes/huraga/assets/scss/huraga.scss
Labels: front-end, github-config, modules

#2741 Adding #chevron-down
  src/themes/admin_default/assets/icons/chevron-down.svg
Labels: admin-panel

#2745 Update live-tests workflow triggers
  .github/workflows/live-tests.yml
Labels: github-config

#2728 New endpoint to list the accounts of a hosting server & Fixes
  src/modules/Servicehosting/Api/Admin.php
  src/modules/Servicehosting/Service.php
  tests-legacy/modules/Servicehosting/Api/AdminTest.php
Labels: tests/CI, API, modules

#2765 Fix DirectAdmin package matching and reseller account creation
  phpstan-baseline.neon
  src/library/Server/Manager/Directadmin.php
Labels: server-managers, extensions

#2750 Fix renewal date extension issue when marking first invoice as paid.
  src/modules/Invoice/Service.php
  src/modules/Order/Service.php
  src/modules/Order/html_admin/mod_order_new.html.twig
  tests-legacy/modules/Order/ServiceTest.php
Labels: tests/CI, modules, admin-panel
