Repository FOSSBilling/FOSSBilling, pull requests merged in 2025-04, with the labels that each got.

#2663 Fixed bug: now removing only related to item addons
  src/modules/Cart/Service.php
Labels: modules, Type: fix

#2666 Fixes cookie consent banner to bottom of window
  src/modules/Cookieconsent/html_client/mod_cookieconsent_index.html.twig
Labels: modules, Type: fix

#2645 Replace `FOSSBilling\Request` with `Symfony\HttpFoundation`
  src/di.php
  src/library/Api/Handler.php
  src/library/Box/App.php
  src/library/FOSSBilling/Request.php
  src/library/FOSSBilling/RequestFile.php
  src/modules/Activity/Api/Admin.php
  src/modules/Activity/Service.php
  src/modules/Api/Controller/Client.php
  src/modules/Api/Service.php
  src/modules/Cart/Service.php
  src/modules/Client/Service.php
  src/modules/Invoice/ServiceTransaction.php
  src/modules/Product/Service.php
  src/modules/Servicedownloadable/Api/Admin.php
  src/modules/Servicedownloadable/Service.php
  src/modules/Spamchecker/Service.php
  src/modules/Support/Service.php
  tests-legacy/modules/Cart/ServiceTest.php
  tests-legacy/modules/Client/ServiceTest.php
  tests-legacy/modules/Invoice/ServiceTransactionTest.php
  tests-legacy/modules/Product/ServiceTest.php
  tests-legacy/modules/Servicedownloadable/Api/AdminTest.php
  tests-legacy/modules/Servicedownloadable/ServiceTest.php
  tests-legacy/modules/Spamchecker/ServiceTest.php
  tests-legacy/modules/Support/ServiceTest.php
Labels: tests/CI, API, library, modules

#2670 Admin theme - sticky top nav
  src/themes/admin_default/assets/scss/fossbilling.scss
  src/themes/admin_default/html/layout_default.html.twig
Labels: admin-panel

#2672 Update SECURITY.md
  SECURITY.md
Labels: skip-changelog

#2679 Tiny little fixes
  src/install/assets/install.html.twig
  src/modules/Orderbutton/html_client/mod_orderbutton_product_configuration.html.twig
  src/modules/Product/html_admin/mod_product_manage.html.twig
  src/modules/Staff/Api/Guest.php
  src/modules/Staff/html_admin/mod_staff_settings.html.twig
Labels: installer, API, modules, admin-panel, Type: fix

#2684 Bump sass-embedded dependency to v1.87.0
  package-lock.json
Labels: npm

#2687 Use z-index to fix nav overflow issue
  src/themes/admin_default/assets/scss/fossbilling.scss
Labels: skip-changelog, admin-panel

#2694 Update dependency @tabler/core to v1.2.0
  package-lock.json
  src/themes/admin_default/assets/fossbilling.js
  src/themes/admin_default/assets/scss/fossbilling.scss
  src/themes/admin_default/package.json
Labels: npm, admin-panel

#2695 Revert "Update dependency @tabler/core to v1.2.0"
  package-lock.json
  src/themes/admin_default/assets/fossbilling.js
  src/themes/admin_default/assets/scss/fossbilling.scss
  src/themes/admin_default/package.json
Labels: npm, admin-panel

#2696 Fixes low contrast admin nav bar in dark mode
  src/themes/admin_default/assets/scss/fossbilling.scss
Labels: admin-panel

#2699 Update dependency @tabler/core to v1.2.0
  package-lock.json
  src/themes/admin_default/assets/fossbilling.js
  src/themes/admin_default/assets/scss/fossbilling.scss
  src/themes/admin_default/package.json
Labels: npm, admin-panel

#2701 Added a link to the documentation for the instance ID
  src/modules/System/html_admin/mod_system_settings.html.twig
Labels: modules, admin-panel
