Repository FOSSBilling/FOSSBilling, pull requests merged in 2025-02, with the labels that each got.

#2591 Fix: old translations were being downloaded
  .github/workflows/release-build.yml
Labels: bug, github-config, Type: fix

#2597 Fixed the background color of the support tickets
  src/modules/Support/html_client/mod_support_ticket.html.twig
Labels: bug, modules

#2604 Add serialize-javascript override to bump to v6.0.2
  src/modules/Wysiwyg/package.json
Labels: modules

#2605 Fix apexcharts dependency override
  src/themes/admin_default/package.json
Labels: admin-panel

#2606 Move apexcharts override to root package.json
  package.json
  src/themes/admin_default/package.json
Labels: npm, admin-panel

#2607 Update package-lock.json
  .github/workflows/release-build.yml
  package-lock.json
Labels: github-config, npm

#2608 Move serialize-javascript override to root package.json
  package.json
  src/modules/Wysiwyg/package.json
Labels: npm, modules
